<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>全球旅拍惊艳巨献8.8折</title>
	<meta name="keywords" content="全球旅拍惊艳巨献8.8折" />
	<meta name="description" content="全球旅拍惊艳巨献8.8折_daoxila.com" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	    <link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap.png" />
    <link href="__PUBLIC__/css/5117a82ba715440e8de377de23bbb8d8.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/aa9f02f0c5f54ae9a13819509adbe51a.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/1607.css">
	<script type="text/javascript" src="__PUBLIC__/js/1607.js"></script>
    </head>
<script>
var opts = {
		ID : "1232",		//活动id
		city : "",		//活动的城市
		time : "2017/04/30 23:59:59",	//截止日期 格式："2015/12/30"
		promotion_sign: "全球旅拍惊艳巨献8.8折",	 //下单标识
	    coupon_id : "0",  //优惠券id
	    order_pro : "3",
	    pro_smsflag : "0"
	}
</script>
<body>
	<header>
		<div class="secTitMain">
			<a class="prev"></a>
			全球旅拍惊艳巨献8.8折			<a href="/" class="home"></a>
		</div>
	</header>
	<!--顶部tit e-->
	
	<div id="cityMain">
		<img src="__PUBLIC__/picture/20170407095591490.jpg">
		<!--<div class="cityEnter">
			<p><i>上海站</i><span>切换</span></p>
		</div>-->
	</div>
	<!--城市选择 e-->
		<div id="return">
		<div class="timeMain">
			<p>距离活动结束：
				<span class="timeBox"><i class="day"></i>天<i class="hour"></i>时<i class="min"></i>分</span>
			</p>
		</div>
		<div class="rules">
			<h3>活动简介：</h3>
			<p>1.点击“咨询商家”按钮，填写报名信息，我们的客服会尽快联系您。
2.此活动仅限于到喜啦合作商户
3.活动时间：2017.4.1-2017.4.30</p>
			<div class="getReturn">咨询商家</div>
		</div>
	</div>
		<!--领取返现 e-->
	
		    <div class="activeRule" style="background:;">
			<p><p><img src="__PUBLIC__/picture/20170407095719179.jpg" _src="https://iq.dxlfile.com/promotion/large/2017-04/20170407095719179.jpg"/><img src="__PUBLIC__/picture/20170407095783446.jpg" _src="https://iq.dxlfile.com/promotion/large/2017-04/20170407095783446.jpg"/><img src="__PUBLIC__/picture/20170407095761849.jpg" _src="https://iq.dxlfile.com/promotion/large/2017-04/20170407095761849.jpg"/><img src="__PUBLIC__/picture/20170407095767813.jpg" _src="https://iq.dxlfile.com/promotion/large/2017-04/20170407095767813.jpg"/><img src="__PUBLIC__/picture/20170407095775088.jpg" _src="https://iq.dxlfile.com/promotion/large/2017-04/20170407095775088.jpg"/></p></p>
		</div> 
		<!--活动规则  e-->
	
		
	<!--婚宴  e-->
		</div>
	
	<!--婚纱  e-->
	
	<!--婚礼策划  e-->

    	
	<div id="pinPai">
			</div>
	<!--品牌专区  e-->
		<div class="botHeight"></div>
	<!--距离底部间距  e-->
	<div class="botEntry">
		<input type="tel" class="mobile" placeholder="请输入手机号" maxlength="11">
		<div class="toEntry">咨询商家</div>
	</div>
		<!--底部报名入口  e-->
</body>

</html>