<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>【港鸿大酒店】(图)_婚宴预订/菜单价格-上海 - 到喜啦</title>
<meta name="keywords" content="港鸿大酒店,港鸿大酒店婚宴预定,港鸿大酒店喜宴预订" />
<meta name="description" content="到喜啦(DaoXiLa.com),上海婚宴酒店预订知名品牌，提供港鸿大酒店婚宴预订、实时的港鸿大酒店喜宴预订、促销活动等信息，即刻预订婚宴就赠超值大礼。订婚宴,就选到喜啦！" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />  
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="full-screen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_hotel.png"/>
<link href="css/dedc05c10733495890d3d0fd019fb44a.css" rel="stylesheet" type="text/css"/> 
<script src="js/8e0c49d0a4f24df89ecc442eaf05028b.js"></script> 
</head>

<body>
	<header>
		<a class="prev"></a>
		<div class="riIcon clearfix">
			<a class="collect notCollect" data-collect="0" data-id="5404"></a> 
			<a href="#" class="screen"></a>
		</div>
	</header>
	<!-- header end -->
	
	<section id="topImg">
		<div class="TopImgBox">
			
				<img src="picture/20160302162131143.jpg">
			
		</div>
		<div class="topInfos">
			<h1>港鸿大酒店</h1>
			<div class="pinglun">
				<span class="le"><i style="width:80%;"></i></span>
				<span class="ri">278条评论</span>
			</div>
			<div class="pirce">
				<span class="le">￥3388-5888/桌</span>
				
			</div>
			
		</div>
	</section>
	<!-- 头图/酒店名/价格 end -->
	
	<section id="hui" class="items">
		<ul>
			
			
			
				<li><i>[订单礼]</i>下单立享结婚大礼包！</li>
			
			
		</ul>
	</section>		
	<!-- 特惠礼/到店礼/订单礼 end -->
	
	<section id="map" class="items">
		<ul>
			<li><a href="//m.daoxila.com/sh/HunYan/GangHong-Map"><span>武宁路</span><span class="shopBusy">【商家繁忙，请提前预约】</span></a></li>
			<li class="checkInfoDialog">酒店详情介绍 </li>
			
				<li><a href="tel:4006553179 分机号 15404">4006553179 分机号 15404<i>联系商家</i></a></li>
			
		</ul>
	</section>
	<!-- 地图 end -->
	
	<section id="yanhuiting" class="items">
		<h3 class="tit">宴会厅(5)</h3>
		<ul>
			
				<li class="clearfix">
					<div class="le">
						
							<img src="picture/20160302162491467.jpg">
						
						<div class="leInfo">
							<h4>宴会厅 2F</h4>
							<h5>32桌</h5>
							<p>
								  
								
							</p>
						</div>
						
					</div>
					<div class="ri dqBtn">查询档期</div>
				</li>
			
				<li class="clearfix">
					<div class="le">
						
							<img src="picture/20151015142750792.jpg">
						
						<div class="leInfo">
							<h4>中餐厅 3F</h4>
							<h5>25桌</h5>
							<p>
								  
								
							</p>
						</div>
						
					</div>
					<div class="ri dqBtn">查询档期</div>
				</li>
			
				<li class="clearfix">
					<div class="le">
						
							<img src="picture/20160302162131143.jpg">
						
						<div class="leInfo">
							<h4>世纪厅 2F</h4>
							<h5>20桌</h5>
							<p>
								  
								
							</p>
						</div>
						
					</div>
					<div class="ri dqBtn">查询档期</div>
				</li>
			
				<li class="clearfix">
					<div class="le">
						
							<img src="picture/20151015142721530.jpg">
						
						<div class="leInfo">
							<h4>世博厅 2F</h4>
							<h5>15桌</h5>
							<p>
								  
								
							</p>
						</div>
						
					</div>
					<div class="ri dqBtn">查询档期</div>
				</li>
			
				<li class="clearfix">
					<div class="le">
						
							<img src="picture/20150114094528457.jpg">
						
						<div class="leInfo">
							<h4>博望厅 2F</h4>
							<h5>10桌</h5>
							<p>
								  
								
							</p>
						</div>
						
					</div>
					<div class="ri dqBtn">查询档期</div>
				</li>
			
		</ul>
		<div class="more">查看全部5个宴会厅<i></i></div>
	</section>
	<!-- 宴会厅 end -->
	
	<section id="menus" class="items">
		<h3 class="tit">婚宴菜单</h3>
		<ul>
			
				
					<li><a href="//m.daoxila.com/sh/HunYan/GangHong-Menu#y0">佳偶天成宴<span>¥3388/桌</span></a></li>
				
			
				
					<li><a href="//m.daoxila.com/sh/HunYan/GangHong-Menu#y1">百年好合宴<span>¥3888/桌</span></a></li>
				
			
				
					<li><a href="//m.daoxila.com/sh/HunYan/GangHong-Menu#y2">永结同心宴<span>¥4288/桌</span></a></li>
				
			
				
			
				
			
				
			
		</ul>
		
			<div class="more"><a href="//m.daoxila.com/sh/HunYan/GangHong-Menu">查看全部6个菜单</a></div>
		
	</section>
	<!-- 婚宴菜单 end -->
	
	<section id="pingLun" class="items">
		<h3 class="tit">评论</h3>	
		<ul>
			
				
					<li>  
						<a href="//m.daoxila.com/sh/HunYan/GangHong-Review">
							<img src="picture/201502051444084646.jpg" class="le">
							<div class="ri">
								<h3>谷谷	<p class="star"><span class="s2" style="width:100%;"></span></p></h3>
								<div>同学结婚，2楼场子层高有点压抑，其他不错，顶上一路水晶灯很漂亮，地毯很厚又软，穿高跟鞋一点不吃力，婚宴得酒水都差不多，开得26层婚房看出去还是挺舒服得</div>
								<dl class="clearfix">
									
										<dd><img src="picture/20160719140073149.png"></dd>
									
										<dd><img src="picture/20160719140029951.png"></dd>
									
										<dd><img src="picture/20160719140065852.png"></dd>
									
										<dd><img src="picture/20160719140085486.png"></dd>
									
								</dl>
							</div>
						</a>
					</li>
				
			
				
					<li>  
						<a href="//m.daoxila.com/sh/HunYan/GangHong-Review">
							<img src="picture/2015031915552842440.jpg" class="le">
							<div class="ri">
								<h3>丘岳	<p class="star"><span class="s2" style="width:100%;"></span></p></h3>
								<div>厅略长层略低 不适合桌球多 菜的性价比绝对高 如果想要性价比的绝对要选这家 门口略旧婚宴需要好好布置 待考虑</div>
								<dl class="clearfix">
									
										<dd><img src="picture/20160719135885804.png"></dd>
									
								</dl>
							</div>
						</a>
					</li>
				
			
				
			
				
			
		</ul>
		
			<div class="more"><a href="//m.daoxila.com/sh/HunYan/GangHong-Review">查看全部278条评价</a></div>
		
	</section>
	<!-- 评论 end -->
	
	<section id="mayEnjoy" class="items">
		<h3 class="tit">您可能会喜欢</h3>	
		<ul>
	   		
	   			
					<li>
						<a href="//m.daoxila.com/sh/HunYan/meiguihundian-Info">
							
								<img class="sellTXLe" src="picture/20150112110307536.jpg" >
							
							<div class="sellTXRi">
								<h3>
									<span>玫瑰婚典壹号婚礼会馆</span>
									<i class="li"></i>
									<i class="hui"></i>
									
								</h3>
								<div class="price">
									<span class="ri">桌数：23</span>
									<p class="le">￥6388 -￥6388</p>
								</div>
								<div class="info">
									<span class="le">婚礼会所</span>
									<span class="ri">
										<i>普陀区</i>
									</span>
								</div>
							</div>
						</a>
					</li>
	  			
	   		
	   			
					<li>
						<a href="//m.daoxila.com/sh/HunYan/HuaJiaLiShe-ChangFeng-Info">
							
								<img class="sellTXLe" src="picture/20141105133601155.jpg" >
							
							<div class="sellTXRi">
								<h3>
									<span>花嫁丽舍私人婚礼会所（长风店）</span>
									<i class="li"></i>
									
									
								</h3>
								<div class="price">
									<span class="ri">桌数：25</span>
									<p class="le">￥5888 -￥8888</p>
								</div>
								<div class="info">
									<span class="le">婚礼会所</span>
									<span class="ri">
										<i>普陀区</i>
									</span>
								</div>
							</div>
						</a>
					</li>
	  			
	   		
	   			
	   		
		</ul>
	</section>
	<!-- 您可能会喜欢 end -->
	
	<aside id="tooBar">
		 <ul>
		 	<li class="online"><i>在线咨询</i></li>
		 	<li class="contact">
		 		
		 			<a href="tel:4006553179 分机号 15404">
						<i>联系商家</i>
					</a>
				
		 	</li>
		 	<li class="dangqi dqBtn">查询档期</li>
		 	<li class="yuyue">预约看店</li>
		 </ul>
	</aside>
	<!-- 底部工具条 end -->
	
	<section id="huiDialog">
		<div class="dialogWrap">
			<h3 class="diaH3Tit"><span></span>优惠详情</h3>
			<div class="info">
				
				
				
					<div class="dingDanLi infoItem" liTag="d2">
						<h3>通过到喜啦预约婚宴,即获得结婚大礼包！</h3>
						<div>
							
								<p>附赠礼品券封套</p>
							
								<p>贺露思红酒优惠礼券</p>
							
								<p>e盒印喜糖盒一份</p>
							
								<p>送价值300元love系列婚宴请柬</p>
							
								<p>精品红酒 婚宴消费1万元以上赠送1箱</p>
							
								<p>消费满3万元及以上赠送精美储物盒</p>
							
								<p>消费满7万元及以上赠送1个时尚小家电</p>
							
						</div>
					</div>
				
				
			</div>
			<div class="order clearfix">
				<input type="tel" placeholder="输入您的手机号码" maxlength="11">
				<span class="toOrder">领取优惠</span>
			</div>
		</div>
	</section>
	<!-- 优惠详情弹层 end -->
	
	<section id="infoDialog">
		<div class="dialogWrap">
			<h3 class="diaH3Tit"><span></span>酒店简介</h3>
			<div class="info">
				<div class="jianjie infoItem">
					<h3>酒店简介</h3>
					<div class="jianjieCon">
						<div>港鸿大酒店位于普陀中心地带，是一家四星级商务酒店，地铁3、4、11号线可直达，为您出行提供便利，本店另设三层地下车库，可放百量轿车。我们致力于打造独特婚礼中心，全年为新人准备充足宴会档期，婚礼盛典就在港鸿。
港鸿大酒店共设有五个宴会厅，二楼宴会厅专为新人开设别具一格的婚礼会所，装修精良，迎宾区宽畅明亮。无论您的梦想婚礼是时尚型还是传统型，是雅致型还是奢华型，我们都能让您美梦成真。
酒店经营本帮菜、川菜、粤菜，采用新鲜食材，特邀沪上大厨掌勺，厨艺高超。中等定价，菜肴性价比超高，在这里举办您的婚宴将为您开启美妙的人生体验。在您大婚的日子，将成为您人生中美好和梦幻的回忆。</div>
					</div>
				</div>
				<div class="tese infoItem">
					<h3>特色服务</h3>
					<div class="serviceItem">
						
							<p>服务费：</p>
						
						
							<p>停车费：</p>
						
						
						
							<p>草坪：</p>
						
						
							<p>婚房：</p>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- 酒店详情 end -->
	
	<section id="yuyueOrder">
		<div class="yy_1">
			<h3>到喜啦独家优惠，预约即可领取</h3>
			<ul>
				
				
				
					<li><i>[订单礼]</i>下单立享结婚大礼包</li>
				
				
			</ul>
			<div class="closeY"></div>
		</div>
		<div class="yy_2">
			<h3>留下您的联系方式，我们会尽快联系您</h3>
			<p class="clearfix">
				<input type="tel" class="mobile" maxlength="11" placeholder="请输入手机号码，预约即可领取">
				<span class="toOrder">提交</span>
			</p>
		</div>
	</section>
	<!-- 预约看店 end -->
	
	<section id="yhtDialog">
		<div class="yhtDiaCon">
			<div class="top"></div>
			<div id="yhtDomList">
				<ul>
					
						<li class="yhtDom">
							
								<div class="photoDiv">
									<img src="picture/20160302162491467.jpg">
									
								</div>
							
							<div class="yhtInfo">
								<div class="yhtTitle clearfix">
									<h4>宴会厅 2F</h4>
									<p class="num"><span>1</span>/5</p>
								</div>
								<div class="yhtData">
									<p>
										<span>最佳桌数：32桌</span>
										
											<span>面积：600m</span>
										
										
									</p>
								</div>
							</div>
						</li>
					
						<li class="yhtDom">
							
								<div class="photoDiv">
									<img src="picture/20151015142750792.jpg">
									
								</div>
							
							<div class="yhtInfo">
								<div class="yhtTitle clearfix">
									<h4>中餐厅 3F</h4>
									<p class="num"><span>2</span>/5</p>
								</div>
								<div class="yhtData">
									<p>
										<span>最佳桌数：25桌</span>
										
											<span>面积：400m</span>
										
										
									</p>
								</div>
							</div>
						</li>
					
						<li class="yhtDom">
							
								<div class="photoDiv">
									<img src="picture/20160302162131143.jpg">
									
								</div>
							
							<div class="yhtInfo">
								<div class="yhtTitle clearfix">
									<h4>世纪厅 2F</h4>
									<p class="num"><span>3</span>/5</p>
								</div>
								<div class="yhtData">
									<p>
										<span>最佳桌数：20桌</span>
										
											<span>面积：350m</span>
										
										
									</p>
								</div>
							</div>
						</li>
					
						<li class="yhtDom">
							
								<div class="photoDiv">
									<img src="picture/20151015142721530.jpg">
									
								</div>
							
							<div class="yhtInfo">
								<div class="yhtTitle clearfix">
									<h4>世博厅 2F</h4>
									<p class="num"><span>4</span>/5</p>
								</div>
								<div class="yhtData">
									<p>
										<span>最佳桌数：15桌</span>
										
											<span>面积：300m</span>
										
										
									</p>
								</div>
							</div>
						</li>
					
						<li class="yhtDom">
							
								<div class="photoDiv">
									<img src="picture/20150114094528457.jpg">
									
								</div>
							
							<div class="yhtInfo">
								<div class="yhtTitle clearfix">
									<h4>博望厅 2F</h4>
									<p class="num"><span>5</span>/5</p>
								</div>
								<div class="yhtData">
									<p>
										<span>最佳桌数：10桌</span>
										
											<span>面积：200m</span>
										
										
									</p>
								</div>
							</div>
						</li>
					
				</ul>
			</div>
			<div class="bottom">
				<input type="tel" class="phoneNum" placeholder="请输入11位手机号" maxlength="11">
				<div class="sure">查询档期</div>
			</div>
		</div>
	</section>
	<!-- 宴会厅图片弹层 end -->
	
	<section id="onLineDialog">
		<span class="toLine">在线客服实时解答</span>
		<span class="noLine">取消</span>
	</section>
	<!-- 在线咨询弹层 end -->
	
	<section id="dqDialog">
		<div class="dqDiaCon">
			<h3 class="diaH3Tit"><span></span>查询档期</h3>
			<div class="dqDiaInfo">
				<p class="dqNames">查询宴会厅：<span>摩洛哥厅</span></p>
				<p class="dqTips">输入您想查询的档期及手机号码，我们会为您<br>提供实时档期信息</p>
				<div class="dqCale">
					<p class="dqCaleDate"></p>
				</div>
				<div class="dqMobile">
					<input type="tel" class="mobileIn" placeholder="请输入手机号码" maxlength="11">
					<span class="clearMobile"></span>
				</div>
				<div class="submit">提交</div>
			</div>
		</div>
	</section>
	<!-- 档期查询弹层 end -->
	
</body>
</html>
