<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            【HT 婚礼企划_婚庆公司】(图)婚礼案例，现场布置-上海 - 到喜啦
        </title>
        <meta name="keywords" content="HT 婚礼企划,HT 婚礼企划婚礼案例,HT 婚礼企划婚庆公司" />
        <meta name="description" content="到喜啦(DaoXiLa.com)，中国结婚网站知名品牌,【预订HT 婚礼企划即送超值大礼包】,到喜啦为您提供HT 婚礼企划婚庆套餐报价,婚礼策划方案,婚庆现场布置案例。" />


        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="full-screen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_qing.png"/>
<link href="css/380ebff27f6f4e2f92910dabb268727d.css" rel="stylesheet" type="text/css" />

<script src="js/b341ac3e7dfe42948c2bed6353020aa1.js"></script>



<link rel="stylesheet" type="text/css" href="css/1605.css">
<script src="js/1605.js"></script>
    </head>

    <body _bizid="6712">

        <header>
        <div class="secTitMain redSquare">
            <a href="/sh/HunQing/" class="prev"></a>商家详情
            <div class="riIcon clearfix">
                <a href="#" class="screen"></a>
            </div>
        </div>
        </header>
        <!-- 顶部 end -->

        <section id="hunDetail" biz_id="6712" biz_url="HaoTian">
        <img src="picture/20161121172771132.jpg">

        <div class="detailTit">
            <h3>HT 婚礼企划</h3>
            <p>￥
            <i>11888</i>-<i>25888</i>			</p>
        </div>

	        <ul class="detailHui">
            <!--  
                        -->
            <li class='daoDianLi' litag='d1'><i>到店礼</i> <span>价值880元禧善净肤护理套餐</span></li>            
        </ul>
            <div class="receive-div"></div>
        <div class="detailBtnCon">
            <div class="detailBtn">
                <a href="#" class="online"></a>
				<a class="collect"></a>
				<a class="kandian">预约看店</a>
            </div>
        </div>
        </section>
        <!-- 商家详情 end -->

                <section id="angli">
        <div class="publicWidth">
            <h1 class="tit">商家案例</h1>
            <ul class="clearfix">
                                <li>
                <a href="/sh/HunQing/HaoTian-photo-7047">
                    <img _src="picture/20161121172771132.jpg">
                    <h3>线上婚博会特惠套系</h3>
                                        <div class="color">
                        <i>颜色</i>
                        <p>
                                                        <span class="pink"></span>
                                                        <span class="white"></span>
                                                    </p>
                    </div>
                                                            <div class="price">
                        <i>价格</i>
                        <p>￥16300</p>
                    </div>
                                    </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-photo-5485">
                    <img _src="picture/20160106164314949.jpg">
                    <h3>Lost in Fairland</h3>
                                        <div class="color">
                        <i>颜色</i>
                        <p>
                                                        <span class="roseo"></span>
                                                        <span class="purple"></span>
                                                    </p>
                    </div>
                                                            <div class="price">
                        <i>价格</i>
                        <p>￥55888</p>
                    </div>
                                    </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-photo-2716">
                    <img _src="picture/20151105132263995.jpg">
                    <h3>Bohemias</h3>
                                        <div class="color">
                        <i>颜色</i>
                        <p>
                                                        <span class="green"></span>
                                                        <span class="roseo"></span>
                                                        <span class="blue"></span>
                                                    </p>
                    </div>
                                                            <div class="price">
                        <i>价格</i>
                        <p>￥11888</p>
                    </div>
                                    </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-photo-2714">
                    <img _src="picture/20151105131930035.jpg">
                    <h3>爱生恋一世</h3>
                                        <div class="color">
                        <i>颜色</i>
                        <p>
                                                        <span class="roseo"></span>
                                                        <span class="blue"></span>
                                                        <span class="white"></span>
                                                    </p>
                    </div>
                                                            <div class="price">
                        <i>价格</i>
                        <p>￥13888</p>
                    </div>
                                    </a>
                </li>
                            </ul>
                        <div class="more"><a href="/sh/HunQing/HaoTian-photo">查看全部35个案例</a><i></i></div>
                    </div>
        </section>
                <!-- 商家案例 end -->

                <section id="taocan">
        <div class="publicWidth">
            <h1 class="tit">商家套系</h1>
            <ul class="clearfix">
                                <li>
                <a href="/sh/HunQing/HaoTian-Menu-1581">
                <span>绽放系列</span><p>￥11888</p>
                </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-Menu-1582">
                <span>执着系列</span><p>￥13888</p>
                </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-Menu-4636">
                <span>线上婚博会特惠套系</span><p>￥16300</p>
                </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-Menu-1583">
                <span>任性系列</span><p>￥16888</p>
                </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-Menu-1584">
                <span>纵情系列</span><p>￥19888</p>
                </a>
                </li>
                                <li>
                <a href="/sh/HunQing/HaoTian-Menu-1585">
                <span>HT系列</span><p>￥25888</p>
                </a>
                </li>
                            </ul>
                        <div class="more"><a>查看全部6个套系</a><i></i></div>
                    </div>
        
        </section>
        <!-- 商家套餐 end -->

        <section id="places">
        <div class="publicWidth">
            <dl class="clearfix">
                <dt>乌镇路新疆路口凯旋门大楼西部23B</dt>
                <dd><a href="tel:400-820-1709">联系商家</a></dd>
            </dl>
            <ul>
                                <li>宾阳路20号</li>
                            </ul>
                        <div class="more"><a>其他1家分店</a><i></i></div>
                    </div>
        </section>
        <!-- 分店地址 end -->

        <section id="mayEnjoy">
        <div class="publicWidth">
            <h3 class="tit">您可能会喜欢</h3>
            <ul>
                <li>
                <a href="/sh/HunQing/XiShangMeiShaoHunQing-Info">
                    <img class="sellTXLe" src="picture/20160411094057933.jpg" >
                    <div class="sellTXRi">
                        <h3><span>喜上眉梢婚庆</span>
                                                                                    <!--  
                                                        -->
                                                        <i class="fu"></i>
                                                        
                        </h3>
                        <div class="returnCash">
                            <p class="oldPrice">￥<span>
                                <i>9880</i>-<i>39800</i>    </span></p>
                        </div>
                        <div class="info">
                        <span>奢华&nbsp;清新&nbsp;童话</span>
                            <i>浦东新区</i>
                        </div>
                    </div>
                </a>
                </li>
                                <li>
                    <a href="/sh/HunShaSheYing/ShengLaWei-Info">
                    <img class="sellTXLe" src="picture/20161121173568879.jpg" >
                    <div class="sellTXRi">
                    <h3>
                        <span>圣拉维环球旅拍婚纱摄影</span>
                                                                                                                                                         </h3>
                        <div class="returnCash">
                            <p class="oldPrice">￥<span>2017</span>起</p>
                            <!-- 
                                                         -->
                        </div>
                        <div class="info">
                        <span>韩式&nbsp;欧式&nbsp;中式&nbsp;个性&nbsp;微电影</span>
                            <i>浦东新区</i>
                        </div>
                    </div>
                </a>
                </li>
                                <li>
                <a href="/sh/HunYan/WeiTingPinCui-Info">
                    <img class="sellTXLe" src="picture/20160112152195505.jpg" >
                    <div class="sellTXRi">
                        <h3>
                            <span>薇婷故事·品粹联合馆</span>
                                                        <i class="li"></i>
                                                                                </h3>
                        <div class="returnCash">
                            <p class="oldPrice">￥<span>3988-6988</span>/桌</p>
                        </div>
                        <div class="info">
                            <span>最大容纳：25桌</span>
                            <i>卢湾区</i>
                        </div>
                    </div>
                </a>
                </li>
                <p class="noMore">没有更多了哦</p>
            </ul>
        </div>
        </section>
        <!-- 您可能会喜欢 end -->

        <section id="huiDetails">
        <div class="dialogWrap">
            <h1>到喜啦会员独享<span class="cancel">取消</span></h1>
            <div class="info">
                
  <div class='daoDianLi infoItem' litag='d1'>
                    <h3>预约到店就送</h3>
                    <div>
                        <p>价值880元禧善净肤护理套餐</p>
                    </div>
                </div>            </div>
            <div class="order clearfix">
                <input type="tel" placeholder="输入您的手机号码" maxlength="11">
                <span>领取优惠</span>
            </div>
        </div>
        </section>
        <!-- 到喜啦会员独享 end -->

        <section id="huiInfo">
        <div class="dialogWrap">
            <h1>预约看店<span>取消</span></h1>
            <div class="info">
                <h3>留下您的联系方式<br>稍后商家会联系您确认看店事宜</h3>
                <input type="tel" placeholder="输入您的手机号码" maxlength="11">
                <div>提 交</div>
            </div>
        </div>
        </section>
        <!-- 预约看店 end -->



    </body>
</html>
