<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>【婚庆酒店大全_婚宴预订】排名,价格-北京- 到喜啦移动版</title>
	<meta name="keywords" content="北京婚宴酒店,婚宴预订,婚宴价格" />
	<meta name="description" content="到喜啦免费为您提供北京婚宴预订，菜单、价格，以及最新优惠信息，预订婚宴即送超值大礼包。婚宴热线：400-820-1709" />

	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_hotel.png"/>
	<link href="css/hunyanlist-w.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<header>
		<div class="secTitMain redSquare">
			<a href="/" class="prev"></a>
			<h1 class="LogoName">
				<span>婚宴酒店</span>
			</h1>
			<div class="riIcon clearfix">
				<a class="search"></a>
			</div>
		</div>
	</header>
	<!-- 顶部 end -->

	<section id="sellerSort">
		<div class="allSeller sortNav">
			<div class="selectShow" data-type="1"><span>全部商区</span><i class="sortIconI"></i></div>
			<div class="popup">
				<ul>
					<li data-url=""><a href="//m.daoxila.com/bj/HunYan-List">全部商区</a></li>
					
						<li data-url="Region-ChaoYang"><a href="//m.daoxila.com/bj/HunYan-List/Region-ChaoYang" >朝阳区</a></li>
					
						<li data-url="Region-HaiDian"><a href="//m.daoxila.com/bj/HunYan-List/Region-HaiDian" >海淀区</a></li>
					
						<li data-url="Region-DongCheng"><a href="//m.daoxila.com/bj/HunYan-List/Region-DongCheng" >东城区</a></li>
					
						<li data-url="Region-XiCheng"><a href="//m.daoxila.com/bj/HunYan-List/Region-XiCheng" >西城区</a></li>
					
						<li data-url="Region-FengTai"><a href="//m.daoxila.com/bj/HunYan-List/Region-FengTai" >丰台区</a></li>
					
						<li data-url="Region-ChangPing"><a href="//m.daoxila.com/bj/HunYan-List/Region-ChangPing" >昌平区</a></li>
					
						<li data-url="Region-TongZhou"><a href="//m.daoxila.com/bj/HunYan-List/Region-TongZhou" >通州区</a></li>
					
						<li data-url="Region-DaXing"><a href="//m.daoxila.com/bj/HunYan-List/Region-DaXing" >大兴区</a></li>
					
						<li data-url="Region-ShiJingShan"><a href="//m.daoxila.com/bj/HunYan-List/Region-ShiJingShan" >石景山区</a></li>
					
						<li data-url="Region-BeiJingJinJiao"><a href="//m.daoxila.com/bj/HunYan-List/Region-BeiJingJinJiao" >近郊</a></li>
					
						<li data-url="Region-XuanWuQu"><a href="//m.daoxila.com/bj/HunYan-List/Region-XuanWuQu" >宣武区</a></li>
					
						<li data-url="Region-ShunYi"><a href="//m.daoxila.com/bj/HunYan-List/Region-ShunYi" >顺义区</a></li>
					
						<li data-url="Region-ChongWen"><a href="//m.daoxila.com/bj/HunYan-List/Region-ChongWen" >崇文区</a></li>
					
						<li data-url="Region-FangShan"><a href="//m.daoxila.com/bj/HunYan-List/Region-FangShan" >房山区</a></li>
					
						<li data-url="Region-HuaiRou"><a href="//m.daoxila.com/bj/HunYan-List/Region-HuaiRou" >怀柔区</a></li>
					
				</ul>
			</div>
		</div>
		<!--全部商区 end-->

		<div class="allStyle sortNav">
			<div class="selectShow" data-type="2"><span>全部商户</span><i class="sortIconI"></i></div>
			<div class="popup">
				<div class="actived">
					<div class="selectTag">婚宴酒店</div>
					<ul class="allStyleType">
						<li data-url=""><a href="//m.daoxila.com/bj/HunYan-List">全部商户</a></li>
						
							<li data-url="Type-CanTing"><a href="//m.daoxila.com/bj/HunYan-List/Type-CanTing">特色餐厅</a></li>
						
							<li data-url="Type-JiuDian"><a href="//m.daoxila.com/bj/HunYan-List/Type-JiuDian">星级酒店</a></li>
						
							<li data-url="Type-HuiSuo"><a href="//m.daoxila.com/bj/HunYan-List/Type-HuiSuo">婚礼会所</a></li>
						
							<li data-url="Type-YangFang"><a href="//m.daoxila.com/bj/HunYan-List/Type-YangFang">花园洋房</a></li>
						
							<li data-url="Type-YouLun"><a href="//m.daoxila.com/bj/HunYan-List/Type-YouLun">游轮婚礼</a></li>
						
					</ul>
				</div>
				<div>
					<div class="selectTag">婚纱摄影</div>
					<ul>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/">全部商家</a></li>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/OuShi/">欧式</a></li>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/HanShi/">韩式</a></li>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/GeXing/">个性</a></li>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/ZhongShi/">中式</a></li>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/LvPai/">旅拍</a></li>
						<li><a href="//m.daoxila.com/bj/HunShaSheYing/WeiDianYing/">微电影</a></li>
					</ul>
				</div>
				<div>
					<div class="selectTag">婚礼策划</div>
					<ul>
						<li><a href="//m.daoxila.com/bj/HunQing/">全部风格</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/shehua/">奢华</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/yinglun/">英伦</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/qingxin/">清新</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/tonghua/">童话</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/senxi/">森系</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/zhongshi/">中式</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/fugu/">复古</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/huwai/">户外</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/caoping/">草坪</a></li>
						<li><a href="//m.daoxila.com/bj/HunQing/haiyang/">海洋</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--全部商户 end-->
		<div class="smartSort sortNav">
			<div class="selectShow" data-type="3"><span>智能排序</span><i class="sortIconI"></i></div>
			<div class="popup">
				<ul>
					
					
						<li data-url="Sort-0"><a href="//m.daoxila.com/bj/HunYan-List/Sort-0">智能排序</a></li>
					
						<li data-url="Sort-1"><a href="//m.daoxila.com/bj/HunYan-List/Sort-1">评分最高</a></li>
					
						<li data-url="Sort-2"><a href="//m.daoxila.com/bj/HunYan-List/Sort-2">环境最佳</a></li>
					
						<li data-url="Sort-3"><a href="//m.daoxila.com/bj/HunYan-List/Sort-3">菜品最佳</a></li>
					
						<li data-url="Sort-4"><a href="//m.daoxila.com/bj/HunYan-List/Sort-4">服务最佳</a></li>
					
						<li data-url="Sort-5"><a href="//m.daoxila.com/bj/HunYan-List/Sort-5">价格最低</a></li>
					
						<li data-url="Sort-6"><a href="//m.daoxila.com/bj/HunYan-List/Sort-6">价格最高</a></li>
					
				</ul>
			</div>
		</div>
		<!--智能排序 end-->
		<div class="defaultSort sortNav">
			<div class="selectShow" data-type="4"><span>筛选</span><i class="sortIconI"></i></div>
			<div class="popup popForFilter">
				<div class="group discounts">
					<h3>折扣和优惠</h3>
					<div class="clearfix">
						<span>有礼包</span><span>有优惠</span>
					</div>
				</div>
				<div class="group priceRange">
					<h3>价格区间（元）</h3>
					<div class="spanItem">
						<p class="priceP1 clearfix">
							<span data-url="Price-0,4000">4000元以下</span>
							<span data-url="Price-4000,5000">4000-5000</span>
							<span data-url="Price-5000,6000">5000-6000</span>
							<span data-url="Price-6000">6000元以上</span>
						</p>
						<!-- <p class="priceP2 clearfix">
							<span class="dSpanInput"><input type="text" placeholder=""></span>
							<span class="dSpanInput"><input type="text" placeholder=""></span>
						</p> -->
					</div>
				</div>
				<div class="group tables">
					<h3>桌数</h3>
					<div class="spanItem clearfix">
						<span data-url="Desk-0,10">10桌以下</span>
						<span data-url="Desk-10,20">10-20桌</span>
						<span data-url="Desk-20,30">20-30桌</span>
						<span data-url="Desk-30">30桌以上</span>
					</div>
				</div>
			</div>
			<div class="group submit"><span>确认</span></div>
		</div>
		<!--筛选 end-->
	</section>
	<!-- 排序 end -->

	<section id="sellerList">
		<ul>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20160329163286600.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/HuaJiaLiShe-ZunRong-Info" class="sellerListItem">
										花嫁丽舍一站式私人婚礼会所尊荣馆
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>3888-6388</i>/桌</span>
									
									<span class="spetial">桌数：<i>56</i></span>
								</p>
								<p class="row2">
									<span class="district">丰台区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20160923181996017.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/HuaJiaLiShe-Info" class="sellerListItem">
										花嫁丽舍一站式私人婚礼会所（朝阳店）
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>3888-6388</i>/桌</span>
									
									<span class="spetial">桌数：<i>22</i></span>
								</p>
								<p class="row2">
									<span class="district">朝阳区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20150126180231191.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/XiErDunYiLin-Info" class="sellerListItem">
										北京希尔顿逸林酒店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>6088-8088</i>/桌</span>
									
									<span class="spetial">桌数：<i>30</i></span>
								</p>
								<p class="row2">
									<span class="district">西城区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20151109144776900.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/MeiGuiLiTaiYang-Info" class="sellerListItem">
										LAVIN玫瑰里（太阳公元店）
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
										<span class="sale"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>5988-6988</i>/桌</span>
									
									<span class="spetial">桌数：<i>30</i></span>
								</p>
								<p class="row2">
									<span class="district">朝阳区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20170407141382503.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/MeiQuanGongFanDian-Info" class="sellerListItem">
										美泉宫饭店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
										<span class="sale"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>3280-4980</i>/桌</span>
									
									<span class="spetial">桌数：<i>33</i></span>
								</p>
								<p class="row2">
									<span class="district">海淀区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20151215154373084.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/DongFangMeiJue-Info" class="sellerListItem">
										北京东方美爵酒店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>4299-5299</i>/桌</span>
									
									<span class="spetial">桌数：<i>21</i></span>
								</p>
								<p class="row2">
									<span class="district">东城区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20140707093740.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/LanDiaoGuoJi-Info" class="sellerListItem">
										蓝调国际婚礼中心
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>2980-6880</i>/桌</span>
									
									<span class="spetial">桌数：<i>90</i></span>
								</p>
								<p class="row2">
									<span class="district">朝阳区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20161104145277655.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/AYi-BJ-Info" class="sellerListItem">
										阿一会馆
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>2380-3380</i>/桌</span>
									
									<span class="spetial">桌数：<i>50</i></span>
								</p>
								<p class="row2">
									<span class="district">朝阳区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20160224130621554.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/NanHaiJiuDian-Info" class="sellerListItem">
										楠海酒店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>1988-3988</i>/桌</span>
									
									<span class="spetial">桌数：<i>70</i></span>
								</p>
								<p class="row2">
									<span class="district">大兴区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20161125163746866.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/XinQiaoNuoFuTe-Info" class="sellerListItem">
										北京新侨诺富特酒店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>3288-3988</i>/桌</span>
									
									<span class="spetial">桌数：<i>22</i></span>
								</p>
								<p class="row2">
									<span class="district">东城区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20141029132719396.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/JuZhenHuiYuan-Info" class="sellerListItem">
										居贞会缘
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>2688-3988</i>/桌</span>
									
									<span class="spetial">桌数：<i>22</i></span>
								</p>
								<p class="row2">
									<span class="district">东城区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20151015095722990.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/xinggongguoji-Info" class="sellerListItem">
										北京行宫国际酒店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>3999-5666</i>/桌</span>
									
									<span class="spetial">桌数：<i>40</i></span>
								</p>
								<p class="row2">
									<span class="district">朝阳区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20150730184789898.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/JinHaiYuYuan-Info" class="sellerListItem">
										金海御苑温泉酒店
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
										<span class="sale"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>2288-5288</i>/桌</span>
									
									<span class="spetial">桌数：<i>50</i></span>
								</p>
								<p class="row2">
									<span class="district">大兴区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20130712113623.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/DuoLanHuiMei-Info" class="sellerListItem">
										多兰汇美
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>2880-5580</i>/桌</span>
									
									<span class="spetial">桌数：<i>40</i></span>
								</p>
								<p class="row2">
									<span class="district">东城区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
				<li>
					<dl class="clearfix">
						<dt>
							<img src="picture/20150227173811107.jpg" >
							
						</dt>
						<dd>
							<div class="title">
								<h3>
									<a href="//m.daoxila.com/bj/HunYan/HuiXianFu-WanShouLu-Info" class="sellerListItem">
										汇贤府（万寿路店）
									</a>
								</h3>
								<div class="icons">
									<span class="fan"></span>
									
									<span class="fu"></span>
									
										<span class="gift"></span>
									
									
								</div>
							</div>
							<div class="returnCash">
								<p class="row1">
									
										<span class="big">￥<i>1388-4888</i>/桌</span>
									
									<span class="spetial">桌数：<i>40</i></span>
								</p>
								<p class="row2">
									<span class="district">海淀区</span>
									<span class="style">星级酒店</span>
								</p>
							</div>
						</dd>
					</dl>
				</li>
			
		</ul>
	</section>
	<!-- 商家列表 end -->

	<section class="loadWrap">
		<div class="spinner">
			<div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
		</div>
		<div class="loadTips"></div>
	</section>
	<!-- 加载提示 end -->

	<section id="page">
		<a href="//m.daoxila.com/bj/HunYan-List" class="prev">上一页</a>
		<a href="//m.daoxila.com/bj/HunYan-List/Page-2" class="next">下一页</a>
	</section>
	<!-- 分页 end -->

	<footer>
		<nav>
			<a href="#">电脑版</a>
			<a class="download" href="#">App下载</a>
			<a href="#">关于我们</a>
		</nav>
		<h3>@2014到喜啦 沪B2-20120047</h3>
	</footer>
	<!-- 底部 end -->

	<script src="js/hunyanlist-w.js"></script>

</body>

</html>

