<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>【蜜月旅行推荐_蜜月游】蜜月旅游 - 到喜啦蜜月游</title>
    <meta name="keywords" content="蜜月,蜜月旅行,蜜月旅行推荐,蜜月游"/>
    <meta name="description" content="到喜啦蜜月游为您提供世界各地的经典蜜月旅行线路，特色、蜜月旅行攻略。"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_miyue.png"/>
    <link href="__PUBLIC__/css/443171423f8c49e1b7da21f054c6ec5d.css" rel="stylesheet">
    <script src="__PUBLIC__/js/2514e67f4e63424783ac2514dd9487a3.js"></script>
</head>
<body>
    <div id="view">
        <header>
            <a class="prev" href="__PUBLIC__/index.php/home/index/index"></a>
            <h1 class="page-title">蜜月游</h1>
        </header>

        <div id="focus" class="focus">
            <div class="hd">
                <ul></ul>
            </div>
            <div class="bd">
                <ul>
                    <li>
                        <a href="__PUBLIC__/index.php/home/oversea/index">
                            <img _src="__PUBLIC__/picture/20161212184069294.jpg" />
                            <div class="text">
                                <h2>轻扬的印尼民谣乘着印度洋的海风带着爱意缓缓飘来</h2>
                                <p>【巴厘岛】丽思卡尔顿海滨教堂婚礼</p>
                            </div>
                        </a>
                    </li>               
                </ul>
            </div>
        </div>

        <!-- 品宣 -->
        <div class="product-promotion">
            <div class="slogan">
                <p>你负责靠谱，妳负责浪漫</p>
                <h2>给爱的一次履行</h2>
            </div>
            <ul class="term">
                <li>无条件退款</li>
                <li>蜜月品质保障</li>
            </ul>
        </div>

        <!-- book -->
        <div class="book mod">
            <p>专属预定<br/>你的蜜月游</p>
            <span>30s立即预定</span>
        </div>
        <!-- prodcut -->
        <div class="product mod">
            <ul class="list">
                <?php foreach ($data as $key => $val) {?>
                    <li>
                        <a href="__PUBLIC__/index.php/home/MiYue/miyue_info?id={$val.miyue_id}">
                            <div class="img"><img src="{$val.url}"></div>
                            <div class="info">
                                <h3>【{$val.address}】 {$val.hotel_name}{$val.hotel_level}星级 {$val.youhui}</h3>
                                <p class="price"><dfn>&yen;</dfn><strong>{$val.price}</strong></p>
                            </div>
                        </a>
                    </li>
               <?php }   ?>

                <!-- <li>
                    <a href="__PUBLIC__/index.php/home/MiYue/miyue_info">
                        <div class="img"><img src="__PUBLIC__/picture/20161223152744689.jpg"></div>
                        <div class="info">
                            <h3>【巴厘岛】 百乐海景4星酒店 送登帕萨半天游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>4,688</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-73">
                        <div class="img"><img src="__PUBLIC__/picture/20161223152745289.jpg"></div>
                        <div class="info">
                            <h3>【巴厘岛】 安纳塔拉5星度假村 送巴厘岛舒缓水疗</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>9,288</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-74">
                        <div class="img"><img src="__PUBLIC__/picture/20161223152647619.jpg"></div>
                        <div class="info">
                            <h3>【巴厘岛】 丽思卡尔顿度假5星酒店 送登帕萨半天游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>12,488</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-84">
                        <div class="img"><img src="__PUBLIC__/picture/20161226103296537.jpg"></div>
                        <div class="info">
                            <h3>【冲绳】那霸微笑饭店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>7,069</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-79">
                        <div class="img"><img src="__PUBLIC__/picture/20161226103386290.jpg"></div>
                        <div class="info">
                            <h3>【冲绳】那霸希尔顿逸林酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>9,129</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-78">
                        <div class="img"><img src="__PUBLIC__/picture/20161226103482959.jpg"></div>
                        <div class="info">
                            <h3>【冲绳】ANA万座海滨洲际酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>15,520</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-81">
                        <div class="img"><img src="__PUBLIC__/picture/20161226103571723.jpg"></div>
                        <div class="info">
                            <h3>【巴黎】勒斯旺贝斯特韦斯特精品酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>7,069</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-85">
                        <div class="img"><img src="__PUBLIC__/picture/20161226103882524.jpg"></div>
                        <div class="info">
                            <h3>【巴黎】艾菲尔铁塔诺富特酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>7,507</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-83">
                        <div class="img"><img src="__PUBLIC__/picture/20161226103919937.jpg"></div>
                        <div class="info">
                            <h3>【巴黎】巴黎洲际大酒店蜜月游
                </h3>
                            <p class="price"><dfn>&yen;</dfn><strong>15,757</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-89">
                        <div class="img"><img src="__PUBLIC__/picture/20161226104293412.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】查汶塔娜美居酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>2,989</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-87">
                        <div class="img"><img src="__PUBLIC__/picture/20161226104464743.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】波普安纳塔拉度假村蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>8,869</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-90">
                        <div class="img"><img src="__PUBLIC__/picture/20161226104535643.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】苏梅岛六善酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>11,279</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-53">
                        <div class="img"><img src="__PUBLIC__/picture/20160727182942506.jpg"></div>
                        <div class="info">
                            <h3>【北海道】一部写不完的情书，奢华蜜月    </h3>
                            <p class="price"><dfn>&yen;</dfn><strong>32,500</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-51">
                        <div class="img"><img src="__PUBLIC__/picture/20160727182982165.jpg"></div>
                        <div class="info">
                            <h3>【北海道】一部写不完的情书，豪华蜜月</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>29,760</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-52">
                        <div class="img"><img src="__PUBLIC__/picture/20160727182927809.jpg"></div>
                        <div class="info">
                            <h3>【北海道】一部写不完的情书，亲民蜜月</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>26,900</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-109">
                        <div class="img"><img src="__PUBLIC__/picture/20170222164463710.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】 Panacea 度假酒店蜜月 高级Avasara / Atulya别墅</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>3,316</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-108">
                        <div class="img"><img src="__PUBLIC__/picture/20170222164426704.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】帕那刻亚度假酒店蜜月 经典 Kalya/ Purana别墅</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>2,700</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-110">
                        <div class="img"><img src="__PUBLIC__/picture/20170220115819225.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】帕那刻亚度假酒店蜜月 奢华 Praana别墅</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>26,880</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-7">
                        <div class="img"><img src="__PUBLIC__/picture/20170105133848049.jpg"></div>
                        <div class="info">
                            <h3>【苏梅岛】五星度假村 情侣SPA</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>10,000</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-103">
                        <div class="img"><img src="__PUBLIC__/picture/20170122131973399.jpg"></div>
                        <div class="info">
                            <h3>【巴厘岛】希尔顿 悬崖海景酒店 蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>7,319</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-105">
                        <div class="img"><img src="__PUBLIC__/picture/20170122131943145.jpg"></div>
                        <div class="info">
                            <h3>【巴厘岛】 PAYOGAN &amp; AYANA 明星同款 蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>8,399</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-102">
                        <div class="img"><img src="__PUBLIC__/picture/20170122131978695.jpg"></div>
                        <div class="info">
                            <h3>【毛里求斯】原始伊甸园 普瑞斯基海滩度假酒店/丽笙酒店蜜月游</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>11,580</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-106">
                        <div class="img"><img src="__PUBLIC__/picture/20170122132061211.jpg"></div>
                        <div class="info">
                            <h3>【马尔代夫】神仙珊瑚Hideaway岛 私人无边泳池 豪华享玩
                </h3>
                            <p class="price"><dfn>&yen;</dfn><strong>20,759</strong></p>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/MiYue/Tours-96">
                        <div class="img"><img src="__PUBLIC__/picture/20170105133934853.jpg"></div>
                        <div class="info">
                            <h3>蜜月定制/定金/尾款支付/补差价专用</h3>
                            <p class="price"><dfn>&yen;</dfn><strong>2,650</strong></p>
                        </div>
                    </a>
                </li> -->
                
            </ul>
        </div>

        <!-- advantage -->
        <div class="advantage mod">
            <h2>为什么选择到喜啦蜜月游</h2>
            <ul>
                <li>十年资深团队定制</li>
                <li>不跟团，不隐形消费</li>
                <li>虚高双倍赔付</li>
                <li>一站式贴心服务</li>
                <li>严格服务把控</li>
                <li>24小时在线管家</li>
            </ul>
        </div>
    </div>
    
    <!-- order -->
    <div id="orderMiyue" class="pop-page">
        <header>
            <span class="prev"></span>
            <h1 class="page-title">预定专属您的蜜月游</h1>
        </header>
        <div class="main">
            <div class="form-group">
                <div class="form-item">
                    <span class="form-caption">目的地：</span>
                    <select name="destination" id="destination" class="placeholder">
                        <option>ta想去</option>
                    <?php foreach ($data as $key => $val): ?>                        
                        <option>{$val.address}</option>
                    <?php endforeach ?>
                        <!-- <option>ta想去</option>
                        <option>热带海岛的火辣甜蜜</option>
                        <option>西欧的小镇与古堡</option>
                        <option>北欧冰川的纯净自然</option>
                        <option>非洲草原的原始与壮观</option>
                        <option>日韩的个性时尚</option>
                        <option>南美的神秘</option>
                        <option>北美的辽阔</option> -->
                    </select>
                </div>
                <div class="form-item">
                    <span class="form-caption">出行时间：</span><input type="month">
                    <!-- <select name="travelDate" id="travelDate" class="placeholder">
                        <option value="">出行月份</option>
                        <option value=""><input type="month"></option>
                        <option value="">出行月份</option>
                        <option value="">2015年9月</option>
                        <option value="">2015年10月</option>
                        <option value="">2015年11月</option>
                        <option value="">2015年12月</option>
                        <option value="">2016年1月</option>
                        <option value="">2016年2月</option>
                        <option value="">2016年3月</option>
                        <option value="">2016年4月</option>
                        <option value="">2016年5月</option>
                        <option value="">2016年6月</option>
                        <option value="">2016年7月</option>
                        <option value="">2016年8月</option>
                        <option value="">2016年9月</option>
                        <option value="">2016年10月</option>
                        <option value="">2016年11月</option>
                        <option value="">2016年12月</option>
                    </select> -->
                </div>
                
                    <!-- <h3>蜜月元素</h3>
                    <ul>
                        <li>
                            <span class="icon-checkbox"></span>
                            <h4>蜜月新房</h4>
                        </li>
                        <li>
                            <span class="icon-checkbox"></span>
                            <h4>旅行婚拍</h4>
                        </li>
                        <li>
                            <span class="icon-checkbox"></span>
                            <h4>烛光晚餐</h4>
                        </li>
                        <li>
                            <span class="icon-checkbox"></span>
                            <h4>婚纱租买</h4>
                        </li>
                        <li>
                            <span class="icon-checkbox"></span>
                            <h4>海外婚礼</h4>
                        </li>
                        <li>
                            <span class="icon-checkbox"></span>
                            <h4>品牌婚购</h4>
                        </li>
                    </ul> -->
                
                <div class="form-action">
                    <div id="orderSubmit" class="btn-submit">立即抢订</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
