<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>头部-有点</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
                href="#">管理员管理</a>&nbsp;-</span>&nbsp;管理员添加
        </div>
    </div>
    <div class="page ">
        <!-- 上传广告页面样式 -->
        <div class="banneradd bor">
            <div class="baTop">
                <span>管理员添加</span>
            </div>
            <div class="baBody">
                <form action="{:url('administrators/administrators_add')}" method="post">
                <div class="bbD">
                    管理员姓名：<input type="text" name="username" class="input1" />
                </div>
                <div class="bbD">
                    管理员密码：<input type="password" name="password" class="input1" />
                </div>

                <div class="bbD">
                    <p class="bbDP">
                        <button class="btn_ok btn_yes" type="submit">提交</button>
                        <a class="btn_ok btn_no"  type="reset">取消</a>
                    </p>
                </div>
                </form>
            </div>
        </div>

        <!-- 上传广告页面样式end -->
    </div>
</div>
</body>
</html>