<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>miyue_travel</title>
</head>
<body>
    <center>
    <h2>图片添加</h2>
    <form action="__PUBLIC__/index.php/admin/miyue/img_add_do" method="post">
        <table>
            <input type="hidden" name="miyue_id" value="{$id}">
            <tr height="50">
                <td width="20"><span>图片链接地址：</span><br><input type="text" name="img_url"></td>
            </tr>
           <tr>
                <td>
                    <select name="imgposition_id" >
                        <option value="">请选择</option>
                        <?php foreach ($data as $key => $val): ?>
                            <option value="{$val.imgposition_id}">{$val.position_name}</option>
                        <?php endforeach ?>                        
                    </select>
                </td>
           </tr>
            <tr>
                <td><input type="submit" value="添加"></td>
            </tr>
        </table>
        
        
        
        
    </form>
    </center>
</body>
</html>