<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">婚车</a>&nbsp;-</span>&nbsp;添加类型
			</div>
		</div>
		<div class="page ">
			<!-- 上传广告页面样式 -->
			<form action="{:url('admin/weddingcar/type_add')}" method="post">
			<div class="banneradd bor">
				<div class="baTop">
					<span>上传广告</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						品牌分类：<input type="text" class="input1" name="car_type_name" />
					</div>
					
					<div class="bbD">
						<p class="bbDP">
							<input type="submit" value="添加" class="btn_ok btn_yes"/>
							<!-- <submit  >提交</submit>
							<a class="btn_ok btn_no" href="#">取消</a> -->
						</p>
					</div>
				</div>
			</div>
			</form>
			<!-- <form action="{:url('admin/weddingcar/brand_add')}" method="post">
			<div class="banneradd bor">
				<div class="baTop">
					<span>上传广告</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						婚车品牌：<input type="text" class="input1" name="car_brand_name" />
					</div>
					
					<div class="bbD">
						<p class="bbDP">
							<input type="submit" value="添加" class="btn_ok btn_yes"/>
							 <submit  >提交</submit>
							<a class="btn_ok btn_no" href="#">取消</a> 
						 </p>
					</div>
				</div>
			</div>
			</form>
						<form action="{:url('admin/weddingcar/color_add')}" method="post">
			<div class="banneradd bor">
				<div class="baTop">
					<span>上传广告</span>
				</div>
				<div class="baBody">
					<div class="bbD">
						颜色名称：<input type="text" class="input1" name="car_color_name" />
					</div>
					
					<div class="bbD">
						<p class="bbDP">
							<input type="submit" value="添加" class="btn_ok btn_yes"/>
							<!-- <submit  >提交</submit>
							<a class="btn_ok btn_no" href="#">取消</a> -->
						<!-- </p>
					</div>
				</div>
			</div>
			</form> -->
			<!-- 上传广告页面样式end -->
		</div>
	</div>
</body>
</html>
