/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0; font-size:12px;} 
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label,address,caption,cite,code,em,strong,var{font-weight:normal;font-style:normal;}
i{font-style:normal;}
ul,dl,ol,li,dt,dd{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{-webkit-appearance:none;}
input,textarea,select{border:none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0); background:#fff;}
a{color:#7A7A7A;text-decoration:none;-webkit-transition:color 0.3s ease-in-out;transition:color 0.3s ease-in-out;}
a:hover{color:#f85d4f;text-decoration:none;}
body{-webkit-user-select:none;/* 禁止选中文本 */-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);/* 设置点击链接时遮罩层为全透明 */
background:#fff;}
html,body{-webkit-text-size-adjust:none;height:100%;width:100%;}/* 设置webkit内核下文字大小不小于12px */
a,button,input{-webkit-touch-callout:none;outline:none;}/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after {content:" ";display:block;overflow:hidden;visibility:hidden;width:0;height:0;clear:both;}
#dxlBackgroundDiv{z-index:999; position:absolute; top:0; left:0; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; background:#000; transition:display 0.3s ease-in-out;-webkit-transition:display 0.3s ease-in-out;}
/* reset css */

/* 模拟原生alert */
#mAlert{ width:220px;z-index:9999; position:absolute;background-color:rgba(51,51,51,0.9); text-align:center; font-size:12px;color:#fff; line-height:16px;
border-radius:2px; -webkit-border-radius:2px;  box-shadow:-1px 0px 6px #505050;-webkit-box-shadow:-1px 0px 6px #505050; }
#mAlert .mAlertBox{padding:15px;}


/***下载***/
#mAppDownBot {position: fixed;bottom: 0;	left: 0;width: 100%;height: 50px;	background: rgba(0, 0, 0, 0.7);	z-index: 2;}
#mAppDownBot .appDownDiv {width: 320px; margin: 0 auto;height: 50px;}
#mAppDownBot .close {position: absolute;top: 0;left: 0;width: 35px;height: 30px;	background: url(../images/08_close.png) no-repeat left top;background-size: 20px auto;}
#mAppDownBot .topBg{ width: 68px; height:65px; position: absolute; top:-42px; left: 50%; margin-left: -34px;
background: url(../images/08_bg.png) no-repeat left top;background-size:68px auto; }
#mAppDownBot .words{ width: 280px; margin: 11px auto 0;}
#mAppDownBot .words span{ float: left; display: block;}
#mAppDownBot .words .le{ width: 33px; height: 33px; border-radius: 5px;
background:url(../images/wap.png) no-repeat center center;background-size: 33px auto;}
#mAppDownBot .words .mid{ width:158px; font-size: 13px; color: #fff; margin: 0 7px; }
#mAppDownBot .words .ri{ width:70px; line-height: 27px; text-align: center; font-size: 14px; color: #ff608e; 
 border-radius: 5px; border: 2px solid #ff608e;}




/* 顶部 */
header{line-height:42px;height:42px;text-align:center;background:#fff;border-bottom:1px solid #d4d4d4;position:relative;z-index:2}
header h1{font-size:16px;color:#666;line-height:42px;height:42px;width:100%;-webkit-margin-after:0;-webkit-margin-before:0;}
header .prev{width:40px;height:40px;position:absolute;left:0;top:0;}
header .prev:before{content:'';display:block;margin:15px 0 0 18px;width:12px;height:12px;border:solid #666;border-width:2px 0 0 2px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
header .header-right{font-size:14px;color:#666;position:absolute;right:10px;top:5px;}
.icon-share{width:30px;height:30px;display:block;background:url(../images/icon.png) no-repeat -69px 5px;background-size:auto 20px}
#backTop{z-index:6;position:fixed;right:15px;bottom:42px;width:45px;height:45px;border-radius:45px;-webkit-border-radius:45px;display:none;background-color:rgba(0,0,0,.64)}
#backTop:after,#backTop:before{content:'';display:block;position:absolute;top:12px;left:16px;border-radius:2px}
#backTop:before{border-top:3px solid #fff;border-left:3px solid #fff;width:12px;height:12px;z-index:2;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
#backTop:after{width:3px;height:22px;background-color:#fff;left:22px;z-index:1}body,#reservationPage{background-color:#f6f6f6;overflow-x:hidden;}
dfn{font-style:normal;}
.product-box{position:relative;}
.btn{width:100%;height:40px;line-height:40px;border-radius:5px;text-align:center;color:#fff;font-size:14px;background-color:#ff608e;color:#fff}
.product-img{min-height:320px;max-height:420px;overflow:hidden;position:relative;z-index:1}
.product-img img{height:100%;width:100%;display:block;}
.product-img .num{position:absolute;bottom:20px;right:20px;background:rgba(0,0,0,.4);border-radius:50%;color:#fff;line-height:30px;width:30px;text-align:center;}
.product-info{width:80%;color:#fff;position:relative;z-index:2;padding:0 15px;position:absolute;bottom:10px;left:0;}
.product-info h3{font-size:16px;font-weight:700;text-shadow:1px 1px 1px #111;}
.product-info p{font-size:12px;margin-top:8px;font-weight:600;text-shadow:1px 1px 1px #111;}
.product-info .departure:before{content:'';width:9px;height:11px;display:inline-block;background:url(../images/icon.png) no-repeat -26px 0;background-size:auto 18px;vertical-align:-2px;margin-right:3px}

/*price*/
.price-list,.mod,.url-list,.travel-notes{background-color:#fff}
.price-list{max-height:61px;transition:max-height 500ms;overflow:hidden;border-bottom:1px solid #d8d8d8}
.price-list .item{border-top:1px solid #eaeaea;line-height:55px;font-size:12px;color:#999;padding:0 55px 0 15px;overflow:hidden;}
.price-list .item .price{float:left;color:#999;}
.price-list .item .price strong{font-size:24px;margin-right:3px;color:#ff608e}
.price-list .item .price dfn{font-size:18px;color:#ff608e}
.price-list .item .tag{float:right;background-color:#f1f1f1;border-radius:15px;color:#666;font-size:12px;line-height:24px;padding:0 10px;margin-top:18px;}
.price-list.more{position:relative;}
.price-list.more:after{content:'';display:block;border-left:1px solid #9a9a9a;border-top:1px solid #9a9a9a;width:10px;height:10px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);position:absolute;top:23px;right:25px;transition:all 500ms;}
.price-list.more.show{max-height:183px}
.price-list.more.show:after{-webkit-transform:rotate(45deg);transform:rotate(45deg);top:28px}

/*toolbar*/
.toolbar{padding:10px 15px;height:60px;overflow:hidden;width:100%;box-sizing:border-box;background-color:#f6f6f6;}
.toolbar.fixed{position:fixed;top:0;left:0;z-index:10}
.toolbar .icon-star,.toolbar .icon-tel{float:left;width:38%;height:40px;line-height:38px;font-size:14px;margin-right:5%;background-color:#fff;border:1px solid #d8d8d8;vertical-align:middle;box-sizing:border-box;border-radius:5px;}
.toolbar .icon-star:before,.toolbar .icon-tel:before{content:'';display:inline-block;margin:0 5% 0 12%;width:22px;height:22px;vertical-align:middle;background:url(../images/icon.png) no-repeat;background-size:auto 22px;}
.toolbar .icon-star.hollow:before{background-position:-23px 0}
.toolbar .icon-star:before{background-position:0 0}
.toolbar .icon-tel:before{background-position:-53px 0}
.toolbar .btn{float:right;border-radius:5px;width:57%;line-height:40px;background-color:#ff608e;color:#fff;font-size:16px;text-align:center;vertical-align:middle;}
.url-list,.travel-notes{border-top:1px solid #d8d8d8;margin-top:12px;border-bottom:1px solid #d8d8d8;}

/*mod*/
.mod{padding:15px;}
.mod h2{color:#333;font-size:16px}
.mod h2:before{content:'';display:inline-block;width:5px;height:5px;border:4px solid #ffc239;border-radius:10px;margin-right:8px}
.define .mod:last-child{border-bottom:1px solid #d8d8d8;}
.define .mod:first-child{border-top:1px solid #d8d8d8;margin-top:12px;}
.define .mod .content{margin-top:10px;}

/*.define .mod .content>img{display:none;}*/
.define .mod .content p{color:#666;font-size:14px;line-height:24px;}
.define .mod .img-box{width:100%;position:relative;height:152px;margin-top:10px}
.define .mod .img-box img{box-sizing:border-box;width:100%;vertical-align:top;width:30%;height:75px;float:right}
.define .mod .img-box img:first-child{width:70%;float:left;height:152px;margin-left:-2px}
.define .mod .img-box img:nth-child(3){margin-top:2px}
.define .mod .img-box .mask{width:30%;height:75px;line-height:75px;color:#fff;font-size:14px;position:absolute;bottom:0;right:0;background-color:rgba(255,195,56,.8);text-align:center;}
.define .mod:nth-child(2n) h2:before{border-color:#4dc9f7}
.define .mod:nth-child(2n+1) h2:before{border-color:#48cfae}
.define .mod:nth-child(3n+1) h2:before{border-color:#ffc338}
.define .mod:nth-child(2n) .img-box .mask{background-color:rgba(77,201,247,.8);}
.define .mod:nth-child(2n+1) .img-box .mask{background-color:rgba(72,207,174,.8);}
.define .mod:nth-child(3n+1) .img-box .mask{background-color:rgba(255,195,56,.8);}
@media screen and (min-width:641px){
	.define .mod .img-box{height:172px;}
	.define .mod .img-box img{height:85px;}
	.define .mod .img-box img:first-child{height:172px;}
	.define .mod .img-box .mask{height:85px;line-height:85px;}
}
/*flight*/
.flight{padding:15px 0 10px 15px;margin-bottom:12px;border-bottom:1px solid #d8d8d8;border-top:1px solid #d8d8d8;overflow:hidden;}
.flight h2:before{border-color:#7cb7e5}
.flight-line .tab-nav{text-align:center;max-height:38px;overflow:hidden;}
.flight-line .tab-nav li{line-height:36px;padding:0 3px;max-width:70px;height:36px;vertical-align:top;overflow:hidden;display:inline-block;border-bottom:2px solid #fff;color:#999;font-size:14px;}
.flight-line .tab-nav li.current{border-color:#999;color:#666}
.flight-line .tab-cont{margin:10px 30px 0;}
.flight-line .tab-cont .tab-panel{display:none;}
.flight-line .tab-cont .tab-panel:first-child{display:block;}
.flight-line .tab-cont .tempWrap,.flight-line .tab-cont ul{overflow:visible!important;}
.flight-line .flight-list{width:210px;padding-right:10px;border-radius:5px}
.flight-line .flight-list .hd{background-color:#7cb7e5;color:#fff;border-bottom:1px dashed #fff;font-size:16px;height:36px;line-height:36px;border-radius:5px 5px 0 0}
.flight-line .flight-list .ft{background-color:#fafafa;color:#999;font-size:12px;height:24px;line-height:24px;border-radius:0 0 5px 5px;box-shadow:0 5px 3px -2px #e4e4e4;text-align:center;}
.flight-line .flight-list .hd .flight-start:after{content:'';display:block;width:22px;height:16px;margin-right:-22px;background:url(../images/icon.png) no-repeat;background-size:auto 16px;position:absolute;right:11px;top:10px;}
.flight-line .flight-list .bd{padding:10px 15px;overflow:hidden;box-shadow:inset 0 -1px 2px 1px #f6f6f6;}
.flight-line .flight-list .flight-start,.flight-line .flight-list .flight-end{float:left;width:50%;text-align:center;position:relative;}
.flight-line .flight-list time{color:#333;font-size:16px;}
.flight-line .flight-list p{color:#666;font-size:12px;margin-top:5px}
.flight-line .tab-dot{text-align:center;margin-top:15px}
.flight-line .tab-dot li{width:5px;height:5px;background-color:#fff;border:1px solid #7cb7e5;display:inline-block;margin-right:5px;border-radius:5px;color:transparent;}
.flight-line .tab-dot li.current{background-color:#7cb7e5;border:1px solid #7cb7e5;}
@media screen and (min-width:641px){
	.flight-line .flight-list .bd{padding:15px;}
}
/*define*/
.define:first-child{margin-top:20px;}

/*url-list*/
.url-list{border-top:1px solid #d8d8d8;margin-top:12px;padding-left:15px;}
.url-list li{line-height:44px;border-bottom:1px solid #d8d8d8;color:#333;position:relative;font-size:14px}
.url-list li:before{content:'';display:inline-block;margin-right:8px;width:12px;height:16px;background:url(../images/icon.png) no-repeat;background-size:auto 16px;vertical-align:middle;}
.url-list li.notice:before{background-position:-33px 0}
.url-list li.fee:before{background-position:-47px 0;width:14px}
.url-list li.book:before{background-position:-62px 0;width:14px}
.url-list li:after{content:'';display:block;position:absolute;right:25px;top:18px;width:8px;height:8px;border-right:1px solid #999;border-top:1px solid #999;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.url-list li:last-child{border:0 none;}

/*travel-notes*/
.travel-notes h2:before{border-color:#ec88bf}
.travel-notes .list{margin-top:15px;overflow:hidden;}
.travel-notes .item{width:48%;height:90px;float:left;}
.travel-notes .item:first-child{margin-right:4%;}
.travel-notes .item img{width:100%;height:100%;border-radius:3px}
.travel-notes .item p{color:#fff;font-size:14px;margin-top:-55px;text-align:center;}

/*help*/
.help-nav{background-color:#fff;overflow:hidden;}
.help-nav li{height:40px;text-align:center;display:inline-block;color:transparent;font-size:0;border-bottom:2px solid #fff;vertical-align:bottom;margin-left:20px;}
.help-nav li.current{border-color:#ff608e}
.help-nav li:before{color:#666;font-size:14px;}
.help-nav li.current:before{color:#ff608e;}
.help-nav li:first-child:before{content:'签证须知'}
.help-nav li:nth-child(2):before{content:'费用说明'}
.help-nav li:last-child:before{content:'预订须知'}
.help-content{margin:auto;overflow:hidden;}
.help-content li{position:relative;display:block!important;float:left;padding-bottom:10px}
.help-content .tempWrap{z-index:1}
.help-content .text{padding:15px 0;margin:0 10px;font-size:14px;line-height:30px;color:#333;overflow-x:hidden;overflow-y:auto;height:100%;box-sizing:border-box;}
.help-content p,.help-content p span{font-size:14px;line-height:24px;color:#999;word-wrap:break-word;word-break:break-all;white-space:pre-wrap!important;}
.help-content footer{ display: none; height:60px;padding:10px 0;width:100%;border-top:1px solid #d8d8d8;background-color:#fff;box-sizing:border-box;}
.help-content .btn{margin:0 auto;width:200px;}

/*form*/
#reservationPage .info{color:#333;line-height:20px;background-color:#fff;padding:12px;background:#fff url(../images/edge.png) left bottom repeat-x;background-size:auto 4px}
#reservationPage .info .name,#reservationPage .info .price{color:#333;font-size:14px;}
.form-title{color:#999;font-size:12px;padding:12px;}
.form-list{padding:5px 3% 0;border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4;background-color:#fff;}
.form-list .form-item{height:43px;position:relative;}
.form-list .form-item:before{position:absolute;top:10px;left:0;content:'';display:block;width:20px;height:20px;background:url(../images/icon_phone.png) no-repeat;background-size:auto 20px}
.form-list .form-item:last-child:before{background-position:-14px 0;top:12px;}
.form-list .form-item:first-child:before{width:14px;}
.form-list .form-item:first-child{border-bottom:1px solid #e4e4e4;}
.form-list .form-item:first-child .clear-input{right:80px}
.form-list .form-item .getcode{position:absolute;right:0;top:10px;font-size:12px;color:#ff608e;border:1px solid #ff608e;border-radius:15px;min-width:78px;height:24px;line-height:24px;text-align:center;}
.form-list .form-item input{font-size:14px;height:43px;width:100%;padding:0 10%;border-radius:5px;box-sizing:border-box;}
.form-action{padding:25px 3% 5px;}
.form-action .btn-submit{background-color:#ff608e;height:40px;line-height:40px;font-size:16px;color:#fff;border-radius:3px;border:0 none;display:block;width:100%;text-align:center;}
.form-action .btn-submit.disabled{color:rgba(255,255,255,.5)}
.tips{font-size:12px;color:#999;text-align:center}

/*page*/
.page-container{position:relative;width:100%;overflow:hidden;}
.pop-page{height:100%;background-color:#f6f6f6;overflow:hidden;position:fixed;left:0;top:0;z-index:1000;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);-webkit-transition:all 300ms;transition:all 300ms;-webkit-backface-visibility:hidden;}

/*大图展示*/
.pic-show{overflow-y:auto;background:#2d2821;}
.pic-show header{background:transparent;border:0 none;position:absolute;}
.pic-show .pic-list{height:100%;position:relative;overflow:hidden;margin:auto;}
.pic-show .pic-list ul{position:absolute;top:50%;}
.pic-show .pic-list li{height:100%;float:left;}
.pic-show .pic-list li .photo{width:100%;}
.pic-show .pic-list li .yhtInfo{padding:15px 15px 5px;color:#fff;line-height:1.8}
.pic-show .pic-list li .yhtInfo .title{overflow:hidden;}
.pic-show .pic-list li .yhtInfo .title h4{float:left;font-size:15px;width:90%}
.pic-show .pic-list li .yhtInfo .title p{float:right;font-size:15px;}
.pic-show .pic-list li .yhtInfo .title p span{color:#ff608e;font-size:17px;}
.pic-show .pic-list li .yhtInfo .detail{color:#999}
.pic-show .pic-list li .yhtInfo .detail span{padding-right:1em;}
.pic-show .toolbar{position:absolute;bottom:0;width:100%;background:#f6f6f6;}

/* 简单焦点图  s--------------------------------------- */
.focus{position:relative;top:50%;margin:auto;}
.focus .hd{width:100%;height:11px;bottom:5px;text-align:center;}
.focus .hd ul{display:inline-block;height:5px;padding:3px 5px;background-color:transparent;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:0;vertical-align:top;}
.focus .hd ul li{display:inline-block;width:5px;height:5px;font-size:0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background:transparent;margin:0 5px;vertical-align:top;overflow:hidden;}
.focus .hd ul .on{background:transparent;}
.focus .bd{position:relative;z-index:0;}
.focus .bd li img{width:100%;background:url(../images/loading.gif) center center no-repeat;max-height:400px;}
.focus .bd li a{-webkit-tap-highlight-color:rgba(0,0,0,0); /* 取消链接高亮 */}
.focus .description{overflow:hidden;color:#fff;padding:15px 15px 5px;}
.focus .description h4{float:left;font-size:15px;width:90%}
.focus .description p{float:right;font-size:15px;}
.focus .description p span{color:#ff608e;font-size:17px;}

#dxlBackgroundDiv{opacity:1!important;background:#2d2821}