@charset "utf-8";
/* CSS Document */
body{ background:#fafafa;}
#loginHeader{ height:90px;width:100%; box-shadow: none; border: none; background:#fafafa;}
#main{ width:100%; padding-bottom:1px; background:#fafafa;}
#loginBox{ position:relative; width:1190px; margin:0 auto; padding-top:1px; background:url(../images/loginbg1190.png) no-repeat 0 30px;}
#loginBox #register{ position:relative; width:940px; margin:0px auto 60px; border:1px solid #eee;
 background:#fff; padding:10px 0;box-shadow:1px 1px 10px #ddd;}
#loginBox #register .bor{ width:910px; border:4px solid #eee;margin:0 auto;}
#loginBox .top{width:896px; height:50px;margin:7px;}
#loginBox .top .leftPic{ float:left;background-position:0 -105px; }
#loginBox .top .rightPic{float:right; background-position:0 0;}
#loginBox .mid{ width:515px; margin:0 auto;margin-top:-10px;}
#loginBox .mid .con{}
#loginBox .mid .acc{ position:relative; height:45px;margin-bottom:23px;}
#loginBox .mid .acc .inp{float:left; width:296px; height:26px; border:1px solid #ccc;margin-right:10px; line-height: 26px;
background:#fafafa; padding:11px 0;padding-left:10px;font-size:#666; font-size:16px; font-family:Verdana, Geneva, sans-serif;border-radius:5px;}
#loginBox .mid .acc .name{float:left;color:#333;font-size:16px;margin-top:16px;margin-right:20px; font-family:"微软雅黑";}
#loginBox .mid .acc .leb,#loginBox .mid .password .leb2{ position:absolute;top:14px;left:115px;color:#aaa;font-size:16px;font-family:"微软雅黑";}
#loginBox .mid .acc .msg{ display:none;float:left; width:25px; height:25px;margin-top:12px; background:#369;color:#333;font-size:16px;}
#loginBox .mid .acc .ok{display:block; background: url(../images/order_ico.png) no-repeat 0 -445px;}
#loginBox .mid .password{position:relative; height:45px;margin-bottom:21px;}
#loginBox .mid .password .name{float:left;color:#333;font-size:16px; font-family:"微软雅黑";margin-top:16px;margin-right:20px;}
#loginBox .mid .password .inp{float:left; width:296px; height:26px; border:1px solid #ccc;margin-right:10px; line-height: 26px;
background:#fafafa; padding:11px 0;padding-left:10px; font-size:#666; font-size:16px; font-family:Verdana, Geneva, sans-serif;border-radius:5px;}
#loginBox .mid .password #forgetCode{ float: left; margin-top: 16px;}
#loginBox .mid .checkCode{position:relative; height:45px;margin-bottom:23px;}
#loginBox .mid .checkCode .name{float:left;color:#333;font-size:16px; font-family:"微软雅黑";margin-top:16px;margin-right:20px;}
#loginBox .mid .checkCode .inp{float:left;width:177px; height:26px; border:1px solid #ccc;margin-right:10px; border-radius: 5px; line-height: 26px;
background:#fafafa; padding:11px 0;padding-left:10px;pborder-radius:5px; font-size:16px; font-family:Verdana, Geneva, sans-serif;}
#loginBox .mid .checkCode .codeImg{float:left; width:109px; height:48px;margin-right:10px;}
#loginBox .mid .checkCode .getCode{float:left;width:109px; height:50px; line-height:50px; text-align:center;
 background:#999; color:#fff;  font-family:微软雅黑; font-size:14px; cursor:pointer;border-radius:5px;display:none;}
#loginBox .mid .checkCode .getCode:hover{background:#808080;}
#loginBox .mid .checkCode .cur{background:#ddd;color:#999; cursor:inherit;}
#loginBox .mid .checkCode .cur:hover{background:#ddd;color:#999; cursor:inherit;}

#loginBox .mid .checkCode .getCode0{ position:absolute; right:102px; z-index:3;  width:109px; height:50px; line-height:50px; text-align:center;
 background:#999; color:#fff;  font-family:微软雅黑; font-size:14px; cursor:pointer;border-radius:5px;}
#loginBox .mid .checkCode .getCode0:hover{background:#808080;}


#loginBox .mid .imgCode{position:relative; height:45px;margin-bottom:23px;font-family:"微软雅黑";}
#loginBox .mid .imgCode .name{float:left;color:#333;font-size:16px;margin-top:16px;margin-right:20px;}
#loginBox .mid .imgCode .inp{float:left;width:177px; height:26px; border:1px solid #ccc;margin-right:10px; border-radius: 5px; line-height: 26px;
background:#fafafa; padding:11px 0;padding-left:10px;pborder-radius:5px; font-size:16px; font-family:Verdana, Geneva, sans-serif;}
#loginBox .mid .imgCode .codeImg{float:left; width:75px; height:40px;margin:6px 0px 0px 0px;}
#loginBox .mid .imgCode #next{float:left; text-align:center; color:#333; margin:15px 0px 0px 5px; cursor:pointer;}
#loginBox .mid .imgCode #next:hover{ color:#ff5384;}

#loginBox .mid .autoLogin{position:relative;top:4px;left:108px; width:300px; height:21px;margin-bottom:24px; padding-left:25px; 
font-size:16px; color:#666; line-height:21px; font-family:"微软雅黑";}
#loginBox .mid .autoLogin em{position: absolute;top: 0;left: 25px;}
#loginBox .mid .autoLogin i{ position:absolute;top:0;top:-1px\9;*top:-1px;left:0; width:20px; height:20px; background:url(../images/loginico.png) no-repeat 0 -366px;}
#loginBox .mid .autoLogin .cur{background:url(../images/loginico.png) no-repeat 0 -300px;}
#loginBox .mid .autoLogin a{ color:#ff5384;}
#loginBox .mid .btnBox{ position:relative; height:48px;}
#loginBox .mid .btnBox .btn{position:absolute;left:105px;width:170px;height:48px;color:#fff; font-weight:bold; background:#F69; 
  line-height:48px; text-align:center; font-family:微软雅黑; font-size:16px;border-radius:5px;cursor:pointer;}
#loginBox .mid .btnBox .btn:hover{background:#F14073;} 
#loginBox .mid .btnBox .load{background:#F14073; cursor:inherit;}
#loginBox .mid .btnBox .load:hover{background:#F14073;}  
#loginBox .mid .btnBox .greyBtn{ background:#999; cursor:inherit;}
#loginBox .mid .btnBox .greyBtn:hover{background:#999;}
#loginBox .mid .btnBox a{position: absolute;top: 12px; right: 0; padding-right:23px;color:#666; font-size:16px; font-family:"微软雅黑";}
#loginBox .mid .btnBox a i{ position:absolute;top:2px;top:0px\9\0;right:0; width:18px; height:18px; background:url(../images/loginico.png) no-repeat 0 -434px;}
 .mid .or{ width:506px; height:15px; overflow:hidden; margin-top:20px; margin-bottom:24px; background:url(../images/or.png) no-repeat 0 0;} 
#loginBox .mid .otherLogin{}
#loginBox .mid .otherLogin .sup{margin-bottom:20px;}
#loginBox .mid .otherLogin .sup .tit{ font-size:14px; color:#333;}
#loginBox .mid .otherLogin .sub{ position:relative;height:44px;}
#loginBox .mid .otherLogin .sub #qq{ position:absolute; left:40px; width:200px; height:40px; border:2px solid #71bbef;
 _line-height:44px;border-radius:5px; line-height:40px; cursor:pointer;}
#loginBox .mid .otherLogin .sub #qq i{ position:absolute; top:9px;left:48px;width:20px; height:20px; 
background:url(../images/loginico.png) no-repeat 0 1px;}
#loginBox .mid .otherLogin .sub #qq em{position: absolute;top:0px;left: 80px; font-size:14px;color:#3591d1; font-family:微软雅黑;}
#loginBox .mid .otherLogin .sub #sina{position:absolute; left:270px; width:200px; height:40px; border:2px solid #f26262;
 _line-height:44px;border-radius:5px; line-height:40px;cursor:pointer;}
#loginBox .mid .otherLogin .sub #sina i{position:absolute; top:9px;left:42px;width:20px; height:20px; 
background:url(../images/loginico.png) no-repeat 0 -66px;}
#loginBox .mid .otherLogin .sub #sina em{position: absolute;top: 0px;left: 75px; font-size:14px;color:#f26262; font-family:微软雅黑;}
#loginBox .foot{width:896px; height:50px;margin:4px 7px;}
#loginBox .foot .leftPic{ float:left;background-position:0 -224px; }
#loginBox .foot .rightPic{float:right; background-position:0 -333px;}

.allTips{ display:none; position:absolute;top:0;left:310px; width:320px; height:20px; padding:14px 0px; text-align:center;
background:#fffbde; border-radius:0 0 5px 5px;color:#ff5384; font-size:14px; font-family:微软雅黑;}
.allTips #loginError{ display: inline-block; width: 20px; height: 20px; background: url(../images/loginerror.gif) no-repeat 0px 0px; vertical-align: middle; margin-right: 8px;}
#footer{ background:#fafafa; border-top:1px solid #ddd;}
#footer .loginCopy{ margin:0px auto 0px; padding:15px 0px;text-align: center;line-height: 25px;font-family:"微软雅黑"; font-family:14px;}

/*      其它        */
#loginBox .inp{ _line-height:26px;}
#loginBox .title{}
#loginBox .title .tit{float:left; width:170px; height:50px; background:url(../images/loginico.png) 0 -215px; text-indent:-9999px;}
#loginBox .title .codeLogin{float:right;margin-top:16px;color:#ff5384;font-size:14px; font-family:微软雅黑;}
#loginBox .line{height:1px; overflow:hidden; background:#eee;margin-bottom:24px;}
#loginBox .name{ width:85px; text-align:right;color:#333;}


/*  窄版      */
.narrow #loginBox #register{ position:relative; width:730px; margin:0px auto 60px; border:1px solid #eee;
 background:#fff; padding:10px 0;box-shadow:1px 1px 10px #ddd;}
.narrow #loginBox #register .bor{ width:710px; border:4px solid #eee;margin:0 auto;}