/************************商家列表********************/
body{background:#f0f0f0}
header{ position:relative;height:34px}
header .title{ padding-top: 4px;}
header .title a{display:inline-block;width:76px;height:26px;line-height:26px;color:#ff608e;border:1px solid #ff608e;font-size: 15px;}
header .title a.selected{color: #fff;background: #ff608e;border: 1px solid #ff608e;}
header .title a:first-child{border-radius:5px 0 0 5px}
header .title a:last-child{border-radius:0 5px 5px 0}
header .prev {top:2px;}

/* 排序 */
#sellerSort{ width:100%; background:#fff; line-height:40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:relative;}
#sellerSort .sortNav{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1; text-align:center; border-bottom:1px solid #d8d8d8;
font-size:14px;height:40px;}
#sellerSort .sortNav .selectShow{position: relative;}
#sellerSort .sortNav .selectShow:after{position:absolute; right:0; top:10px; content:""; width:1px; height:20px; background:#e5e5e5;}
#sellerSort .sortNav span{font-size:14px; position:relative; color: #666; display: block;}
#sellerSort .selectShow .sortIconI{ display: inline-block;width:10px; height:5px; margin-left: 3px; vertical-align: middle;
background:url(../images/05_icon.png) no-repeat center center; background-size:12px auto; }
#sellerSort .sortNav span.cur{ color:#ff608e ;}
#sellerSort .sortNav span.cur .sortIconI{-ms-transform:rotate(180deg);transform:rotate(180deg); -webkit-transform:rotate(180deg);
background:url(../images/redup.png) no-repeat center center;background-size:10px auto;}
#sellerSort .sortNav .popup{position:absolute;top:41px; left:0; overflow-y:auto;background:#fff;z-index:900; display:none; min-height:430px;}
#sellerSort .sortNav .popup.show{display: block;}
#sellerSort .sortNav ul{min-height:100%; padding:0 3%;}
#sellerSort .sortNav ul li{ line-height:40px; text-indent:4.5%; font-size:14px; text-align:left; border-bottom: 1px solid #e6e6e6;}
#sellerSort .sortNav ul li a{ display:block; color:#666;}
#sellerSort .sortNav ul li.selected a{color:#ff608e}
#sellerSort .sortNav ul li .sortHotI{  padding: 9px 8px;background: url(../images/05_hot.png) no-repeat center 3px;
background-size: 10px auto;}
#sellerSort .sortNav ul li .sortUpI,#sellerSort .sortNav ul li .sortDownI{padding: 2px 10px;
background-repeat: no-repeat; background-position: center center;background-size: 10px auto;}
#sellerSort .sortNav ul li .sortUpI{background-image: url(../images/05_up.png); }
#sellerSort .sortNav ul li .sortDownI{background-image: url(../images/05_down.png);}
#sellerSort .allStyle .popup{background:#f5f5f5;}
#sellerSort .allStyle .selectTag{width:35%;text-align: center;color:#666; font-size: 14px;}
#sellerSort .allStyle .active .selectTag{background:#fff}
#sellerSort .allStyle ul{position: absolute;width:65%;right: 0;top:0;background:#fff;padding-left:4%;display: none;
box-sizing: border-box; -webkit-box-sizing: border-box;}
#sellerSort .allStyle .active ul{display: block;}
#sellerSort .defaultSort h3{ color: #333; text-align: left; font-size: 14px;}
#sellerSort .defaultSort .group{border-bottom: 1px solid #d4d4d4;margin:0 auto;width:90%;text-align: center;color:#666; padding-bottom: 4px;}
#sellerSort .defaultSort .group:last-child{ border-bottom: 0;}
#sellerSort .defaultSort .popup .group:nth-child(3){padding-bottom:70px;border-bottom: none;}

#sellerSort .defaultSort .group span{width:30%; float: left;border:1px solid #d4d4d4;border-radius:6px; -webkit-border-radius:6px;
height:35px;line-height:35px;margin:0 12px 16px 0;text-align:center;box-sizing: border-box; font-size: 13px; position: relative;}
#sellerSort .defaultSort .group .priceP2 span{width:30%; }

#sellerSort .defaultSort .group span:nth-child(3n){ margin-right:0; }
#sellerSort .defaultSort .group span.sortHot:after{ content: ""; padding: 9px 5px; background: url(../images/05_hot.png) no-repeat center 3px; background-size: 11px auto; position: absolute; top:-8px; right: -3px; z-index: 1; }
#sellerSort .defaultSort .priceRange .priceP2 span:last-child:before{ width: 10px; height: 10px; content: "~"; position: absolute; left:-12px; top: 3px;
color: #666; font-weight: bold;}
#sellerSort .defaultSort .group input{width: 100%;padding:8px 3px;text-align:center;color: #666; 
box-sizing: border-box; -webkit-box-sizing: border-box; border-radius:6px;}
#sellerSort .defaultSort .group input:nth-child(2){margin-right: 5px; position: relative;}
#sellerSort .defaultSort .group i{display:inline-block;width:15px;height:1px;background:#d8d8d8;margin-right: 5px;vertical-align: super;}
#sellerSort .defaultSort .group span.selected{border:1px solid #ff608e;color: #ff608e;}
#sellerSort .defaultSort .group span.selected input{ color: #ff608e;}
#sellerSort .defaultSort .group.submit{position:fixed;left: 0; bottom:0;  line-height:40px;width:90%; padding: 0 5%; z-index:905; display: none;}
#sellerSort .defaultSort .group.submit span{ display: block; width: 100%;  margin: 0 auto 12px;background:#ff608e;color:#fff;border-radius:5px; -webkit-border-radius:5px;}

/* banner */
.banner{width:100%;position:relative;}
.banner img{display: block;width:100%;}
.close{position:absolute;top:0;right:0;background:url(../images/close.png) no-repeat 12px 4px;background-size:14px auto;height:30px;width:30px; }

/* 列表 */
#sellerList{background:#fff}
#sellerList ul{display: none;}
#sellerList ul li{ position:relative; padding:15px 5%; width:100%;box-sizing:border-box; -webkit-box-sizing:border-box;}
#sellerList ul li:after{ position:absolute; left:50%; bottom:0; width:90%; margin-left:-45%; height:1px; background:#e6e6e6; content:"";}
#sellerList ul li:last-child:after{ height: 0;}
#sellerList ul li .sellerListItem{ display:block;}
#sellerList ul li dt{ width:100px;float:left}
#sellerList ul li dt img{ width:100px; height:63px;}
#sellerList ul li dd{ margin-left:107px;}
#sellerList ul li dd h3{ font-size:16px; color:#333; max-height:42px; line-height: 20px; overflow:hidden;}
#sellerList ul li dd h3 i{ vertical-align: middle;}
.title span{width:14px;height:14px;display:inline-block;margin-left:2px; vertical-align: middle;}
.title .gift{background: url(../images/li.png) no-repeat center center;background-size: 14px auto;}
.title .sale{background: url(../images/hui.png) no-repeat center center;background-size: 14px auto;}
.title .fan{background: url(../images/fan.png) no-repeat center center;background-size: 14px auto;}
.title .fu{background: url(../images/fu.png) no-repeat center center;background-size: 14px auto;}
#sellerList ul li dd .returnCash{font-size:12px; position:relative; margin:5px 0 0;line-height:20px;color:#a0a0a0;}
#sellerList ul li dd .row1{color:#333;color:#666}
#sellerList ul li dd .row1 .big{font-size:12px;}
#sellerList ul li dd .row1 .big i{ font-size: 14px; color: #666;}
#sellerList ul li dd .row1 .spetial{margin-left:3px; height:18px;color:#ff7f0f;display:inline-block;
-webkit-border-image:url(/m-my/img/myFavorite/edge_cashback.png) 4/3px;
-o-border-image:url(/m-my/img/myFavorite/edge_cashback.png) 4/3px;
border-image:url(/m-my/img/myFavorite/edge_cashback.png) 4/3px;
text-align: center;
-webkit-transform: scale(.9);-ms-transform: scale(.9);transform: scale(.9);}
#sellerList ul li dd .row2 .style{margin-left: 10px;}

/* 列表数据为空 */
.dataEmpty{ height:110px; line-height: 23px; text-align: center;color: #666; background:url(../images/dataempty.png) no-repeat center 65px; background-size: 72px auto; padding-top: 150px;}
.dataEmpty h3{font-size: 15px; }
.dataEmpty p{ font-size: 15px;color: #999;}

/* 加载提示 */
.loadWrap{height: 50px;line-height:50px; width:100%; text-align:center; color:#a0a0a0;position:relative;background:#fff}
.loadWrap:before{position:absolute; left:50%; top:0; width:90%; margin-left:-45%; height:1px; background:#d4d4d4; content:"";}
.loadWrap .spinner {margin:0 auto;width:150px;text-align:center;}
.loadWrap .spinner  div {width:10px;height:10px;background-color:#d7d7d7;border-radius:100%;display:inline-block;
-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode: both;animation-fill-mode:both;}
.loadWrap .spinner .bounce1 {-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
.loadWrap .spinner .bounce2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}
 
@-webkit-keyframes bouncedelay {from, 80%, 100%{ -webkit-transform: scale(0.0) } 40% { -webkit-transform: scale(1.0) }} 
@keyframes bouncedelay {from, 80%, 100%{transform: scale(0.0);-webkit-transform: scale(0.0);} 40% {transform: scale(1.0);-webkit-transform: scale(1.0);}}

/* 分页 */
#page{display:none}

.download{color:#ff6e6e}