/************************婚庆详情********************/
body{ background: #f0f0f0;}
.bodyHide{ position: fixed; left:-1000px;}
header .screen{ right:0;}


.publicWidth{ width: 94%; padding: 0 3%; margin: 0 auto; border-bottom: 1px solid #d8d8d8; background: #fff;}
.publicWidth .tit{ line-height: 38px; color: #333; font-size: 14px; padding-top: 2px;}
.publicWidth .more{height: 47px;line-height: 47px; border-top:1px solid #e6e6e6; position: relative;}
.publicWidth .more a{font-size: 14px;color: #666; display: block;}
.publicWidth .more i{ position:absolute; right:0; top:12px; width:20px; height:20px; 
background:url(../images/greydown.png) no-repeat center center;background-size:20px auto;  }
.publicWidth .upMore i{ -ms-transform:rotate(180deg); transform:rotate(180deg);-webkit-transform:rotate(180deg);}

/* 商家详情 */
#hunDetail{width:100%; overflow:hidden; background: #fff;}
#hunDetail img{ width:100%; height:auto;}
#hunDetail .detailTit{ width:94%; margin:0 auto; padding:2px 0 4px;}
#hunDetail .detailTit h3{ font-size:18px; color:#333; line-height:30px; max-width:95%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#hunDetail .detailTit p{ font-size:14px; color:#ff608e;font-weight:bold;}
#hunDetail .detailTit p i{ font-size:20px; }
#hunDetail .detailHui{ width:94%; margin:6px auto;border-top:1px solid #e6e6e6;  }
#hunDetail .detailHui li{ line-height:20px; padding:6px 0;}
#hunDetail .detailHui li i{ border-radius:3px; -webkit-border-radius:3px; text-align:center; vertical-align:middle; display:inline-block; width:50px;}
#hunDetail .detailHui .daoDianLi i{border:1px solid #ff9db1; color:#ff9db1;} 
#hunDetail .detailHui .dingDanLi i{ border:1px solid #fd8ca3; color:#fd8ca3; } 
#hunDetail .detailHui .youHui i{ border:1px solid #ff9932; color:#ff9932;} 
#hunDetail .detailHui li span{ display:inline-block; margin-left:3px;max-width:70%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle; font-size:14px;color:#666;}
#hunDetail .detailBtnCon{ height:70px;}
#hunDetail .detailBtn{ padding:15px 3%; background:#f0f0f0;
display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex; width:94%; z-index:1;}
#hunDetail .detailBtn.scrollClass{position:fixed; top:0; left:0;}

#hunDetail .detailBtn a{ display:block; margin-right: 15px;
border-radius:8px; -webkit-border-radius:8px; font-size:14px;box-sizing:border-box; line-height:40px; text-align:center; color:#fff;}
#hunDetail .detailBtn .online,#hunDetail .detailBtn .collect{ border: 1px solid #d8d8d8;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1; }
#hunDetail .detailBtn .online {background:url(../images/05_online.png) no-repeat center center #fff; background-size: 27px auto;}
#hunDetail .detailBtn .collect{background:url(../images/04_collect.png) no-repeat center center #fff; background-size: 25px auto;}
#hunDetail .detailBtn .notCollect{background:url(../images/04_notcollect.png) no-repeat center center #fff; 
background-size: 25px auto;}
#hunDetail .detailBtn a:last-child{ background:#ff608e;-webkit-box-flex:4;-webkit-flex:4;-ms-flex:4;flex:4; margin-right: 0; }


/*  商家案例 */
#angli{ margin-bottom: 15px;}
#angli li{ color: #666; width: 48%; float: left; margin:0 4% 4% 0; min-height: 50px;}
#angli li a{ display: block;}
#angli ul li:nth-child(even){ margin-right: 0;}
#angli li h3{ color: #333; font-size: 14px; line-height: 24px;max-width:75%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#angli li div p{ display: inline-block;}
#angli li .color{ margin-bottom:4px; width: 100%; position: relative;}
#angli li .color i{ position: absolute; left: 0; top: 0; width: 35px;}
#angli li .color p{ margin-left: 35px;}
#angli li .color p span{ display: inline-block;height: 10px; width: 10px;border-radius:50%;-webkit-border-radius: 50%;}
#angli li img{ width: 100%; height: auto;}
#angli .more i{ -ms-transform:rotate(270deg); transform:rotate(270deg);-webkit-transform:rotate(270deg);}

/*  商家套餐 */
#taocan {margin-bottom: 15px;}
#taocan ul{ padding-bottom: 5px; overflow:hidden; height: 57px;}
#taocan ul li{ width: 30.6%; margin:0 2% 8px 0; float: left; border:2px solid #ffc1d1; text-align: center; background: #ff9eb6; padding: 10px 0;}
#taocan ul li:nth-child(3n){ margin-right: 0;}
#taocan ul li p{ font-size: 17px; display: block;}
#taocan ul li a{ color: #fff; display: block; }
#taocan ul li a span{ display: block;max-width: 85%; overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; margin: 0 auto;}
#taocan .more{ display: none;}

/* 分店地址 */
#places{ margin-bottom: 15px;}
#places dl{ padding: 14px 0 10px; line-height: 20px;}
#places dl dt,#places dl dd{float: left;font-size: 14px;}
#places dl dt{ width: 65%;  color: #333; padding-left: 6%; 
background: url(../images/04_place.png) no-repeat left 2px; background-size: 11px auto;}
#places dl dd{ width: 28%;  text-align: center;border-left: 1px solid #d8d8d8;
background: url(../images/04_mobile.png) no-repeat center 1px; background-size: 18px auto;}
#places dl dd a{ display: block;color: #ff608e;font-size: 14px; padding-top: 23px;}
#places ul{ height: 0; overflow: hidden;}
#places li{ line-height: 45px;font-size: 14px; border-top: 1px solid #e6e6e6; color: #666;}
#places .more{ display: none;}

/* 您可能会喜欢 */
#mayEnjoy .tit{ color:#a0a0a0; line-height:35px; font-size:14px;}
#mayEnjoy li{ position:relative; padding:10px 0 15px; border-bottom:1px solid #d4d4d4;}
#mayEnjoy li:first-child{ padding-top:0px;}
#mayEnjoy li a{ display:block;min-height:63px;}
#mayEnjoy li .sellTXLe{ width:100px; height:63px; position:absolute; top:11px; left:0;}
#mayEnjoy li:first-child .sellTXLe{ top:1px;}
#mayEnjoy li .sellTXRi{ margin-left:110px; padding-top: 5px;}
#mayEnjoy li .sellTXRi h3{ font-size:14px; color:#333;}
#mayEnjoy li .sellTXRi h3 span{ font-size:14px;vertical-align:middle; display:inline-block; max-width:75%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#mayEnjoy li .sellTXRi h3 i{ display: inline-block; width: 12px; height: 12px; vertical-align: middle;
background-repeat: no-repeat; background-position: center center;background-size: 12px auto; }
#mayEnjoy li .sellTXRi h3 .li{background-image: url(../images/li.png);}
#mayEnjoy li .sellTXRi h3 .hui{background-image: url(../images/hui.png);}
#mayEnjoy li .sellTXRi h3 .fan{background-image: url(../images/fan.png);}
#mayEnjoy li .sellTXRi h3 .cu{background-image: url(../images/cu.png);}
#mayEnjoy li .sellTXRi h3 .fu{background-image: url(../images/fu.png);}
#mayEnjoy li .sellTXRi .returnCash{ color:#ff608e; font-size:12px; position:relative; margin:2px 0 6px;}
#mayEnjoy li .sellTXRi .returnCash p{ display:inline-block; font-size:12px;}
#mayEnjoy li .sellTXRi .returnCash .newPrice{ padding-left:5px;position:relative;}
#mayEnjoy li .sellTXRi .returnCash .newPrice:before{ position:absolute; left:-1px; top:5px; width:1px;height:12px; background:#bbb; content:"";}
#mayEnjoy li .sellTXRi .returnCash .newPrice span{ font-size:15px;}
#mayEnjoy li .sellTXRi .returnCash .oldPrice{ color:#333; font-size:12px;}
#mayEnjoy li .sellTXRi .returnCash .oldPrice span{ font-size:14px; }
#mayEnjoy li .sellTXRi .info{color: #a0a0a0;}
#mayEnjoy li .sellTXRi .info span{ padding-right:8px;}
#mayEnjoy .noMore{ color:#999; font-size:14px; line-height:39px; text-align:center;}

/* 到喜啦会员独享 */
#huiDetails{ overflow-y:auto; position:fixed; top:0; left:100%;background:#fff; -webkit-transition:all ease-in-out .3s; transition:all ease-in-out .3s; opacity:0; z-index:7; display:none;}
#huiDetails .dialogWrap{ position:relative;}
#huiDetails h1{color:#666; text-align:center; position:relative;height:30px;line-height:30px; font-size:17px;margin:0 auto; font-weight:bold;
background:#fff; padding:5px 5%;border-bottom:1px solid #e0e0e0;} 
#huiDetails h1 span{ position: absolute; right: 0; top: 0; line-height:41px; width: 55px; color: #ff608e; font-size: 14px; font-weight: normal;}
#huiDetails .info{ padding: 20px 3% 30px; margin-bottom:36px;}
#huiDetails .info .infoItem h3{ color:#333; font-size:15px; line-height:35px; position: relative; padding-left: 20px;}
#huiDetails .info .infoItem h3:before{ content: ""; position: absolute; left: 10px; top: 14px; width: 5px; height: 5px; 
border-radius: 5px;-webkit-border-radius: 5px; background: #ff608e;}
#huiDetails .info .infoItem div{ color:#333; font-size:14px; line-height:20px; padding-left:20px;}
#huiDetails .info .infoItem div p{ font-size:14px; line-height:22px; color: #999;}
#huiDetails .order{ width:94%; position:fixed; bottom:0; left:0; background:#fff; padding:15px 3%; border-top:1px solid #e6e6e6;}
#huiDetails .order.scrollClass{ position:fixed; top:0; left:0;}
#huiDetails .order input,#huiDetails .order span{font-size:14px; border-radius:5px; -webkit-border-radius:5px;float:left;}
#huiDetails .order input{  color:#666; text-indent:10px; border:1px solid #ff608e; width:64.5%; line-height:33px; margin-right:4.3%;}
#huiDetails .order input::-webkit-input-placeholder{ color: #666;}
#huiDetails .order span{ background:#ff608e;text-align:center; color:#fff; width:30%; line-height:35px;}

/* 预约看店 */
#huiInfo{ overflow-y:auto; position:fixed; top:0; left:100%;background:#fff; -webkit-transition:all ease-in-out .3s; transition:all ease-in-out .3s; opacity:0; z-index:7; display:none;}
#huiInfo .dialogWrap{ position:relative;}
#huiInfo h1{color:#666; text-align:center; position:relative;height:30px;line-height:30px; font-size:17px;margin:0 auto; font-weight:bold;
background:#fff; padding:5px 5%;border-bottom:1px solid #e0e0e0;} 
#huiInfo h1 span{position: absolute; right: 0; top: 0; line-height:41px; width: 55px; color: #ff608e; font-size: 14px; font-weight: normal;}
#huiInfo .info{ width: 66%; margin: 0 auto; line-height: 20px; padding-top: 40px;}
#huiInfo .info h3{font-size: 15px; color: #333;}
#huiInfo .info input{ width: 100%; line-height: 33px;  margin:20px 0 12px; text-indent: 10px;
border: 1px solid #c9c9c9; border-radius: 5px; -webkit-border-radius: 5px;}
#huiInfo .info div{ background: #ff608e; color: #fff; font-size: 14px; text-align: center;line-height: 35px; border-radius: 5px; -webkit-border-radius: 5px;}






