/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0; font-size:12px;} 
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label,address,caption,cite,code,em,strong,var{font-weight:normal;font-style:normal;}
i{font-style:normal;}
ul,dl,ol,li,dt,dd{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{-webkit-appearance:none;}
input,textarea,select{border:none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0); background:#fff;}
a{color:#7A7A7A;text-decoration:none;-webkit-transition:color 0.3s ease-in-out;transition:color 0.3s ease-in-out;}
a:hover{color:#f85d4f;text-decoration:none;}
body{-webkit-user-select:none;/* 禁止选中文本 */-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);/* 设置点击链接时遮罩层为全透明 */
background:#fff;}
html,body{-webkit-text-size-adjust:none;height:100%;width:100%;}/* 设置webkit内核下文字大小不小于12px */
a,button,input{-webkit-touch-callout:none;outline:none;}/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after {content:" ";display:block;overflow:hidden;visibility:hidden;width:0;height:0;clear:both;}
#dxlBackgroundDiv{z-index:999; position:absolute; top:0; left:0; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; background:#000; transition:display 0.3s ease-in-out;-webkit-transition:display 0.3s ease-in-out;}
/* reset css */

/* 模拟原生alert */
#mAlert{ width:220px;z-index:9999; position:absolute;background-color:rgba(51,51,51,0.9); text-align:center; font-size:12px;color:#fff; line-height:16px;
border-radius:2px; -webkit-border-radius:2px;  box-shadow:-1px 0px 6px #505050;-webkit-box-shadow:-1px 0px 6px #505050; }
#mAlert .mAlertBox{padding:15px;}


/***下载***/
#mAppDownBot {position: fixed;bottom: 0;	left: 0;width: 100%;height: 50px;	background: rgba(0, 0, 0, 0.7);	z-index: 2;}
#mAppDownBot .appDownDiv {width: 320px; margin: 0 auto;height: 50px;}
#mAppDownBot .close {position: absolute;top: 0;left: 0;width: 35px;height: 30px;	background: url(../images/08_close.png) no-repeat left top;background-size: 20px auto;}
#mAppDownBot .topBg{ width: 68px; height:65px; position: absolute; top:-42px; left: 50%; margin-left: -34px;
background: url(../images/08_bg.png) no-repeat left top;background-size:68px auto; }
#mAppDownBot .words{ width: 280px; margin: 11px auto 0;}
#mAppDownBot .words span{ float: left; display: block;}
#mAppDownBot .words .le{ width: 33px; height: 33px; border-radius: 5px;
background:url(../images/wap.png) no-repeat center center;background-size: 33px auto;}
#mAppDownBot .words .mid{ width:158px; font-size: 13px; color: #fff; margin: 0 7px; }
#mAppDownBot .words .ri{ width:70px; line-height: 27px; text-align: center; font-size: 14px; color: #ff608e; 
 border-radius: 5px; border: 2px solid #ff608e;}




/* 婚庆公用样式 */

/* 顶部 */
header{background:#fff; padding:8px 0;border-bottom:1px solid #d8d8d8; width:100%;}
header .secTitMain{color:#666; text-align:center; position:relative;height:30px;line-height:30px; font-size:17px;width:94%; margin:0 auto; font-weight:bold;}
header .secTitMain .LogoName{ color:#ff6e6e; font-size:16px; position:absolute; left:0; top:0px;}
header .secTitMain .LogoName:before{ content:""; width:1px; height:20px; background:#ff6e6e;position:absolute; right:-8px; top:6px;}
header .secTitMain .secSearchDiv{ line-height:25px; height:25px;width:140px; position:absolute; right:0; top:2px; overflow:hidden; border:1px solid #ff6e6e; border-radius:10px; -webkit-border-radius:10px; padding-left:10px; text-align:left;}
header .secTitMain .secSearchDiv a{ display:block;font-size:12px; color:#999;height:25px; line-height:25px;
background-image:url(../images/iicon.png); background-repeat:no-repeat; background-size:41px auto; 
background-position:92px -101px;cursor:pointer; background-color:#fff; box-sizing:border-box; -webkit-box-sizing:border-box;}
header .secTitMain .secTitAdress{color:#ff6e6e;font-weight:normal;position:absolute; left:63px; top:1px; display:inline-block;background-image:url(../images/iicon.png); background-repeat:no-repeat; background-size:41px auto;background-position:right -73px; height:30px; overflow:hidden;padding-right:46px;}
header .prev,header .aBreak{ display:block; width:35px; height:30px; position:absolute; left:0; top:0;background:url(../images/hytip.png) no-repeat 5px 5px; background-size:30px auto;}
header .daohang{ border-radius:3px; -webkit-border-radius:3px; padding:0 10px; text-align:center; color:#ff6e6e; font-size:14px;
border:1px solid #ff6e6e; line-height:25px; position:absolute; right:0; top:0;}

header .secTitMain .riIcon{ position:absolute; right:0; top:0;}
header .secTitMain .riIcon a{ display:block;float:left;}
header .secTitMain .riIcon .search {width: 40px;height: 35px;background: url(../images/search.png) no-repeat 70% center;background-size: 17px auto;margin-top: -1px; position: absolute; right: -10px; top: 0;display: none;}
header .secTitMain .riIcon .screen{ width:25px; height:30px; background:url(../images/hdetail.png) no-repeat 0 -24px; background-size:53px auto; }
header .secTitMain .riIcon .home{  width:25px; height:30px; background:url(../images/hytip.png) no-repeat 0 -32px; background-size:30px auto;}

/* 底部 */
footer{ width:100%;background:#f0f0f0; line-height:30px; text-align:center; padding:10px 0;/*margin-bottom:54px;*/}
footer a{font-size:12px; padding:0 8px; color: #949494;}
footer h3{ color: #b2b2b2;}
footer a.download{color:#ff608e;}


/* 返回顶部 */
#backTop{ z-index:6;position:fixed; right:15px; bottom:42px;width:45px; height:45px; background:url(../images/top.png) no-repeat center center; background-size:45px auto;border-radius: 45px; -webkit-border-radius: 45px; display:none;
background-color:rgba(0,0,0,0.64);}

/* 加载提示 */
.loadWrap{height: 50px;line-height:50px; width:100%; text-align:center; color:#a0a0a0;}
.loadWrap .spinner {margin:10px auto;width:150px;text-align:center;}
.loadWrap .spinner  div {width:10px;height:10px;background-color:#d7d7d7;border-radius:100%;display:inline-block;
-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode: both;animation-fill-mode:both;}
.loadWrap .spinner .bounce1 {-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
.loadWrap .spinner .bounce2{-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}
 
@-webkit-keyframes bouncedelay {from, 80%, 100%{ -webkit-transform: scale(0.0) } 40% { -webkit-transform: scale(1.0) }} 
@keyframes bouncedelay {from, 80%, 100%{transform: scale(0.0);-webkit-transform: scale(0.0);} 40% {transform: scale(1.0);-webkit-transform: scale(1.0);}}

/* 颜色 */
.green{ background: #81cb4a; }
.brown{ background: #d17f4d; }
.roseo{ background: #ff6466; }
.orange{ background: #ed9e4f; }
.yellow{ background: #ffde00; }
.blue{ background: #80c7f1; }
.purple{ background: #c79ee9; }
.pink{ background: #fca6ca; }
.dark{ background: #999; }
.black{ background: #000; }
.gold{ background: #ebdb6f;  background: -webkit-linear-gradient(right top, #e4d255, #f4e791, #e4d255); }
.silver{ background: #f3f3f3;background: -webkit-linear-gradient(right top, #e1e1e1, #f4f4f4, #e1e1e1); }
.white{  background: #f4f2e5; }

