/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0; font-size:12px;} 
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label,address,caption,cite,code,em,strong,var{font-weight:normal;font-style:normal;}
i{font-style:normal;}
ul,dl,ol,li,dt,dd{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{-webkit-appearance:none;}
input,textarea,select{border:none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0); background:#fff;}
a{color:#7A7A7A;text-decoration:none;-webkit-transition:color 0.3s ease-in-out;transition:color 0.3s ease-in-out;}
a:hover{color:#f85d4f;text-decoration:none;}
body{-webkit-user-select:none;/* 禁止选中文本 */-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);/* 设置点击链接时遮罩层为全透明 */
background:#fff;}
html,body{-webkit-text-size-adjust:none;height:100%;width:100%;}/* 设置webkit内核下文字大小不小于12px */
a,button,input{-webkit-touch-callout:none;outline:none;}/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after {content:" ";display:block;overflow:hidden;visibility:hidden;width:0;height:0;clear:both;}
#dxlBackgroundDiv{z-index:999; position:absolute; top:0; left:0; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; background:#000; transition:display 0.3s ease-in-out;-webkit-transition:display 0.3s ease-in-out;}
/* reset css */

/* 模拟原生alert */
#mAlert{ width:220px;z-index:9999; position:absolute;background-color:rgba(51,51,51,0.9); text-align:center; font-size:12px;color:#fff; line-height:16px;
border-radius:2px; -webkit-border-radius:2px;  box-shadow:-1px 0px 6px #505050;-webkit-box-shadow:-1px 0px 6px #505050; }
#mAlert .mAlertBox{padding:15px;}


/***下载***/
#mAppDownBot {position: fixed;bottom: 0;	left: 0;width: 100%;height: 50px;	background: rgba(0, 0, 0, 0.7);	z-index: 2;}
#mAppDownBot .appDownDiv {width: 320px; margin: 0 auto;height: 50px;}
#mAppDownBot .close {position: absolute;top: 0;left: 0;width: 35px;height: 30px;	background: url(../images/08_close.png) no-repeat left top;background-size: 20px auto;}
#mAppDownBot .topBg{ width: 68px; height:65px; position: absolute; top:-42px; left: 50%; margin-left: -34px;
background: url(../images/08_bg.png) no-repeat left top;background-size:68px auto; }
#mAppDownBot .words{ width: 280px; margin: 11px auto 0;}
#mAppDownBot .words span{ float: left; display: block;}
#mAppDownBot .words .le{ width: 33px; height: 33px; border-radius: 5px;
background:url(../images/wap.png) no-repeat center center;background-size: 33px auto;}
#mAppDownBot .words .mid{ width:158px; font-size: 13px; color: #fff; margin: 0 7px; }
#mAppDownBot .words .ri{ width:70px; line-height: 27px; text-align: center; font-size: 14px; color: #ff608e; 
 border-radius: 5px; border: 2px solid #ff608e;}




/* m-www 公共样式 */

/* 顶部 */
header{background:#fff; padding:8px 0;border-bottom:1px solid #e6e6e6; width:100%;}
header .secTitMain{width:94%; height:30px;line-height:30px;margin:0 auto; position:relative;color:#666; text-align:center;  font-size:17px;font-weight:bold;} 
header .secTitMain .prev,header .secTitMain .aBreak{position:absolute; left:0; top:0; width:35px; height:30px;
background-image:url(../images/hytip.png); background-repeat:no-repeat; background-position:5px 5px; background-size:30px auto;}

header .secTitMain .home{ display:block; width:25px; height:30px; position:absolute; right:0; top:0;
background-image:url(../images/hytip.png); background-repeat:no-repeat; background-position:0 -32px; background-size:30px auto;}
header .secTitMain .screen{display:block; width:25px; height:30px; position:absolute; right:40px; top:0;
background-image:url(../images/hdetail.png); background-repeat:no-repeat; background-position:0 -21px; background-size:50px auto;}
header .secTitMain .daohang{ border-radius:3px; -webkit-border-radius:3px; padding:0 10px; text-align:center; color:#ff6e6e; font-size:14px;position:absolute; right:0; top:0;
border:1px solid #ff6e6e; line-height:25px; }

header .secTitMain .riIcon{ position:absolute; right:0; top:0;}
header .secTitMain .riIcon a{ display:block;float:left;}
header .secTitMain .riIcon .search{ width:50px; height:35px;background-image:url(../images/search.png); background-repeat:no-repeat; background-position:center center;background-size:17px auto;margin-top:-1px; position: absolute; right: -10px; top: 0;}
header .secTitMain .riIcon .screen{ width:25px; height:30px; background-image:url(../images/hdetail.png); background-repeat:no-repeat; background-position:0 -24px; background-size:53px auto; position:static;}
header .secTitMain .riIcon .home{  width:25px; height:30px; background-image:url(../images/hytip.png); background-repeat:no-repeat; background-position:0 -32px; background-size:30px auto;}
header .secTitMain .LogoName{ color: #666; font-weight:normal; display: inline-block;}
header .secTitMain .LogoName span{font-size:18px; }



/* 页脚 */
footer{ width:100%;background:#f0f0f0; line-height:30px; text-align:center; padding:10px 0;margin-bottom:54px;}
footer a{font-size:12px; padding:5px 15px;}
footer .tuijian{line-height:40px;background-color:#fff;margin:0 auto;}
footer .tuijian a{display:block;font-size:13px;margin:0 auto;width:95%;padding-right: 5px; color:#f85d4f;}
footer .tj296{width:296px;}
footer .tj100{width:100%;}
footer  h3{ line-height:30px; color:#b2b2b2;}
footer .appDown{ color:#ff6e6e;}








/* 弹层 app下载条版式 */
#appDown{ width:186px; min-height:215px; background:url(../images/appbg.png) no-repeat center top; z-index:1000; background-size:186px auto; position:relative;}
#appDown .appNavClose{ position:absolute; right:0px; top:-7px; width:30px; height:30px;}
#appDown .appNavDown{ position:absolute; left:0; bottom:10px; width:100%; height:100px;}

/* 下单打断提示弹层 */
#appBreak{ width:186px; min-height:215px; background:url(../images/appbg.png) no-repeat center top; z-index:1010; background-size:186px auto; position:relative;}
#appBreak .appNavClose{ position:absolute; right:0px; top:-7px; width:30px; height:30px;}
#appBreak .appNavDown{ position:absolute; left:0; bottom:10px; width:100%; height:100px;}
#appBreak .appWords{ color:#865406; font-size:14px; position:absolute; left:55px; top:15px;-ms-transform:rotate(-10deg);transform:rotate(-10deg); -webkit-transform:rotate(-10deg);}



/* 内页底部下载图标 */
footer .pageDownIcon{ width:138px; height:50px;background:#fff; border-radius:5px; -webkit-border-radius:5px; border:1px solid #dadada; margin:0 auto; position:relative;}
footer .pageDownIcon span{ position:absolute;} 
footer .pageDownIcon .dxl{ width:35px; height:35px;background: url(../images/iicon.png) no-repeat 0 0;background-size: 35px auto; top:7px; left:10px;} 
footer .pageDownIcon .word{ color:#666; font-size:12px;top:-1px; left:55px;} 
footer .pageDownIcon .donwload{line-height:17px; color:#fff;background:#ff6e6e;border-radius:3px; -webkit-border-radius:3px; text-align:center;top:23px; left:55px;
padding:0 12px;}

/* 工具 */
#tool{ width:100%;/*position:fixed; bottom:0; left:0; */z-index:5;text-align:center;line-height: 45px;box-shadow:0 -1px 3px #767070;-webkit-box-shadow:0 -1px 3px #767070;}
#tool .phone{ background:#ff6e6e; color:#fff;display:block; font-size:14px;} 
#tool .phone span{ display:inline-block; width:30px; height:30px;vertical-align: middle;
background:url(../images/iicon.png) no-repeat 0px -161px;background-size:41px auto;}


/* 返回顶部 */
#backTop{ z-index:6;position:fixed; right:15px; bottom:42px;width:45px; height:45px; background-image:url(../images/top.png);background-repeat:no-repeat; background-position:center center; background-color:rgba(0,0,0,0.64);background-size:45px auto;border-radius: 45px; -webkit-border-radius: 45px; display:none;}


/* 弹层 */
#myDialog{ background:#fff; text-align:center; font-size:12px; line-height:20px; width:250px; min-width:250px; max-width:300px;  overflow:hidden;border-radius:5px; -webkit-border-radius:5px; z-index:1000; box-shadow:0px 0px 5px #000; -webkit-box-shadow:0px 0px 5px #000;}
#myDialog .myWord{ padding:15px; color:#111111;}
#myDialog .myNav{ display:block;line-height:40px; border-top:1px solid #ccc; font-size:14px; font-weight:bold; color:#007aff;}

/* 登录  注册 */

#myConBox{ z-index:1000;}

#wapLogin{position:fixed; z-index:10000; background:#fff;}

#login{ width:278px; /*position:fixed; z-index:10000; background:#fff;display:none;*/ border-radius:5px; -webkit-border-radius:5px; }
#login input{ width:248px; margin:20px auto 0;border:1px solid #ccc;color:#333; position:relative; font-size:14px; height:45px; display:block; text-indent:1em;
border-radius:5px; -webkit-border-radius:5px;}
#login input.phoneNum{ margin-top:10px;}
#login input.cur{ background:#f5f5f5; border:1px solid #f5f5f5;}
#login .loginBtn{ display:block;  margin:20px auto; text-align:center;line-height:45px;  font-size:14px;background:#ff6e6e; color:#fff;width:250px;
border-radius:5px; -webkit-border-radius:5px;}
#login .loginBtn:hover{background:#e45858;}
#login .forget{ display:block;background:#f5f5f5; color:#666;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;margin-right:20px;
border-radius:5px; -webkit-border-radius:5px;}
#login .forget:hover{ background:#e1e0e0;}
#login .register{ display:block;background:#f5f5f5; color:#666;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;border-radius:5px; -webkit-border-radius:5px;}
#login .register:hover{ background:#e1e0e0;}
.loginDiv{ width:250px; margin:0 auto 20px;}

/* 注册 */
#login .regiBtn{background:#ff6e6e; color:#fff;width:250px; display:block;  margin:20px auto; text-align:center;line-height:45px;  font-size:14px;
border-radius:5px; -webkit-border-radius:5px;}
#login .regiBtn:hover{background:#e45858;}
#login .toRegi{ display:block;background:#ff6e6e; color:#fff;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;margin-right:20px;
border-radius:5px; -webkit-border-radius:5px;}
#login .toRegi:hover{ background:#e45858;}
#login .back{ display:block;background:#f5f5f5; color:#666;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;border-radius:5px; -webkit-border-radius:5px;}
#login .back:hover{ background:#e1e0e0;}
.registerDiv{ width:250px; margin:20px auto ;}
#registerPart{display:none;}

.loginTitWord{ width:290px; font-size:16px; line-height:25px;text-align:center; font-weight:bold; margin-top:10px;}

/* 验证码登录 */
.loginByCode{ width: 278px;  background-color: #fff; box-shadow: 0px 3px 3px #cabdbe; -webkit-box-shadow: 0px 3px 3px #cabdbe; position:relative; z-index: 1000;}
.loginByCode .loginByCodeMain{padding:30px 20px 15px;}
.loginByCode .Codeclose{ position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; background: url("../images/ordercloseicon.png") 0px 0px no-repeat; background-size:20px auto;}
.loginByCode .phoneOfMsg{ font-size: 16px; color: #666; margin-top:10px;} 
.loginByCode .phoneOfMsg span.codeTips{padding:1px 0 0 29px;position:relative; font-size:12px;display:inline-block;/*width:30px;*/}
.loginByCode .phoneOfMsg .codeTips i{ position:absolute; top:-3px; left:0; width:28px; overflow:hidden; background:#fff; font-size:16px;}
.loginByCode .rewards span{ font-size: 12px; color: #999999;}
.loginByCode .rewards{ text-align: left;}
.loginByCode .phoneOfCode{ display: block; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box;padding: 10px; margin:20px 0px 15px; margin-right: 0px;  background-color: #f5f5f5; font-size: 16px; color: #b6b6b6; border-radius:5px; -webkit-border-radius:5px;}
.loginByCode .codeSubmit{ margin-bottom: 15px; border: none;  cursor: pointer;width: 100%; height: 41px; background-color: #ff6e6e; line-height: 41px; text-align: center; border-radius:5px; -webkit-border-radius:5px; font-size: 16px; color: #fff; text-decoration: none;}
.loginByCode .codeSubmit:hover{ background-color:#e45858;}
.loginByCode .oldUserLogin{ color:#ff6e6e; display:block; text-align:right;} 


/* 下单且新用户 */
#orderSetWrap{ width:290px; position:fixed; z-index:10000; background:#fff; border-radius:5px; -webkit-border-radius:5px;}
#orderSetWrap input{ width:248px; margin:20px auto 0;border:1px solid #ccc;color:#333; position:relative; font-size:14px; height:45px; display:block; text-indent:1em;}
#orderSetWrap input.phoneNum{ margin-top:10px;}
#orderSetWrap .regiBtn{background:#ff6e6e; color:#fff;width:250px; display:block;  margin:20px auto; text-align:center;line-height:45px;  font-size:14px;}
#orderSetWrap .regiBtn:hover{background:#e45858;}
#orderSetWrap .toRegi{ display:block;background:#ff6e6e; color:#fff;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;margin-right:20px;}
#orderSetWrap .toRegi:hover{ background:#e45858;}
#orderSetWrap .back{ display:block;background:#f5f5f5; color:#666;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;}
#orderSetWrap .back:hover{ background:#e1e0e0;}
.registerDiv{ width:250px; margin:20px auto ;}
#registerPart{display:none;}
#orderSetWrap .toRegi{ display:block;background:#ff6e6e; color:#fff;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;margin-right:20px;}
#orderSetWrap .toRegi:hover{ background:#e45858;}
#orderSetWrap .back{ display:block;background:#f5f5f5; color:#666;width:115px; float:left;text-align:center;line-height:45px;  font-size:14px;}
#orderSetWrap .back:hover{ background:#e1e0e0;}


/*  相册分享  */
.main .sharePop{ display:none; position: fixed; bottom:0;left:0; width:100%; background:#fff; z-index:1; padding-bottom:30px; z-index:1000;}
.main .tdc{width:188px; height:188px;margin:20px auto; /*background:url(../images/code2.png) no-repeat 0 0;*/background:url(../images/code2.png) no-repeat 0 0;background-size:188px 188px;}
.main .tdcB{width:188px; height:188px;margin:20px auto; /*background:url(../images/code2.png) no-repeat 0 0;*/background:url(../images/code2.png) no-repeat 0 0;background-size:188px 188px;}

.main .shareZone{ width:320px; margin:0 auto;}
.main .shareZone .weibo{ position:relative; top:0;left:20px; display:inline-block; width:47px; height:47px;margin:0 10px 0 20px; background:#fc7a7a; border-radius:50px;}
.main .shareZone .weibo i{ display:block; position: absolute; top: 12px;left: 9px; width: 45px;height: 40px;background:url(../images/sina.png) no-repeat 0 0;background-size:30px auto;}
.main .shareZone .message{ position:relative; display:inline-block; width:70px; height:70px;margin:0 25px 0 25px;  background:#96bde5; border-radius:50px;}
.main .shareZone .message i{ display:block; position: absolute; top: 15px;left: 12px; width: 47px;height: 41px;background:url(../images/message.png) no-repeat 0 0;background-size:47px 41px;}
.main .shareZone .copy{ position:relative; top:0;left:91px;display:inline-block; width:47px; height:47px; margin:0 10px 0 10px;background:#f995c0; border-radius:50px;}
.main .shareZone .copy i{display:block; position: absolute; top: 10px;left: 10px; width: 40px;height: 41px;background:url(../images/copy.png) no-repeat 0 0;background-size:30px auto;}

.main .shareZone span em{ position: absolute; top: 55px;left:-11px; width:70px; text-align:center; font-style: normal;color:#7f7f7f;}
.main .shareZone a em{position: absolute; top: 55px;left:-11px; width:73px; text-align:center; font-style: normal;color:#7f7f7f;}

.main .shareZone .qzone{ display:inline-block;position:relative;top:0; left:58px;width:47px; height:47px;background:url(../images/qzone.png) no-repeat 0 0;background-size:47px auto;}

/*  统计代码  */
iframe[name="google_conversion_frame"]{ display:none;} 



/* 自定义alert 自动关闭 */
#mAlert{ width:220px;z-index:9999; position:absolute;background-color:rgba(51,51,51,0.9); text-align:center; font-size:12px;color:#fff; line-height:16px;
border-radius:2px; -webkit-border-radius:2px;  box-shadow:-1px 0px 6px #505050;-webkit-box-shadow:-1px 0px 6px #505050; }
#mAlert .mAlertBox{padding:15px;}
