/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0; font-size:12px;} 
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label,address,caption,cite,code,em,strong,var{font-weight:normal;font-style:normal;}
i{font-style:normal;}
ul,dl,ol,li,dt,dd{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{-webkit-appearance:none;}
input,textarea,select{border:none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0); background:#fff;}
a{color:#7A7A7A;text-decoration:none;-webkit-transition:color 0.3s ease-in-out;transition:color 0.3s ease-in-out;}
a:hover{color:#f85d4f;text-decoration:none;}
body{-webkit-user-select:none;/* 禁止选中文本 */-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);/* 设置点击链接时遮罩层为全透明 */
background:#fff;}
html,body{-webkit-text-size-adjust:none;height:100%;width:100%;}/* 设置webkit内核下文字大小不小于12px */
a,button,input{-webkit-touch-callout:none;outline:none;}/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after {content:" ";display:block;overflow:hidden;visibility:hidden;width:0;height:0;clear:both;}
#dxlBackgroundDiv{z-index:999; position:absolute; top:0; left:0; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; background:#000; transition:display 0.3s ease-in-out;-webkit-transition:display 0.3s ease-in-out;}
/* reset css */

/* 模拟原生alert */
#mAlert{ width:220px;z-index:9999; position:absolute;background-color:rgba(51,51,51,0.9); text-align:center; font-size:12px;color:#fff; line-height:16px;
border-radius:2px; -webkit-border-radius:2px;  box-shadow:-1px 0px 6px #505050;-webkit-box-shadow:-1px 0px 6px #505050; }
#mAlert .mAlertBox{padding:15px;}


/***下载***/
#mAppDownBot {position: fixed;bottom: 0;	left: 0;width: 100%;height: 50px;	background: rgba(0, 0, 0, 0.7);	z-index: 2;}
#mAppDownBot .appDownDiv {width: 320px; margin: 0 auto;height: 50px;}
#mAppDownBot .close {position: absolute;top: 0;left: 0;width: 35px;height: 30px;	background: url(../images/08_close.png) no-repeat left top;background-size: 20px auto;}
#mAppDownBot .topBg{ width: 68px; height:65px; position: absolute; top:-42px; left: 50%; margin-left: -34px;
background: url(../images/08_bg.png) no-repeat left top;background-size:68px auto; }
#mAppDownBot .words{ width: 280px; margin: 11px auto 0;}
#mAppDownBot .words span{ float: left; display: block;}
#mAppDownBot .words .le{ width: 33px; height: 33px; border-radius: 5px;
background:url(../images/wap.png) no-repeat center center;background-size: 33px auto;}
#mAppDownBot .words .mid{ width:158px; font-size: 13px; color: #fff; margin: 0 7px; }
#mAppDownBot .words .ri{ width:70px; line-height: 27px; text-align: center; font-size: 14px; color: #ff608e; 
 border-radius: 5px; border: 2px solid #ff608e;}




/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{padding:0;margin:0; font-size:12px;} 
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label,address,caption,cite,code,em,strong,var{font-weight:normal;font-style:normal;}
i{font-style:normal;}
ul,dl,ol,li,dt,dd{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{-webkit-appearance:none;}
input,textarea,select{border:none;outline:none;-webkit-tap-highlight-color:rgba(255,255,255,0); background:#fff;}
a{color:#7A7A7A;text-decoration:none;-webkit-transition:color 0.3s ease-in-out;transition:color 0.3s ease-in-out;}
a:hover{text-decoration:none;}
body{-webkit-user-select:none;/* 禁止选中文本 */-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);/* 设置点击链接时遮罩层为全透明 */
background:#fff;}
html,body{-webkit-text-size-adjust:none;height:100%;width:100%;}/* 设置webkit内核下文字大小不小于12px */
a,button,input{-webkit-touch-callout:none;outline:none;}/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:before,.clearfix:after {content:" ";display:block;overflow:hidden;visibility:hidden;width:0;height:0;clear:both;}
#dxlBackgroundDiv{z-index:999; position:absolute; top:0; left:0; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; background:#000; transition:display 0.3s ease-in-out;-webkit-transition:display 0.3s ease-in-out;}
/* reset css */

/* 模拟原生alert */
#mAlert{ width:220px;z-index:9999; position:absolute;background-color:rgba(51,51,51,0.9); text-align:center; font-size:12px;color:#fff; line-height:16px;
border-radius:2px; -webkit-border-radius:2px;  box-shadow:-1px 0px 6px #505050;-webkit-box-shadow:-1px 0px 6px #505050; }
#mAlert .mAlertBox{padding:15px;}




/*hunche-w 公共样式 */

/* 顶部 */
header{position:relative;z-index:1000;background:#fefefe; border-bottom:1px solid #dddddd; width:100%;padding:8px 0;}
header .secTitMain{width:94%; height:30px;line-height:30px;margin:0 auto; position:relative;color:#333333; text-align:center;  font-size:18px;font-weight:bold;} 
header .secTitMain .prev,header .secTitMain .aBreak{position:absolute; left:0;top:4px;background-size:12px auto; height:20px; width:12px;background-image:url(../images/hytip.png); background-repeat:no-repeat;}
/*返回顶部*/
#backTop { background-color: rgba(0, 0, 0, 0.64); background-image: url("../images/top.png"); background-position: center center; background-repeat: no-repeat; background-size: 45px auto; border-radius: 45px; bottom: 70px; display: none; height: 45px; position: fixed; right: 15px; width: 45px; z-index: 500; }


/* �������� */
#conditionSort{color:#333333;background:#fefefe;width:100%;line-height:40px;position:relative;z-index:1001; }
#conditionSort .sortItem{width:100%;display:flex;display:-ms-flexbox;display:-webkit-flex;display:-webkit-box;position:relative;}
#conditionSort .sortNav{position:relative;z-index:1;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:center;border-bottom:1px solid #dddddd;height:44px;}
#conditionSort .sortNav .selectShow{position:relative;}
#conditionSort .sortNav span{font-family:"STXihei";font-size:14px;}
#conditionSort .sortNav .cur .sortIconI{background-position:0 -7px;}
#conditionSort .sortNav .upIcon{display:none;}
#conditionSort .sortNav .cur .upIcon{background:url(../images/up.png) no-repeat;position:absolute;left:50%;margin-left:-5px;top:40px;height:9px;width:12px;background-size: 13px auto;display:inline-block;}
#conditionSort .sortNav .sortIconI{display:inline-block;height:5px;width:9px;margin-left:5px;vertical-align:middle;background:url(../images/arrow-down-up.png) no-repeat left 0 top 0;background-size:9px auto;}
#conditionSort .sortNav .selectShow:after{position:absolute;content:"";height:17px;right:0;top:13px;width:1px;background:#f0f0f0;}
#resultList{background:#fefefe;overflow:hidden;}
#resultList ul li{position:relative;width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px 3%;}
#resultList ul li:last-child:after{height:0;}
#resultList ul li:after{position:absolute;bottom:0px;width:97%;right:0;content:"";height:1px;background:#f0f0f0;}
#resultList ul li dl{position:relative;}
#resultList ul li dt{width:89px;float:left;}
#resultList ul li dt img{border:1px solid #f0f0f0;border-radius:3px;height:65px;width:89px;}
#resultList ul li dd{float:left;padding-top:3px;position:relative;max-width:55%;overflow:hidden;-webkit-overflow-scrolling:touch;}
#resultList ul li dd .list-detail-word{margin-left:10px;font-family:"STXihei";color:#333333;}
#resultList ul li dd .list-detail-word span{display:block;font-size:16px;white-space:nowrap;text-overflow:ellipsis;}
#resultList ul li dd .list-detail-word span.price{color:#666666;font-size:15px;margin-top:20px;}
#resultList ul li .fire{position:absolute;bottom:8px;right:10px;line-height:13px;padding-left:11px;background:url(../images/fire.png) no-repeat left;background-size:8px auto;color:#999999;font-family:"Myriad Pro";font-size:14px; }
/*��������*/
.popup{width:100%;top:45px;position:absolute;z-index:1002;background:transparent;display: none;}
.popup .popcontent{background:#f0f0f0;padding-bottom:20px; }
.popup .hotBrands{background:#fff;}
.popup .hotBrands .hots li{position:relative;width:25%;height:64px;margin:12px 0;float:left;text-align:center;color:#7A7A7A;}
.popup .hotBrands .hots li.cur{color:#ff749b;}
.popup .hotBrands .hots li img,.popup .hotBrands .hots li span{margin:0 auto;display:block;}
.popup .hotBrands .hots li img{max-width:60%;max-height:40px;min-height:15px;margin-top:5px;}
.popup .hotBrands .hots li span{position:absolute;width:100%;line-height:22px;bottom:0;}
.popup .hotBrands .hots li:after{content:"";position:absolute;top:17px;right:0;height:35px;width:1px;background:#e1e1e1;}
.popup .hotBrands .hots li:nth-child(4n):not(:first-child):after{width:0;}
.popup  h3{font-family:"STXihei";color:#999999;padding-left:4.5%;}
.show{display:block;}
.popup .znpx{padding-bottom:0;}
.popup .popcontent .sxtj{background:#fff;}
.popup .popcontent .pdprice{padding-bottom:44px;}
.popup .popcontent .sxtj	.choose {background:#fff;padding:0 4.5%;margin-bottom:14px;}
.popup .popcontent .sxtj	.choose  li{margin:0 3.125% 3.125% 0;height:30px;width:21.90625%;border:1px solid #cecbcb;border-radius:3px;line-height:30px;text-align:center;font-size:14px;font-family:"STXihei";float:left;}
.popup .popcontent .sxtj	.choose.color  li{width:16.8%;}
.popup .popcontent .sxtj	.choose.color  li:nth-child(4n):not(:first-child){margin-right:3.125%;}
.popup .popcontent .sxtj	.choose.color  li:nth-child(5n):not(:first-child){margin-right:0;}
.popup .popcontent .sxtj	.choose  li:nth-child(4n):not(:first-child){margin-right:0;}
.popup .popcontent .sxtj	.choose  li.cur{background:#feeff3;border-color:#ff3366;color:#ff3366;}
.popup .popcontent .sxtj	.price{position:relative;height:4px;width:88.4%;padding:0;margin:9px auto 0;background:#ccc;border-radius:4px;}
.popup .popcontent .sxtj	.price-bg{position:absolute;height:4px;z-index:19;background:#ff3366;}
.popup .popcontent .sxtj .price .price-k{position:absolute;top:11px;width:100%;left:0;}
.popup .popcontent .sxtj .price .price-k span{position:absolute;display:inline-block;text-align:center;width:16%;}
.price .pban{width:100%;}
.price .price-btn-a, .price .price-btn-b{display:block;position:absolute;z-index:20;top:-9px;left:0;height:30px;width:30px; }
.price .price-btn-a span, .price .price-btn-b span{display:block;background:#fff;border:2px solid #ff3366;border-radius:50%;height:19px;width:19px;}
.price .price-btn-b{left:100%;margin-left:-10px;}
.popcontent .sxbtns{position:relative;background:#f1f0f0;height:50px;border-top:1px solid #d7d7d7;}
.popcontent .sxbtns a{position:absolute;margin-top:10px;left:50%;margin-left:-130px;display:block;width:99px;height:29px;line-height:29px;text-align:center;border:1px solid #ff3366;border-radius:30px;color:#ff3366;}
.popcontent .sxbtns .qdbtn{color:#fff;background:#ff3366;margin-left:30px;}
.popup .bg1{background:#fff;}
.popup .popcontent .znpx li{margin-left:4.7%;width:95.3%;font-size:14px;font-family:"STXihei";border-bottom:1px solid #f0f0f0;}
.popup .popcontent .znpx .cur{color:#ff3366;background:url(../images/xzicon.png) 96% no-repeat;background-size:14px auto;}
.popup .popcontent .znpx li:last-child{border-bottom:none;}
/*�Ҳ��ַ����򵼺�*/
.sortByCha{position:fixed;right:4px;top:102px;}
.sortByCha a{display:block;height:13px;width:25px;text-align:center;line-height:13px;}
/*������*/
.nores{background:#fff;margin:10px auto 0;border-top:1px solid #d7d7d7;font-family:"STXihei";line-height:43px;height:43px;padding-left:13px;font-size:14px;}
.nores.cur,.allBrands ul li.cur{color:#ff3366;background:url(../images/xzicon.png) 96% no-repeat;background-size:14px auto;}
.nores.cur{background-color:#fff;}
/*����Ʒ���б�*/
.allBrands{background:#fff;}
.allBrands h3{background:#f0f0f0;padding-left:13px;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
.allBrands ul li{position:relative;padding-left:15px;height:39px;line-height:39px;}
.allBrands ul li.cur i{color:#ff749b;}
.allBrands ul li:after{position:absolute;bottom:-1px;left:4%;content:"";height:1px;width:96%;background:#e1e1e1;margin:0 auto;}
.allBrands ul li img{max-width:44px;min-height:10px;max-height:27px;vertical-align:middle;}
.allBrands ul li i{display:inline-block;margin-left:20px;color:#999999;font-size:14px;font-family:"STXihei";}
/*û�и���*/
.nomore{display:none;position:relative;color:#666666;margin:0 auto;height:51px;line-height:51px;width:94%;text-align:center;background:#fefefe;}
.nomore span{z-index:10;position:relative;background:#fff;padding-left:11px;font-size:14px;}
.nomore:after{position:absolute;z-index:9;top:25px;width:100%;left:0;content:"";height:1px;background:#f0f0f0;}
/*��̬ҳ*/
.noResult{display:none;background:url(../images/noicon.png) no-repeat center;background-size:80px auto;height:50px;padding-top:160px;}
.noResult p{text-align:center;line-height:22px;color:#999999;font-family:"STXihei";}
