body{font: 12px/1.5 tahoma,arial,宋体; _background-attachment:fixed;  color:#7A7A7A;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{ padding:0;margin:0; vertical-align:baseline;} 
button, input, select, textarea { font-size: 100%;}
table {border-collapse: collapse; border-spacing: 0; } 
fieldset,img {border: 0;} 
button{cursor:pointer;}
abbr, article, aside, bb, datagrid, datalist, details, dialog, eventsource, figure, figcaption, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time{display:block;padding: 0;margin: 0;}
address,caption,cite,code,dfn,em,strong,th,var { font-weight: normal; font-style: normal; } 
code, kbd, pre, samp {font-family: courier new,courier,monospace;}
a { text-decoration: none;}
a:hover {text-decoration: underline;}
a{color:#7A7A7A;-webkit-transition:color 0.3s ease-in-out;-moz-transition:color 0.3s ease-in-out;}
a:hover{color:#ff5384;}
sup { vertical-align: text-top;}
sub {vertical-align: text-bottom;}
legend {color: #000000;}
ol,ul { list-style: none;} 
i{font-style:normal;}
caption,th { text-align: left;} 
h1,h2,h3,h4,h5,h6 { font-size: 100%;} 
q:before,q:after { content:'';} 
abbr,acronym { border: 0;}
.dxlBlock{display:block;}
#dxlBackgroundDiv{background:#000;}
input{outline:none;}
.dxlBackgroundDiv{z-index:999; position:absolute; top:0; left:0; filter:alpha(opacity=50); opacity: 0.5; -moz-opacity:0.5; background:#000;}
#dAlert{ background: #333;  text-align: center; font-family:"微软雅黑"; display: none; position: fixed; color: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px;  border-radius:6px; filter:alpha(opacity=9);  opacity: 0.9;-moz-opacity:0.9; z-index:1200;  }
#dAlert div{padding: 20px 30px;}
/*浮动清理*/
.cl{clear:both;}
.cb{clear:both;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;	width: 0;height: 0;}
.clearfix:before,.clearfix:after {content: " ";display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.ov{ overflow:hidden;}


/*--新版红心蓝钻皇冠--*/
.hx_x1,.hx_x2,.hx_x3,.hx_x4,.hx_x5,
.hx_z1,.hx_z2,.hx_z3,.hx_z4,.hx_z5,
.hx_d1,.hx_d2,.hx_d3,.hx_d4,.hx_d5{overflow:hidden; display:block; font-size:0;background:url(../images/hongxin.png) no-repeat -1000px -1000px;_background:url(../images/hongxin_ie.png) no-repeat -1000px -1000px;}
.hx_x1,.hx_x2,.hx_x3,.hx_x4,.hx_x5{height:10px; background-position:0 -36px;}
.hx_z1,.hx_z2,.hx_z3,.hx_z4,.hx_z5{height:12px; background-position:0 -18px;}
.hx_d1,.hx_d2,.hx_d3,.hx_d4,.hx_d5{height:16px; background-position:0 0;}
.hx_x1{width:12px;}
.hx_x2{width:26px;}
.hx_x3{width:40px;}
.hx_x4{width:54px;}
.hx_x5{width:68px;}
.hx_z1{width:14px;}
.hx_z2{width:32px;}
.hx_z3{width:50px;}
.hx_z4{width:68px;}
.hx_z5{width:86px;}
.hx_d1{width:18px;}
.hx_d2{width:43px;}
.hx_d3{width:68px;}
.hx_d4{width:93px;}
.hx_d5{width:118px;}

.lanzuan_x1,.lanzuan_x2,.lanzuan_x3,.lanzuan_x4,.lanzuan_x5,.lanzuan_z1,.lanzuan_z2,.lanzuan_z3,.lanzuan_z4,.lanzuan_z5,.lanzuan_d1,.lanzuan_d2,.lanzuan_d3,.lanzuan_d4,.lanzuan_d5{overflow:hidden; display:block; font-size:0;background:url(../images/lanzuan.png) no-repeat -1000px -1000px;_background:url(../images/lanzuan_ie.png) no-repeat -1000px -1000px;}
.lanzuan_x1,.lanzuan_x2,.lanzuan_x3,.lanzuan_x4,.lanzuan_x5{height:10px; background-position:0 -35px;}
.lanzuan_z1,.lanzuan_z2,.lanzuan_z3,.lanzuan_z4,.lanzuan_z5{height:12px; background-position:0 -20px;}
.lanzuan_d1,.lanzuan_d2,.lanzuan_d3,.lanzuan_d4,.lanzuan_d5{height:18px; background-position:0 0;}
.lanzuan_x1{width:12px;}
.lanzuan_x2{width:26px;}
.lanzuan_x3{width:40px;}
.lanzuan_x4{width:54px;}
.lanzuan_x5{width:68px;}
.lanzuan_z1{width:15px;}
.lanzuan_z2{width:33px;}
.lanzuan_z3{width:51px;}
.lanzuan_z4{width:69px;}
.lanzuan_z5{width:87px;}
.lanzuan_d1{width:20px;}
.lanzuan_d2{width:45px;}
.lanzuan_d3{width:70px;}
.lanzuan_d4{width:95px;}
.lanzuan_d5{width:120px;}

.huangguan_x1,.huangguan_x2,.huangguan_x3,.huangguan_x4,.huangguan_x5,.huangguan_z1,.huangguan_z2,.huangguan_z3,.huangguan_z4,.huangguan_z5,.huangguan_d1,.huangguan_d2,.huangguan_d3,.huangguan_d4,.huangguan_d5{overflow:hidden; display:block; font-size:0;background:url(../images/huangguan.png) no-repeat 0 -1000px;_background:url(../images/huangguan_ie.png) no-repeat 0 -1000px;}
.huangguan_x1,.huangguan_x2,.huangguan_x3,.huangguan_x4,.huangguan_x5{height:10px; background-position:0 -36px;}
.huangguan_z1,.huangguan_z2,.huangguan_z3,.huangguan_z4,.huangguan_z5{height:13px; background-position:0 -20px;}
.huangguan_d1,.huangguan_d2,.huangguan_d3,.huangguan_d4,.huangguan_d5{height:18px; background-position:0 0;}
.huangguan_x1{width:12px;}
.huangguan_x2{width:26px;}
.huangguan_x3{width:40px;}
.huangguan_x4{width:54px;}
.huangguan_x5{width:68px;}
.huangguan_z1{width:15px;}
.huangguan_z2{width:33px;}
.huangguan_z3{width:51px;}
.huangguan_z4{width:69px;}
.huangguan_z5{width:87px;}
.huangguan_d1{width:19px;}
.huangguan_d2{width:44px;}
.huangguan_d3{width:69px;}
.huangguan_d4{width:94px;}
.huangguan_d5{width:119px;}
/*--新版红心蓝钻皇冠结束--*/


#dxlMsgd{ position:absolute;background:url(../images/hongdian.png) no-repeat; left:-25px; top:30px; width:12px; height:12px; z-index:1;}

/*live800*/
#lim_frame{display:none;}
#lim_mini{display:none;}
#lim_mini_chat{display:none;}
﻿@charset "utf-8";
/* CSS Document */
/* 头部   */
#loginHeader{ height:90px;width:100%;}
#loginHeader .tp{ width:1190px; height:89px; padding-top:1px; margin:0 auto;}
#loginHeader .tp #logo{ display: block; width:245px;  height:42px;margin-top:23px; background:url(../images/loginlogo.png) no-repeat 0 0; text-indent:-9999px}

/* 底部  */
#footer .loginCopy{ display:block; width:1190px;margin:0 auto; line-height:50px; font-size:13px; text-align: center;}
.flower{ width:45px; height:45px; background:url(../images/sliderbg.png) no-repeat 0 0; overflow:hidden;}
#footer .gh{ display: inline-block; text-align: left; width: 200px; height: 20px; background: url(../images/gh.png) right top no-repeat; }

/* 其它  */
.getCode,.btn{cursor:pointer;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;}
.flower{ width:45px; height:45px; background:url(../images/sliderbg.png) no-repeat 0 0; overflow:hidden;}


/* 窄 */
.narrow #loginBox{ position:relative; width:980px; margin:0 auto; padding-top:1px;  background:url(../images/loginbg980.jpg) no-repeat 0 85px;}
.narrow #loginHeader .tp{ width:980px; height:89px; padding-top:1px; margin:0 auto;}
.narrow #loginFoot .copyright{ display:block; width:980px;margin:0 auto; line-height:50px; font-size:14px;}
.narrow #loginBox .top{ width:695px; height:50px;margin:7px;}
#loginBox .top .leftPic{ float:left;background-position:0 -105px; }
#loginBox .top .rightPic{float:right; background-position:0 0;}
.narrow #loginBox .foot{width:695px; height:50px;margin:7px;}
#loginBox .foot .leftPic{ float:left;background-position:0 -224px; }
#loginBox .foot .rightPic{float:right; background-position:0 -333px;}
.narrow .allTips{ display:none; position:absolute;top:0;left:210px; width:320px; height:48px; line-height:48px; text-align:center;
background:#fffbde; border-radius:0 0 5px 5px;color:#ff5384; font-size:14px; font-family:微软雅黑;}