@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{ color:#999; font-size:12px; font-family:microsoft yahei; background:#f0f0f0; -o-user-select:none;-o-touch-collout:none;-o-tap-highlight-color:transparent;-moz-select:none;-moz-touch-collout:none;-moz-tap-highlight-color:transparent;-webkit-user-select:none;-webkit-touch-collout:none;-webkit-tap-highlight-color:transparent;-ms-user-select:none;-ms-touch-collout:none;-ms-tap-highlight-color:transparent;user-select:none;touch-collout:none;tap-highlight-color:transparent;}

h1,h2,h3,h4,h5,h6,i,em{font-size:12px; font-style:normal; font-weight:normal;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,img{ list-style:none; border:0;}
a { text-decoration:none; -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }
em,strong,b{font-weight:normal;}


/*公共样式开始*/
.logoM { width:135px; height:24px; margin:9px auto 0; background:url(../images/logom.png) no-repeat; background-size:135px 24px; text-indent:-99999px; overflow:hidden;}
.clear{ clear:both; font-size:0; visibility:hidden; line-height:1px; height:1px; margin-top:-1px;}
.fixfloat:after{content:".";display:block;clear:both;visibility:hidden;height:0;}
.fixfloat{zoom:1}
.gray { color:#999;}

.bgWhite{ background:#fff;}
.bgGray{background:#f0f0f0;}

input{color:#333; font-size:16px; font-family:microsoft yahei; border:none; outline:none;}

.e_clear:after {content:".";display: block;height:0;clear: both;visibility: hidden;}
.e_clear {display:inline-block;}
.e_clear {display:block;}
.e_left{float:left;}
.e_right{float:right;}

.space40{height:40px;}
.mp0 { margin:0px; padding:0px;}
.mT14 { margin-top:14px;}
.mB14 {margin-bottom:14px;}

/*按钮样式*/
.orangeLBtn,.orangeBtn,.orangeBtn{ display:block; height:44px; margin:0 12px 20px; font:16px/44px microsoft yahei; text-align:center; color:#fff; border-radius:22px; overflow:hidden;}
.orangeBtn{color:#fff; background:#f7af88; border:1px solid #f7af88;}
.orangeLBtn{color:rgba(255,255,255,.5); background:#f7af88; border:1px solid #f7af88;}
.orangeBtn{color:#fff; background:#fe6e21; border:1px solid #fe6e21;}
.orangeBtn2{color:#fff; background:#ff6e00;}
.orangeBor { border:1px solid #ff6e00; color.setTxt3 .box:#ff6e00; }

/*边线*/
.borderA:after{ content:""; position:absolute; top:0; bottom:0; left:0; right:0; width:200%; height:200%; border:1px solid #e9e9e9; -webkit-transform:scale(.5); -moz-transform:scale(.5); -ms-transform:scale(.5); -o-transform:scale(.5); -khtml-transform:scale(.5); transform:scale(.5); -webkit-box-sizing:border-box;  -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; -khtml-box-sizing:border-box; box-sizing:border-box; -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -ms-transform-origin:0 0; -o-transform-origin:0 0; -khtml-transform-origin:0 0; transform-origin:0 0; }

.borderB:after{ content:""; position:absolute; bottom:0; left:0; right:0; border-bottom:1px solid #e9e9e9; -webkit-transform:scaleY(.5); -moz-transform:scaleY(.5); -ms-transform:scaleY(.5); -o-transform:scaleY(.5); -khtml-transform:scaleY(.5); transform:scaleY(.5); -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -ms-transform-origin:0 0; -o-transform-origin:0 0; -khtml-transform-origin:0 0; transform-origin:0 0; }

.borderT:after{ content:""; position:absolute; top:0; left:0; right:0; border-top:1px solid #e9e9e9; -webkit-transform:scaleY(.5); -moz-transform:scaleY(.5); -ms-transform:scaleY(.5); -o-transform:scaleY(.5); -khtml-transform:scaleY(.5); transform:scaleY(.5); -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -ms-transform-origin:0 0; -o-transform-origin:0 0; -khtml-transform-origin:0 0; transform-origin:0 0; }

.borderL:after{ content:""; position:absolute; top:0; bottom:0; left:0; border-left:1px solid #e9e9e9; -webkit-transform:scaleX(.5); -moz-transform:scaleX(.5); -ms-transform:scaleX(.5); -o-transform:scaleX(.5); -khtml-transform:scaleX(.5); transform:scaleX(.5); -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -ms-transform-origin:0 0; -o-transform-origin:0 0; -khtml-transform-origin:0 0; transform-origin:0 0; }

.borderR:after{ content:""; position:absolute; top:0; bottom:0; right:0; border-right:1px solid #e9e9e9; -webkit-transform:scaleX(.5); -moz-transform:scaleX(.5); -ms-transform:scaleX(.5); -o-transform:scaleX(.5); -khtml-transform:scaleX(.5); transform:scaleX(.5); -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -ms-transform-origin:0 0; -o-transform-origin:0 0; -khtml-transform-origin:0 0; transform-origin:0 0; }

/*上拉按钮，下拉按钮*/
#pullDown, #pullUp { background:#fff; height:41px; line-height:42px; padding:0px 0px; border-bottom:1px solid #ccc; font-weight:bold; font-size:14px; color:#888; }
#pullDown .pullDownIcon, #pullUp .pullUpIcon  { display:block; float:left; width:40px; height:40px; background:url(../images/pull-icon.png) 0 0 no-repeat; background-size:40px 80px; -webkit-transition-property:-webkit-transform; -webkit-transition-duration:250ms; }

#pullUp.flip .pullUpIcon, #pullDown .pullDownIcon { -webkit-transform:rotate(0deg) translateZ(0); }

#pullUp .pullUpIcon, #pullDown.flip .pullDownIcon { -webkit-transform:rotate(-180deg) translateZ(0); }

#pullDown.wait .pullDownIcon, #pullUp.wait .pullUpIcon { background-position:0 100%; -webkit-transform:rotate(0deg) translateZ(0); -webkit-transition-duration:0ms; -webkit-animation-name:waitkey; -webkit-animation-duration:2s; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:linear; }

@-webkit-keyframes waitkey { from { -webkit-transform:rotate(0deg) translateZ(0); } to { -webkit-transform:rotate(360deg) translateZ(0); } }
 


#bottomT{height:35px; margin-bottom:35px; color:#666; line-height:25px; text-align:center; background:#f0f0f0; border:none;display:none;}
#bottomT a{color:#333;}

/*公共样式结束*/


/*-- 头部 --*/
header em,.infoTxt .label em,.infoTxt .address em,.infoList .tel,.searchCont .left em,.searchCont .tel em,.my .cont li em,.infoTxt .picList2 li .local:before,.infoTxt .picList2 li .text span:before,.topPic .icon .local:before,.setBt .lb:before,.picNum a:before,.topIndex h4 em{ background:url(../images/icon_08.png) no-repeat; background-size:100% auto; }
header { position:fixed; top:0; left:0; width:100%; height:44px; text-align:center; font:20px/42px "Microsoft Yahei"; color:#f96500; border-bottom:1px solid #ededed; background:#fff; overflow:hidden; z-index:99;}
header em { top:7px; width:15px; height:17px; }
header em,.searchCont em { display:block; width:18px; height:18px; text-indent:-9999px; background-size:18px auto;  }
header .return { position:absolute; top:13px; left:10px;}
header .return em { background-position:0 -96px;}
header .share em { background-position:0 -78px;}
header .more em { background-position:0 -60px;}
header .sort em { background-position:0 -113px;}
header .search em { background-position:0 -132px;}
header .tel em,.searchCont .tel em { background-position:0 -150px;}
header .close em { position:absolute; top:13px; left:10px; background-position:0 -348px;}
header .region { position:absolute; top:1px; left:10px; text-indent:1px; color:#f96500; font-size:14px;}
header .region em { float:right; width:12px; height:12px; margin:15px 0 0 5px; background-position:0 -220px; background-size:12px auto;}
header .region span { display:block; float:left; line-height:20px;}
header .iconR { position:absolute; top:13px; right:0px; }
header .iconR a { float:left; display:block; margin-right:10px; }
header .nav,header .nav2,header .nav4{ width:60%; height:30px; margin:6px auto; font:14px/28px "Microsoft Yahei"; color:#333; }
header .nav a,header .nav4 a { display:block; float:left; height:30px; text-align:center; color:#f96500; border:1px solid #f96500; border-width:1px 0 1px 1px; }
header .nav a:nth-child(1) { width:33%; border-radius:8px 0 0 8px;}
header .nav a:nth-child(2) { width:32%;}
header .nav a:nth-child(3) { width:32%; border-radius:0 8px 8px 0; border-width:1px;}
header .nav a.active,header .nav2 a.active,header .nav4 a.active{ color:#fff; background:#f96500;}
header .nav2 a{display:block; float:left; width:49%; height:30px; text-align:center; color:#f96500; border:1px solid #f96500; border-width:1px 0 1px 1px;}
header .nav2 a:nth-child(1) {border-radius:8px 0 0 8px;}
header .nav2 a:nth-child(2) {border-radius:0 8px 8px 0; border-width:1px;}
header .nav4 { width:70%;}
header .nav4 a { width:24%;}
header .nav4 a:nth-child(1) {border-radius:8px 0 0 8px;}
header .nav4 a:nth-child(4) {border-radius:0 8px 8px 0; border-width:1px;}
header .textR{position:absolute; top:0; right:12px; font:14px/42px "Microsoft Yahei"; color:#f96500;}

/*尾部样式*/
#footer { position:fixed; left:0; bottom:0; width:100%; z-index:100;}

/*固定底部导航*/
.navBott{ border-top:1px solid #e8e8e8; background:#fff; overflow:hidden;}
.navBott li{ float:left; width:25%; height:44px; padding:5px 0 0;}
.navBott li a{ display:block; position:relative; width:100%; height:100%; font:14px/14px "Microsoft Yahei"; color:#989898; text-align:center; text-decoration:none;}
.navBott li a.active{color:#f96500;}
.navBott li a em{display:block; width:23px; height:23px; margin:0 auto 4px; content:"";  background:url(../images/icon_09.png) no-repeat center top; background-size:100% auto;}
.navBott li .home em{ background-position:0 -23px;}
.navBott li .home.active em{ background-position:0 0;}
.navBott li .classify em{ background-position:0 -161px;}
.navBott li .classify.active em{ background-position:0 -138px;}
.navBott li .invitation em{ background-position:0 -207px;}
.navBott li .invitation.active em{ background-position:0 -184px;}
.navBott li .my em{ background-position:0 -69px;}
.navBott li .my.active em{ background-position:0 -46px;}

.navBott2 li{width:33.3%;}

#wedding{height:100%; margin-top:44px; padding-bottom:46px; overflow:hidden;}
#wrapper { position:absolute; top:44px; padding:0px; bottom:46px; width:100%; height:100%; }
h2 { height:50px; font-size:14px; color:#fff; line-height:48px; text-align:center; text-align:center; background:url(../images/line.gif) repeat-x left center;}
h2 strong { padding:2px 12px; background:#cdcdcd; border-radius:15px; }

/*婚庆*/
.wedding,.topPic,.infoTxt{position:relative;}
.topPic img,.infoTxt .like .pic img,.setTxt dl dd img{display:block; width:100%; margin:0 auto;}
.infoList img{display:block; width:75px; height:50px; margin:0 auto; overflow:hidden;}
.infoTxt .noPos { position:relative; top:0px;}
.topPic .icon{position:absolute; bottom:7%; right:11px; width:100%; font:12px/17px microsoft yahei; color:#fff; text-align:center; z-index:10; overflow:hidden;}
.topPic .icon span{float:right; height:18px; margin-left:5px; padding:0 4px; background:rgba(0,0,0,.5); border-radius:5px;}
.topPic .icon .local{position:relative; padding-left:15px;}
.topPic .icon .local:before{content:""; position:absolute; top:3px; left:4px; width:10px; height:12px; background-position:0 -222px;}
.topPic .num{position:absolute; bottom:14.5%; right:11px; height:18px; padding:0 4px; font:12px/17px microsoft yahei; color:#fff; text-align:center; background:rgba(0,0,0,.5); border-radius:5px; z-index:10;}
.topPic .showPic { min-height:212px;}
.topPic .info { position:absolute; top:58%; left:0px; width:100%; z-index:2;}
.topPic .info img { height:60px; border-radius:50%;}
.topPic .info a { display:block; width:60px; margin:0 auto; border:2px solid rgba(255,255,255,.5); border-radius:100%;}
.topPic .info a.expIcon img{display:block; width:60px; height:60px;}
.topPic .info h3 { height:35px; font-size:18px; color:#333; line-height:35px; text-align:center; }
.topPic .Bt { position:absolute; left:0px; bottom:0px; width:100%; height:62px; padding:0 0 0 20px; line-height:62px; color:#fff; font-size:20px; background:url(../images/bj_01.png) repeat-x left bottom; }
.topPic .bLine{position:absolute; bottom:0; left:0;}
.topPic .bLine img{display:block; width:100%; height:auto;}

.infoTxt{position:relative;}
.infoTxt,.txtCont { margin-bottom:10px; font-size:14px; color:#333; background:#fff; overflow:hidden;}
#wrapper .infoTxt{padding-bottom:30px;}
.infoTxt2{margin:10px 0;}
.infoTxt3{margin:0; padding-bottom:10px;}
.infoTxt h4,.infoList h4 { height:33px; padding:0 0 0 10px; font-size:14px; color:#333; line-height:33px; }
.infoTxt .comment {padding:10px 0 4px; text-align:center; color:#999; overflow:hidden; }
.infoTxt .comment img { display:block; width:36px; margin:0 auto;}
.infoTxt .comment strong {position:relative; top:-5px; font-size:14px; line-height:24px; color:#333;}
.infoTxt .comment .orange { display:block; width:88px; height:25px; margin:5px auto 0; color:#fff; text-align:center; line-height:23px; border-radius:7px; background:#ff9258; }
.infoTxt .comment em { display:block; width:60px; height:15px; margin:0 auto; text-indent:-9999px; background:url(../images/icon_lab.png) no-repeat; background-size:100% auto; }
.infoTxt .txt { padding:0 10px; font-size:14px; line-height:22px; color:#666;  }
.infoTxt .txtA{ padding:0 10px; font-size:14px; line-height:22px; color:#666; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden; }
.infoTxt .arrow_up { display:block; width:100%; height:20px; text-indent:-9999px; border-bottom:2px solid #ededed; background:url(../images/arrow.png) no-repeat center center; background-size:18px auto; overflow:hidden; }
.infoTxt .arrow_down { display:block; width:100%; height:20px; text-indent:-9999px; border-bottom:2px solid #ededed; background:url(../images/arrow01.png) no-repeat center center; background-size:18px auto; overflow:hidden; }
.infoTxt .address,.infoTxt .actLink li a,.infoTxt .picMore,.getInto { display:block; height:30px; margin-right:10px; padding:0 10px; line-height:30px; color:#999; background:url(../images/arrow03.png) no-repeat center right; background-size:5px auto; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden;} 
.infoTxt .address { position:relative; padding:0 10px 0 25px;}
.infoTxt .address em { top:9px;}
.infoTxt .actLink li { height:32px; line-height:32px; padding:0 0 0 18px; border-top:1px solid #ededed; background:url(../images/icon_03.png) no-repeat 10px 10px; background-size:3px 11px; }
.infoTxt .actLink li a { padding:0 12px 0 0; color:#333; }
.infoTxt .promise { padding:5px 10px; line-height:22px; border-top:1px solid #ededed; overflow:hidden;}
.infoTxt .gift { padding:10px 0 5px 10px; color:#999; border-top:1px solid #ededed; }
.infoTxt .gift li { position:relative; height:22px; padding:0 0 3px 65px;}
.infoTxt .gift em { position:absolute; top:0px; left:0px; display:block; width:50px; padding:0 4px 2px; text-align:center; font-size:11px; border-width:1px; border-style:solid; border-radius:4px; background:#fff; }
.infoTxt .gift .colA { border-color:#88d14f; color:#88d14f}
.infoTxt .gift .colB { border-color:#71dddc; color:#71dddc}
.infoTxt .gift .colC { border-color:#ff845b; color:#ff845b}
.infoTxt .gift .colD { border-color:#ffcc57; color:#ffcc57}
.infoTxt .supportLink{overflow:hidden;}
.infoTxt .supportLink li{position:relative; float:left; width:20%; padding:56px 0 15px; color:#f60; text-align:center;}
.infoTxt .supportLink li:before{content:""; position:absolute; top:0; left:50%; width:50px; height:50px; margin-left:-25px; background:url(../images/icon_06.png) no-repeat center top; background-size:100% auto;}
.infoTxt .supportLink li:nth-child(1):before{background-position:0 0;}
.infoTxt .supportLink li:nth-child(1).no:before{background-position:0 -50px;}
.infoTxt .supportLink li:nth-child(2):before{background-position:0 -100px;}
.infoTxt .supportLink li:nth-child(2).no:before{background-position:0 -150px;}
.infoTxt .supportLink li:nth-child(3):before{background-position:0 -200px;}
.infoTxt .supportLink li:nth-child(3).no:before{background-position:0 -250px;}
.infoTxt .supportLink li:nth-child(4):before{background-position:0 -300px;}
.infoTxt .supportLink li:nth-child(4).no:before{background-position:0 -350px;}
.infoTxt .supportLink li:nth-child(5):before{background-position:0 -400px;}
.infoTxt .supportLink li:nth-child(5).no:before{background-position:0 -450px;}
.infoTxt .supportLink li.no{color:#cdcdcd;}
.infoTxt .info li{ height:32px; padding:0 10px; line-height:32px; border-top:1px solid #ededed;}
.infoTxt .info li span{ float:right; font-size:13px; color:#999;}
.infoTxt .info li b{color:#666;}
.infoTxt .info2 li span{ float:left; width:49%;}
.infoTxt .info li sup { line-height:16px;}
.infoTxt .picList li { float:left; width:50%; padding:10px 0 5px 0; border-top:1px solid #ededed; }
.infoTxt .picList li div { width:150px; margin:0 auto;}
.infoTxt .picList li img {display:block; width:150px; height:100px; margin:0 auto; border:1px solid #f1f1f1; overflow:hidden;}
.infoTxt .name,.infoList .name { display:block; height:20px; font-size:14px; color:#333; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden;}
.infoTxt .picList span { color:#f5662a; }
.infoTxt .picMore { border-top:1px solid #ededed;}
.infoTxt .picMore span { float:right; }

.infoTxt .picList2{background:#f0f0f0;padding-bottom:2px;}
.infoTxt .picList2 li{margin-bottom:10px; background:#fff; overflow:hidden;}
.infoTxt .picList2 li .link{position:relative;}
.infoTxt .picList2 li .link span{position:absolute; bottom:12px; left:12px; display:block; height:15px; padding:0 6px; font:12px/14px microsoft yahei; color:#fff; text-align:center; background:rgba(255,110,0,.65); border:1px solid rgba(255,255,255,.65); border-radius:8px;}
.infoTxt .picList2 li .pic{display:block;}
.infoTxt .picList2 li img{width:100%;}
.infoTxt .picList2 li .topBox{font-size:15px; color:#333;}
.infoTxt .picList2 li .topBox img{width:45px; height:45px; border-radius:50%;}
.infoTxt .picList2 li .topBox .labelT{height:15px; margin:14px 0 0 5px; padding:0 7px; font-size:12px; line-height:15px; color:#fff; text-align:center; border-radius:8px;}
.infoTxt .picList2 li .topBox .blue{background:#50d7f9;}
.infoTxt .picList2 li .topBox .yellow{background:#ffc34e;}
.infoTxt .picList2 li .topBox .orange{background:#ff975e;}
.infoTxt .picList2 li .topBox .pink{background:#ff7d95;}
.infoTxt .picList2 li .keep{position:absolute; top:9px; right:10px; width:28px; height:28px; padding:0; font-size:12px; color:#fff; text-align:center; background:rgba(51,51,51,.5); border-radius:4px;}
.infoTxt .picList2 li .keep em,.infoTxt .keep em,.infoList .keep em,.infoList .keepL em {display:block; width:12px; height:12px; margin:2px auto 0; background:url(../images/icon_zan02.png) no-repeat; background-size:100% auto;}
.infoTxt .keep em,.infoList .keep em,.infoList .keepL em { background-position:0 -24px;}
.infoTxt .keep span { color:#999; }
.infoTxt .picList2 li .keep em { position:relative;}
.infoTxt .picList2 li .keep:visited em,.infoTxt .picList2 li .keep:active em,.infoTxt .picList2 li .keep.active em,.infoTxt .keep:visited em,.infoList .keep:visited em,.infoList .keepL:visited em,.infoTxt .keep:active em,.infoList .keep:active em,.infoList .keepL:active em,.infoTxt .keep.active em,.infoList .keep.active em,.infoList .keepL.active em{background-position:0 -12px; cursor:auto;}
.infoTxt .keep,.infoList .keep,.infoList .keepL { position:relative; float:right; margin-top:2px; padding:0 0 0 14px; font-size:12px; color:#999;}
.infoList .keepL { float:none;}
.infoTxt .keep em,.infoList .keep em,.infoList .keepL em { position:absolute; top:0px; left:0px; }
.infoTxt .picList2 li .keep span{display:block; line-height:14px;}
.infoTxt .picList2 li .tit{position:absolute; bottom:3px; left:0; height:30px; width:100%; font-size:13px; line-height:30px; text-indent:12px; color:#fff; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden; background:url(../images/bj_tit.png) no-repeat; background-size:100% auto;}
.infoTxt .picList2 li .title{float:left; width:76%; padding:5px 0 10px 10px; line-height:16px; color:#666; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden;}
.infoTxt .picList2 li .title span,.infoTxt .picList2 li .text span{display:block; padding-top:4px; font-size:12px; color:#999;}
.infoTxt .picList2 li .local:before{position:relative; top:2px; content:""; display:inline-block; width:15px; height:16px; margin-right:3px; background-position:0 -34px;}
.infoTxt .picList2 li .price{float:right; display:inline-block; width:14%; padding:4px 10px 0 0; font-size:14px; text-align:right; color:#f76618;}
.infoTxt .picList2 li .price del{display:block; font-size:12px; color:#999;}
.infoTxt .picList2 li .text{float:left; margin-top:-8px; padding:0 0 10px 7px;}
.infoTxt .picList2 li .text span{display:inline-block; margin-right:15px;}
.infoTxt .picList2 li .text span:before{position:relative; top:2px; content:""; display:inline-block; width:18px; height:12px;}
.infoTxt .picList2 li .text .location:before{background-position:0 -366px;}
.infoTxt .picList2 li .text .travel:before{background-position:0 -378px;}
.infoTxt .picList2 li .text .stay:before{background-position:0 -390px;}

.infoTxt .picList3 li {padding:15px 10px 1px; border-top:1px solid #ededed; }
.infoTxt .picList3 li a{display:block;}
.infoTxt .picList3 li img{display:block; width:100%;}
.infoTxt .picList3 li .title{font:14px/40px microsoft yahei; color:#333;}

.infoTxt .like { padding:10px; color:#999; border-top:1px solid #ededed; overflow:hidden; }
.infoTxt .like .pic,.infoList .pic  { float:left; display:block; width:75px; margin-right:10px; }
.infoTxt .like dl dt { height:40px; color:#333; overflow:hidden; }
.infoTxt .like dl dd { overflow:hidden;}
.infoTxt .like dl dd div { float:left; padding-right:5px; font-size:12px;}
.infoTxt .like dl dd span { color:#f5662a; }
.infoTxt .like .keep { float:left; margin:0px; }
.infoTxt .like .keep span { color:#999; }
.infoTxt .like img { width:75px; height:56px;}
.infoTxt .discount { width:98%;}
.infoTxt .getInto { height:20px; margin:2px 0 0 0; line-height:20px; text-align:right; color:#666;}
.infoTxt .expLink { margin:0 10px 10px; padding:10px 0 0 0; border-top:1px dashed #ededed; }
.infoTxt .expLink a { display:block; padding-left:3px; height:20px; color:#fff; line-height:20px; background:#fd925e; border-radius:10px;}
.infoTxt .expLink a span { display:block; float:right; height:20px; padding:0 8px; background:#e38354; border-radius:0 10px 10px 0; }
.infoTxt .label em,.infoTxt .address em { position:absolute; left:10px; display:block; width:11px; height:12px;}
.infoTxt .label em { top:12px; float:left; }
.infoTxt .label a { display:block; color:#666;}
.infoTxt .label span { display:block; float:left; height:18px; margin:9px 5px 0 0; padding:0 10px; line-height:18px; color:#fff; border-radius:8px; background:#fd925e; }
.infoTxt .label li { position:relative; height:35px; padding:0 0 0 27px; line-height:35px; color:#666; overflow:hidden; }
.infoTxt .label li .l1 { background-position:0 0;}
.infoTxt .label li .l2,.infoTxt .address em { background-position:0 -25px;}
.infoTxt .label li .l3 { background-position:0 -13px;}
.infoTxt .noborB{padding-bottom:5px;}
.infoTxt .noborB li{height:30px; padding:0 0 0 32px; line-height:30px; border:none;}
.infoTxt .noborB span{margin:6px 5px 0 0;}
.infoTxt .noborB li .l1 { background-position:0 0;}
.infoTxt .noborB li .l2 { background-position:0 -17px;}
.infoTxt .noborB li .l3 { background-position:0 -34px;}

.infoTxt .lastBor li:last-child{margin-top:5px; padding-top:5px; border-top:1px solid #ededed;}
.infoTxt .lastBor li:last-child .l3{top:11px;}

.infoTxt .txtList li { padding:0 10px;  line-height:32px; border-top:1px solid #ededed;}
.infoTxt .txtList a { display:block; height:32px; font-size:14px; color:#333; background:url(../images/arrow03.png) no-repeat center right; background-size:5px auto;}
.infoTxt .txtList span { float:right; margin-right:15px; }
.infoTxt .line{margin:25px 10px 0; border-top:1px dashed #e6e6e6;}
.infoTxt .line2{margin:10px 0 0; border-top:1px solid #ededed;}
.infoTxt .business { position:relative; padding:10px 0 10px 12px; font-size:12px; line-height:20px; color:#999; }
.infoTxt .business strong { font-size:14px; color:#333; }
.infoTxt .business img { float:left; width:30px; height:30px; margin:4px 10px 0 0; border-radius:50%;}
.infoTxt .business a { position:absolute; right:10px; top:20px; padding-right:12px; color:#666; background:url(../images/arrow03.png) no-repeat center right; background-size:6px auto; }
.infoTxt .business span { position:relative; margin-left:5px;  }
.infoTxt .business span em { position:absolute; top:0px; left:0px; display:block; width:60px; height:15px; text-indent:-9999px; background:url(../images/icon_lab.png) no-repeat; background-size:100% auto; }
.infoList { overflow:hidden;}
.infoList h4 { background:#fff;}
.infoList ul li { position:relative; margin-bottom:10px; padding:10px; color:#333; background:#fff; overflow:hidden; }
/*.infoList span { font-size:14px;}*/
.infoList a.name { margin-bottom:4px;}
.infoList p{ padding-top:4px; line-height:20px; color:#999;}
.infoList .txt { width:100%; margin-left:85px;}
.infoList .txt .keep { float:none;}
.infoList .tel { position:absolute; top:32px; right:5px; display:block; width:18px; height:18px; text-indent:-9999px; background-position:0 -150px;}
.infoList .orange { font-size:12px; color:#f96500}
.infoList .txt .name span,.infoTxt .like .name span { position:relative; margin:0 0 0 9px;}
.infoList .txt .name em,.infoTxt .like .name em { position:absolute; top:3px; left:0px; width:60px; height:15px; text-indent:-9999px; background:url(../images/icon_lab.png) no-repeat; background-size:100% auto; }
.infoList .txt .name .labA em,.infoTxt .comment .labA,.infoTxt .business .labA,.infoTxt .like .labA em { background-position:0 0;}
.infoList .txt .name .labB em,.infoTxt .comment .labB,.infoTxt .business .labB,.infoTxt .like .labB em { background-position:0 -15px;}
.infoList .txt .name .labC em,.infoTxt .comment .labC,.infoTxt .business .labC,.infoTxt .like .labC em { background-position:0 -46px;}
.infoList .txt .name .labD em,.infoTxt .comment .labD,.infoTxt .business .labD,.infoTxt .like .labD em { background-position:0 -30px;}
.infoList .title{display:block; margin-bottom:10px; padding:2px 0 10px; font:13px/13px microsoft yahei; color:#666; border-bottom:1px dashed #e6e6e6;}
.infoList .title:after{top:14px;}
.infoList .title em{position:relative; top:2px; display:inline-block; width:13px; height:13px; margin-right:5px; background:url(../images/icon_05.png) no-repeat; background-size:auto 14px; background-position:-25px 0;}
.infoList .orderInfo{margin-top:5px; padding-top:7px; border-top:1px dashed #e6e6e6;}
.infoList .orderInfo p{padding:0; font:12px/20px microsoft yahei; color:#999; border-radius:10px;}
.infoList .orderInfo p span{display:block;}
.infoList2 .tel{top:65px;}

.setBt {padding:10px 10px 5px; line-height:20px; color:#999;}
.setBt center{padding:8px 10px 5px; word-wrap:normal; word-break:break-all; overflow:hidden;}
.setBt2{height:60px;}
.setBt strong { font-size:18px; color:#333; }
.setBt strong i{height:14px; margin-right:3px; padding:0 6px; line-height:14px; color:#fff; text-align:center; background:#fd925e; border-radius:12px;}
.setBt p { font-size:18px; color:#f60; }
.setBt p b{color:#999;}
.setBt p em,.setBt p del{padding-left:5px; height:12px; font-size:12px; color:#999;}
.setBt span { font-size:15px; line-height:30px;}
.setBt .lb{display:inline-block; margin-left:5px; font-size:12px; color:#999;}
.setBt .lb:before{position:relative; top:2px; content:""; display:inline-block; width:18px; height:12px;}
.setBt .lb.location:before{background-position:0 -366px;}
.setBt .lb.travel:before{background-position:0 -378px;}
.setBt .lb.stay:before{background-position:0 -390px;}
.setTxt h4 { font-size:14px; line-height:32px;}
.setTxt .tit{color:#666;}
.setTxt dl { padding:0 10px; background:url(../images/bj_02.gif) repeat-x bottom left;} 
.setTxt dl dt { padding-bottom:10px; overflow:hidden; }
.setTxt dl dt img { display:block; float:left; width:30px; height:30px;}
.setTxt dl dt div { padding-left:5px;  overflow:hidden; }
.setTxt dl dd { padding:10px 0 1px; border-top:1px dashed #ededed; }
.setTxt a.txt { display:block; line-height:30px; text-align:center; color:#666; }

.setTxt2 dl{padding-bottom:10px; background:none;}
.setTxt2 dl dt{padding:0;}
.setTxt2 dl dd{padding:0; border:none;}
.setTxt3 .box {padding:10px 10px 10px 50px; border-top:1px solid #ededed; clear:both; overflow:hidden;}
.setTxt3 .box em,.setTxt3 .box3 em{display:inline-block; width:30px; height:30px; background:url(../images/icon_07.png) no-repeat center left; background-size:100% auto;}
.setTxt3 .box .label_photo em {background-position:0 0;}
.setTxt3 .box .label_cloth em {background-position:0 -30px;}
.setTxt3 .box .label_product em{background-position:0 -60px;}
.setTxt3 .box .label_scene em{background-position:0 -90px;}
.setTxt3 .box .label_team em{background-position:0 -120px;}
.setTxt3 .box .label_info em{background-position:0 -150px;}
.setTxt3 .box .label_hlbz em{background-position:0 -180px;}
.setTxt3 .box .label_dgdj em{background-position:0 -210px;}
.setTxt3 .box .label_hy em{background-position:0 -240px;}
.setTxt3 .box .label_fzp em{background-position:0 -270px;}
.setTxt3 .box dt{float:left; margin-left:-40px;}
.setTxt3 .box dd{float:left; width:100%; line-height:30px; color:#999;}
.setTxt3 .box dd .tit{color:#333;}
.setTxt3 .box dd span{display:inline-block; width:70px; padding-right:10px; color:#666;}
.setTxt3 .box ul li{/*white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden;*/ border-bottom:1px dashed #e6e6e6;}
.setTxt3 .box ul li:last-child{border:none;}
.setTxt3 .box ul li .t{float:left; margin-left:-80px; color:#666;}
.setTxt3 .box ul li .cont{float:left; padding-left:80px;}
.setTxt3 .box2 dt {margin:30px 0 0 -40px;}
.setTxt3 .box2 dd .left,.setTxt3 .box2 dd span { float:left; }
.setTxt3 .box2 ul li { float:left; width:50%; color:#999;}
.setTxt3 .box2 ul li:last-child{border-bottom:1px dashed #e6e6e6;}
.setTxt3 .box2 strong { color:#666;}
.setTxt3 .box3 { position:relative; float:left; width:50%; padding:0px; font-size:12px;}
.setTxt3 .box3 em { position:absolute; top:35px; left:10px;}
.setTxt3 .box3 .label_photo {background-position:0 0;}
.setTxt3 .box3 .label_cloth {background-position:0 -30px;}
.setTxt3 .box3 ul { margin:0 4px 0 50px; overflow:hidden;}
.setTxt3 .box3 ul li { color:#999; line-height:30px; border-bottom:1px dashed #e6e6e6; white-space:nowrap; word-break:keep-all; text-overflow:ellipsis; overflow:hidden;}
.setTxt3 .box3 strong { color:#666;}
.setTxt3 .orangeBor { display:block; width:109px; height:29px; margin:10px auto 15px; text-align:center; color:#f96500; line-height:28px; border-radius:4px; }

.txtCont { padding:10px;}
.txtCont img { width:100%; margin:10px 0 0;}

.topBox{padding:12px 18px; font-size:14px; color:#666; background:#fff; overflow:hidden; border-bottom:1px solid #ededed;}
.topBox a { float:left; padding-top:11px; font-size:15px; color:#333;}
.topBox .more { float:right; padding-right:12px; background:url(../images/arrow03.png) no-repeat right 15px; background-size:auto 14px; }
.topBox .gz {float:right; dispay:block; margin-top:10px; padding:0 8px; height:22px; font:14px/22px microsoft yahei; text-align:center; color:#ff6e00; border:1px solid #ff6e00; border-radius:5px;}
.topBox img{float:left; width:45px; height:45px; border-radius:50%; margin-right:10px;}
.topBox span{float:left; padding-top:11px;}

.grayTextA{position:relative; height:45px; font:12px/22px microsoft yahei; text-align:center; color:#999;}
.grayTextA:after{content:""; position:absolute; top:24px; left:50%; width:12px; height:8px; margin-left:-6px; background:url(../images/arrow04.png) no-repeat; background-size:100% auto;}
.grayTextT:after{top:0; background-position:0 0;}
.grayTextB:after{background-position:0 -10px;}

.grayTextT{height:33px; margin-top:10px; padding-top:12px;}

.bottomIcon {position:fixed; bottom:0; left:0; width:100%; height:45px; border-top:1px solid #ededed; background:#fff; z-index:91;}
.bottomIcon a { display:block; float:left; width:30%; height:45px; font-size:14px; color:#999; line-height:16px; text-align:center; }
.bottomIcon em { display:block; height:20px; margin:13px 0 0 22px; padding:0 0 0 24px; font-size:14px; line-height:20px; text-align:left; background:url(../images/icon_04.png) no-repeat; background-size:20px auto; }
.bottomIcon span { font-size:9px; font-family:Arial;}
.bottomIcon a.orange { width:40%; padding-top:6px; font-size:15px; color:#fff; text-align:center; background:#fe6e21;}
.bottomIcon a.orange span{color:#ffd1b9;}
.bottomIcon .follow em { margin-left:0px; background-position:0 -20px;}
.bottomIcon .follow:visited em,.bottomIcon .follow:active em,.bottomIcon .follow.active em{background-position:0 -40px;}

.bottomIcon2 a{width:60%; font-size:14px; line-height:45px; color:#666;}
.bottomIcon2 a span{padding:0 4px; font-size:14px; color:#f76618;}
.bottomIcon2 a.orange {padding-top:0;}

.discount { margin:5px 0 0 0; padding:4px 0 0 0; font-size:12px; color:#999; border-top:1px dashed #e6e6e6; }
.discount p { padding:4px 0;}
.discount span { margin-right:4px; padding:2px; font-size:12px; border-width:1px; border-style: solid; border-radius:2px; }
.discount .borA { border-color:#88d14f; color:#88d14f; }
.discount .borB { border-color:#71dddc; color:#71dddc; }
.discount .borC { border-color:#ff845b; color:#ff845b; }
.discount .borD { border-color:#ffcc57; color:#ffcc57; }

/*菜单*/
.menuCont a{position:relative; display:block; height:32px; padding:0 15px 0 10px; font-size:14px; line-height:32px; color:#333; border-top:1px solid #ededed;  overflow:hidden;}
.menuCont a:after{content:""; position:absolute; top:50%; right:10px; width:10px; height:5px; margin-top:-2px; background:url(../images/arrow.png) no-repeat center right; background-size:100% auto;}
.menuCont a.active:after{background:url(../images/arrow01.png) no-repeat center right; background-size:100% auto;}
.menuCont a span{float:right; padding-right:10px;}
.menuCont .box{position:relative; display:none; min-height:390px; overflow:hidden;}
.menuCont .menuBox{position:absolute; left:0; top:0; overflow:hidden;}
.menuCont .menuBox ul{float:left; width:100%; overflow:hidden;}
.menuCont .menuBox ul li{float:left; width:45%; padding:0 2%; font-size:13px; text-align:center; border-top:none;}
.menuCont .menuBox ul li:nth-child(odd){border-right:1px dashed #e6e6e6;}
.menuCont .menuBox ul li span{display:inline-block; width:90px; height:24px; margin:8px auto 6px; font-size:15px; line-height:22px; color:#f5662a; border:1px solid #f5662a; border-radius:15px;}
.menuCont .menuBox ul li p{line-height:20px; color:#666;}

.menuCont .icon {position:absolute; bottom:5px; left:50%; width:100%; margin-left:-50%; padding:8px 0; text-align:center; overflow:hidden;}
.menuCont .icon li{float:none; display:inline-block; width:6px; height:6px; margin:0 4px; padding:0; text-indent:-9999px; text-decoration:none; background:rgba(254,110,33,.2); border-radius:100%; cursor:pointer; overflow:hidden;}
.menuCont .icon li.active{background:#fe6e21;}

/*--- 导航 ---*/
.tabMenu {position:fixed; top:85px; left:0; width:100%; height:44px; text-align:center; border-bottom:1px solid #ededed; background:#fff; overflow:hidden; z-index:90;}
.tabMenu a { display:block; float:left; width:33.33%; height:42px; font:16px/42px Microsoft Yahei; color:#666; border-bottom:2px solid #fff; overflow:hidden; }
.tabMenu a.active { color:#f76618; border-color:#f76618; }
.tabCont { padding:10px; overflow:hidden; }
.tabCont img{display:block; width:100%; margin:0 auto;}

.tabMenu2{top:0;}
.tabMenu2 a { display:block; float:left; width:auto; margin:0 10px; padding:0 2px; font:16px/42px Microsoft Yahei; color:#666; border-bottom:2px solid #fff; overflow:hidden; }
.tabMenu2 a.active { color:#f76618; border-color:#f76618; }

#wrapperM {
	position: fixed;
	top:85px;
	z-index: 2;
	height: 45px;
	width: 100%;
	background: #fff;
	overflow: hidden;
	-ms-touch-action: none;
}

#scrollerM {
	position: absolute;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height: 45px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

/*404页*/
.middlePic{padding-top:120px; }
.middlePic img{display:block; max-width:52%; margin:0 auto;}
.middlePic p{padding-top:17px; font:14px/22px microsoft yahei; color:#999; text-align:center;}
.middlePic p span{display:block; font-size:15px; color:#666;}

/*大图*/
.picNum{position:absolute; top:0; left:0; height:40px; z-index:2;}
.picNum a{display:block; height:40px; font:18px/40px microsoft yahei; color:#fff; text-indent:10px;}
.picNum a:before{content:""; position:relative; top:5px; display:inline-block; width:18px; height:21px; background-position:0 -421px;}
.largePic{position:relative; background:#000; overflow:hidden;}
.largePic li {display:none; position:absolute; top:0; left:0; width:100%;height:100%;}
.largePic li img{display:block; width:100%;}

/*地图信息*/
.map{width:100%; padding-top:45px;}

/*我的*/
.my .top{height:155px; padding-top:25px; background:url(../images/bj_top.jpg) no-repeat; background-size:100% 100%;}
.my .top .pic{width:76px; height:74px; margin:0 auto; padding-top:2px; background:rgba(255,255,255,.5); border-radius:100%;}
.my .top .pic img{display:block; width:68px; height:68px; margin:0 auto; border:2px solid #fff; border-radius:100%;}
.my .top .btn{display:block; width:64px; height:22px; margin:10px auto 0; font:12px/21px microsoft yahei; color:#fff; text-align:center; background:#fc6e21; border-radius:10px;}
.my .top span{display:block; padding-top:10px; font:15px/15px microsoft yahei; color:#fff; text-align:center;}
.my .cont{margin-bottom:10px; overflow:hidden;}
.my .cont li{height:44px; background:#fff; border-bottom:1px solid #ededed;}
.my .cont li:last-child{border:none;}
.my .cont li a{position:relative; display:block; padding:0 12px 0 13px; font:14px/44px microsoft yahei; color:#333;}
.my .cont li a span{float:right; margin-right:12px;}
.my .cont li a:after,.infoList .title:after{content:""; position:absolute; top:16px; right:12px; width:6px; height:12px; background:url(../images/arrow03.png) no-repeat; background-size:100% auto;}
.my .cont li em{position:relative; top:4px; display:inline-block; width:18px; height:20px; margin-right:11px;}
.my .cont li .myOrder em{background-position:0 -212px;}
.my .cont li .concernedS em{background-position:0 -232px;}
.my .cont li .collectTY em{background-position:0 -252px;}
.my .cont li .collectC em{background-position:0 -272px;}
.my .cont li .set em{background-position:0 -292px;}
.my .tel{height:44px; font:15px/44px microsoft yahei; color:#f76618; text-align:center; background:#fff;}
.my .orangeBtn,.my .orangeBtn{margin:25px 12px 20px;}
.my .cont2{position:relative; margin-bottom:10px; padding:5px 12px; background:#fff; overflow:hidden;}
.my .choose a{float:left; display:block; margin-right:10px; font:14px/26px microsoft yahei; color:#333;}
.my .choose a:before{position:relative; top:2px; display:inline-block; width:14px; height:14px; margin-right:6px; content:""; border:1px solid #ededed; border-radius:100%;}
.my .choose a.active:before{width:16px; height:16px; background:url(../images/icon_01.gif) no-repeat center top; background-size:100% auto; border:none;} 
.my .txt{padding:5px 12px 25px;}
.my .txt textarea{width:100%; height:100px; font:14px/20px microsoft yahei; color:#333; resize:none; overflow-y:auto; overflow-x:hidden; border:none; outline:none;}
.my .txt span{position:absolute; bottom:8px; right:12px; color:#999;}
.my .txt2{padding:7px 12px;}
.my .txt2 input{width:100%; font-size:14px; color:#333;}
.my .logo{padding:40px 0 30px;font:15px/33px microsoft yahei; color:#999; text-align:center;}
.my .logo img{display:block; width:20.5%; margin:0 auto;}
.my .bottomText{position:fixed; bottom:15px; left:0; width:100%; font:13px/20px microsoft yahei; color:#999; text-align:center;}
.my .bottomText span{display:block; color:#f76618;}

/*免费申请定制服务 预约服务*/
.apply dl{margin:20px 12px 0; height:35px; padding-top:7px; font-size:16px; line-height:30px; background:#fff; border:1px solid #ededed; border-radius:22px; overflow:hidden;}
.apply dl.active{border:1px solid #fe6e21;}
.apply dl dt{float:left; width:62px; height:30px; padding-left:20px; color:#333; border-right:1px solid #ededed;}
.apply dl dd{position:relative; float:left; width:70%; height:30px; padding-left:12px;}
.apply dl dd input{width:57%;}
.apply dl dd .del{display:none; position:absolute; top:6px; right:0; width:17px; height:17px; background:url(../images/icon.png) no-repeat; background-size:100% auto; -webkit-user-select: none;-moz-user-select: none;-o-user-select: none;}
.apply dl dd a{position:absolute; top:4px; right:0; display:block; width:78px; height:22px; font:12px/21px microsoft yahei; color:#fff; text-align:center; border-radius:10px;}
.apply dl dd a.org{background:#fe6e21;}
.apply dl dd a.org2{background:rgba(254,110,33,.5);}
.apply dl dd a.gray{background:#999;}
.apply .getCode .del{right:85px;}
.apply .error{display:none; padding:0 30px; font:13px/30px microsoft yahei; color:#f00;}
.apply .text{padding:25px 30px 0; font:13px/20px microsoft yahei; color:#999; text-align:left;}
.apply .text span{color:#ff6400;}

/*申请成功*/
.ok{text-align:center;}
.ok .top{margin:0 12px; padding:65px 0 20px; font-size:15px; color:#333; line-height:23px; border-bottom:1px dashed #dedede;}
.ok .top img{display:block; width:18%; margin:0 auto 8px;}
.ok .top span{display:block; font-size:12px; color:#999; line-height:18px;}
.ok p,.apply p{padding-top:16px; line-height:29px; text-align:center;}

/*定制服务*/
.dzfw img{display:block; width:100%; margin:0 auto 35px;}

/*push*/
.pushCont{margin-bottom:10px; padding:10px; background:#fff;}
.pushCont .title{font:18px/28px microsoft yahei; color:#333;}
.pushCont .time{font:12px/40px microsoft yahei; color:#999;}
.pushCont .cont{font:14px/24px microsoft yahei; color:#666;}
.pushCont .cont img{display:block; width:100%; margin:10px 0;}

.pushCont2{padding:10px 10px 45px;}

/*选择城市*/
.selectC .cont h3{height:30px; padding-left:12px; font:12px/30px microsoft yahei; color:#999;}
.selectC .cont .list{padding-left:12px;}
.selectC .cont .list a,.selectC .cont .list2 a{display:inline-block; height:23px; margin-bottom:9px; padding:0 18px; font:14px/23px microsoft yahei; color:#333; text-align:center; background:#fff; border:1px solid #ededed; border-radius:14px;}
.selectC .cont .list2,.selectC .cont .list3,.selectC .cont .list4{overflow:hidden;}
.selectC .cont .list2 li{float:left; width:33.3%; text-align:center;}
.selectC .cont .list2 a{padding:0 27px;}
.selectC .cont .list3,.selectC .cont .list4{background:#fff; border:1px solid #ededed; border-width:1px 0 0 0;}
.selectC .cont .list3 li,.selectC .cont .list4 li{float:left; width:20%; text-align:center;}
.selectC .cont .list3 a,.selectC .cont .list4 a{display:block; height:50px; font:15px/50px microsoft yahei; color:#333; text-align:center; border:1px solid #ededed; border-width:0 1px 1px 0;}
.selectC .cont .list3 li:nth-child(5n) a{border-right:none;}
.selectC .cont .list3 li .none,.selectC .cont .list4 li .none{cursor:default;}
.selectC .cont .list4 li{width:33.3%;}
.selectC .cont .list4 li:nth-child(3n) a{border-right:none;}

.backTop{position:fixed; bottom:40px; right:15px; display:block; width:43px; height:43px; text-indent:-9999px; background:url(../images/icon_top.png) no-repeat; background-size:100% auto;}
.backTop:hover,.backTop.active{background-position:0 -43px;}

/*选择请柬模板*/
.invitation ul{padding:18px 5px 0; overflow:hidden;}
.invitation ul li{position:relative; float:left; width:50%; margin-bottom:15px; text-align:center;}
.invitation ul li a{display:block; margin:0 10px;}
.invitation ul li a img{display:block; width:100%; margin:0 auto; border-radius:10px;}
.invitation ul li .download{position:absolute; top:50%; left:50%; display:block; width:38px; height:38px; margin:-19px 0 0 -19px; background:url(../images/icon_download.png) no-repeat; background-size:100% auto;}
.invitation ul li .loading{position:absolute; top:50%; left:50%; display:block; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/icon_loading.png) no-repeat; background-size:100% auto;}
.invitation ul li .step{position:absolute; bottom:15px; left:50%; width:80%; height:8px; margin-left:-40%; background:rgba(255,255,255,.8); border:1px solid #fff; border-radius:20px; overflow:hidden;}
.invitation ul li .step span{display:block; height:8px; background:rgba(255,110,0,.5); border-left-bottom-radius:20px;}

@media only screen and (  max-width:320px){
	.apply dl dt{padding-left:17px;}
	.apply dl dd{width:65%;}
	.apply .getCode .del{right:80px;}
	.wedding_feedback dl dd{width:76%;}
	.wedding_feedback .text input{width:50%;}
	.setTxt3 .box ul li p{width:69%;}
}
@media only screen and ( min-width:350px){
	.topPic .info {top:64%;}
}

@media only screen and (  max-height:480px){
	.wedding_share a{bottom:25%;}
	.wedding_feedback_green .cont{top:43%;}
}

/*--- 弹窗 ---*/
.mask{display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,.2); z-index:100;}
.errorTip{position:fixed; top:50%; left:50%; width:170px; margin:-35px 0 0 -85px; padding:18px 0; color:#fff; line-height:17px; text-align:center; border-radius:8px; background:rgba(0,0,0,.5); z-index:999;}

.layer{display:none; position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:100;}
.layer2{display:none; position:fixed; top:45px; left:0; bottom:0; right:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:100;}
.layer .list{position:fixed; bottom:0; left:0; width:100%; background:#fff;}
.layer .list li{position:relative; height:40px; padding:0 0 0 35px; font:13px/40px microsoft yahei; color:#666;}
.layer .list li:after{border-color:#ededed;}
.layer .list li.active{color:#f76618;}
.layer .list li.active span{position:absolute; top:13px; right:20px; width:12px; height:12px; background:#fe6e21; border:1px solid #fff; border-radius:100%;}
.layer .list li.active span:before{position:absolute; top:50%; left:50%; width:14px; height:14px; margin:-8px 0 0 -8px; content: " "; border:1px solid #fe6e21; border-radius:100%;}

.layer .infoBox{position:fixed; top:50%; left:50%; width:220px; height:126px; margin:-63px 0 0 -110px; font:12px/18px microsoft yahei; color:#000; background:#fff; border-radius:5px;}
.layer .infoBox p{position:relative; padding:10px;}
.layer .infoBox .text{height:66px; padding-top:25px; font:600 15px/24px microsoft yahei; color:#333; text-align:center; border-bottom:1px solid #ededed;}
.layer .infoBox .text span{display:block; font-size:14px; color:#666; font-weight:normal;}
.layer .closeBtn{display:block; font:14px/30px microsoft yahei; color:#ff5e00; text-align:center;}

.layer .popCont { position:fixed; top:50%; left:50%; width:270px; height:144px; margin:-77px 0 0 -135px; border-radius:10px; background:#fff; z-index:999; }
.layer .txt { height:60px; padding-top:40px; color:#000; font-size:18px; line-height:26px; text-align:center; border-bottom:1px solid #bfbfbf; }
.layer .txt2{padding:27px 0 13px;}
.layer .link { height:43px; background:url(../images/auth_03.gif) repeat-y center top;}
.layer a { display:block; width:100%; font-size:17px; color:#f96500; line-height:41px; text-align:center;}
.layer a:active { background:#e6e6e6;}
.layer .l { float:left; width:50%; height:43px; border-radius:0 0 0 13px;}
.layer .r { float:left; width:50%; height:43px; border-radius:0 0 13px 0;}

.layer .tipBox{position:fixed; top:50%; left:50%; width:226px; height:84px; margin:-42px 0 0 -113px; background:#fff; border-radius:10px; overflow:hidden;}
.layer .tipBox p{ height:31px; padding-top:20px; font:13px/13px microsoft yahei; color:#666; text-align:center; border-bottom:1px solid #bfbfbf; }
.layer .link2 { height:32px; background:url(../images/auth_03.gif) repeat-y center top;}
.layer .link2 a { display:block; width:100%; font-size:13px; color:#f96500; line-height:32px; text-align:center;}
.layer .link2 .l { float:left; width:50%; height:33px; border-radius:0 0 0 13px;}
.layer .link2 .r { float:left; width:50%; height:33px; border-radius:0 0 13px 0;}

.sortLayer,.topInfoLayer{display:none; position:fixed; top:45px; left:0px; width:100%; background:#fff; overflow:hidden; z-index:101; }
.sortLayer p { padding-left:24px; line-height:30px; font-size:14px; background:#eee}
.sortLayer a { position:relative; display:block; height:40px; padding-left:24px; font-size:14px; line-height:38px; color:#666; border-bottom:1px solid #ededed; overflow:hidden; }
.sortLayer .active { color:#f96500;}
.sortLayer .active:before{ position:absolute; width:16px; height:16px; right:10px; top:12px; margin-left:-25px; content:""; background:url(../images/icon_01.gif) no-repeat center top; background-size:100% auto;} 

.topInfoLayer a{float:left; display:block; width:33.3%; height:50px; font-size:14px; color:#989898; text-align:center;}
.topInfoLayer a.active{color:#f96500;}
.topInfoLayer a em{display:block; width:23px; height:23px; margin:6px auto 0; background:url(../images/icon_09.png) no-repeat center top; background-size:100% auto;}
.topInfoLayer .home em{background-position:0 -23px;}
.topInfoLayer .home.active em{background-position:0 0;}
.topInfoLayer .my em{background-position:0 -69px;}
.topInfoLayer .my.active em{background-position:0 -46px;}
.topInfoLayer .search em{background-position:0 -115px;}
.topInfoLayer .search.active em{background-position:0 -92px;}

.searchCont { display:none; position:fixed; top:0; left:0px; width:100%; height:44px; background:#fff; border-bottom:1px solid #ededed; overflow:hidden; z-index:101;}
.searchCont .left{position:relative; float:left; width:70%; height:25px; margin:8px 0 0 6px; padding-top:3px; background:#f0f0f0; border-radius:13px;}
.searchCont .left em { position:absolute; top:5px; left:15px; width:18px; height:18px; background-size:18px auto; background-position:0 -312px;}
.searchCont .left input{width:75%; padding:0 30px 0 40px; background:none;}
.searchCont .left .del{position:absolute; top:5px; right:12px; width:17px; height:17px; text-indent:-9999px; background:url(../images/icon_close.png) no-repeat center top; background-size:100% auto;}
.searchCont .orgText,.searchCont .icon{float:left; margin:0 6px; font-size:14px; line-height:44px; color:#f76618;}
.searchCont .icon { float:right; margin-right:12px; }
.searchCont .tel { position:relative; top:13px; float:right; margin-right:12px; }

/*--- 浮条 ---*/
.cover_box{display:none; position:fixed; top:0; left:0; width:100%; height: 40px; z-index:99;}
.cover{position:relative; width: 100%; height: 40px; -webkit-user-select: none; background:#333;}
.cover_con {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; padding:5px 10px 0 30px;}
.cover_con .logo{display:block; width:30px; height:30px; margin:0 10px 0 0; background:url(../images/logo_hl.png) no-repeat; background-size:100% auto; border-radius:4px;}
.cover_con  .detail {font:12px/16px "Microsoft YaHei"; color:#fff; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1;}
.cover_con  .detail h3{font-weight:bold;}
.cover_con .btn {display: block; width:60px; height:24px;margin:3px 0 0 0; font:12px/24px "Microsoft YaHei"; color:#fff; text-decoration:none; text-align:center; background:#f57207; border-radius:4px;}
.cover .closeBtn {position: absolute; left:8px; top:13px; display:block; width:14px; height:14px; background: url(../images/icon_close_02.png) no-repeat; background-size:100% auto;}

@media only screen and (  max-width:340px){
	.searchCont .left input{width:72%;}
}

/*-- 焦点图 --*/
.topIndex{position:relative; background:#f0f0f0; z-index:2;}
.topIndex h4{margin-top:10px; background:#fff;}
.topIndex h4 em{position:relative; top:3px; display:inline-block; width:18px; height:18px; margin-right:3px; background-position:0 -441px;}
.topIndex .promise{height:24px; padding:4px 0; background:#fff; border-top:1px solid #ededed; overflow:hidden;}
.topIndex .promise em{float:left; display:inline-block; width:60px; height:20px; margin:2px 12px; background:url(../images/pic_promise.png) no-repeat center center; background-size:100% auto;}
.topIndex .promise span{padding-left:10px; font:12px/24px microsoft yahei; color:#333; border-left:1px solid #eee;}
.indexFocus{position:relative; overflow:hidden; font-size:.15rem; width:100%; background:#fff;}
.indexFocus ul{position:relative; overflow:hidden;}
.indexFocus ul li {display:none; position:absolute; top:0; left:0; width:100%; height:100%;}
.indexFocus ul li img{display:block; width:100%;}
.indexFocus .icon{position:absolute; left:0; text-align:center; bottom:.1rem; width:100%;}
.indexFocus .icon li{display:inline-block; width:10px; height:10px; margin:0 5px; text-indent:-9999px; border-radius:100%; background:rgba(255,255,255,.3); cursor:pointer;}
.indexFocus .icon li.active{background:#fff;}
.indexMenu { position:relative; width:100%; padding-top:9px; background:#fff; overflow:hidden;}
.indexMenu img,.adv img { display:block; width:100%; }
.indexMenu .link {overflow:hidden; }
.indexMenu .link li{float:left; width:25%;}
.indexMenu a { display:inline-block;width:100%; font-size:14px; line-height:22px; color:#999; text-align:center; overflow:hidden; }
.indexMenu a em{display:block; width:45px; height:45px; margin:0 auto; background:url(../images/icon_10.png) no-repeat center top; background-size:100% auto;}
.indexMenu a .zhq{background-position:0 0;}
.indexMenu a .dhy{background-position:0 -45px;}
.indexMenu a .phz{background-position:0 -90px;}
.indexMenu a .hlgj{background-position:0 -135px;}

.indexMenu2 a em{background:url(../images/icon_11.png) no-repeat center top; background-size:100% auto;}
.indexMenu2 a .dhy{background-position:0 -45px;}
.indexMenu2 a .zhq{background-position:0 -315px;}
.indexMenu2 a .phz{background-position:0 -225px;}
.indexMenu2 a .qqlp{background-position:0 -270px;}
.indexMenu2 a .dzqj{background-position:0 0;}
.indexMenu2 a .lcjr{background-position:0 -180px;}
.indexMenu2 a .hlgj{background-position:0 -135px;}
.indexMenu2 a .sort{background-position:0 -90px;}

.adv {position:relative; margin:10px 0; overflow:hidden;}

#wrapper2 {
	position: relative;
	z-index: 2;
	height: 80px;
	width: 100%;
	background: #fff;
	overflow: hidden;
	-ms-touch-action: none;
}

#scroller2 {
	position: absolute;
	z-index: 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	height: 80px;
	padding:7px 0 7px 12px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller2 ul{width:100%; height:80px;}
#scroller2 ul li{float:left; width:132px; height:66px; margin-right:7px;}
#scroller2 ul li img{width:100%; height:100%;}


.article { margin-top:45px; padding:0 15px 0 20px; font-size:16px; line-height:20px; color:#999; background:#fff; overflow:hidden; }
.article .copy { padding-top:25px; font-size:12px; line-height:30px; text-align:center; overflow:hidden; }
.article .copy .logo { display:block; width:72px; height:72px; margin:15px auto 10px; border-radius:15px;}
.article .copy strong { font-weight:bold; font-size:17px; color:#333;}
.article .copy a.link { display:block; width:84px; height:30px; margin:5px auto 15px; font-size:12px; color:#999; text-align:center; background:#e3e3e3; border-radius:5px; }
.article img { width:100%; }
