<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广告-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/js/page.js" ></script> -->
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;商家作品
			</div>
		</div>
		<div class="page">
			<!-- banner页面样式 -->
			<div class="banner">
				<div class="add">
					<a class="addA" href="{:url('admin/BusinessWorks/worksAdd')}">添加商家作品&nbsp;&nbsp;+</a>
				</div>
				<!-- banner 表格 显示 -->
				<div class="banShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">序号</td>
							<td width="308px" class="tdColor">名称</td>
							<td width="308px" class="tdColor">所属商家</td>
							<td width="308px" class="tdColor">所属类型</td>
							<td width="125px" class="tdColor">操作</td>
						</tr>
						{foreach $data as $vo} 
							<tr>
								<td>{$vo.pworksId}</td>
								<td>{$vo.pworksName}</td>
								<td>{$vo.pbusinessTitle}</td>
								<td>{$vo.ptypeName}</td>
								<td><a href="{:url('admin/BusinessWorks/worksUpdate')}?id={$vo.pworksId}"><img class="operation"
										src="__PUBLIC__/img/update.png"></a> <a href="{:url('admin/BusinessWorks/worksDelete')}?id={$vo.pworksId}"><img class="operation delban"
									src="__PUBLIC__/img/delete.png"></a></td>
							</tr>
						{/foreach}
					</table>
					<div class="paging">此处是分页</div>
				</div>
				<!-- banner 表格 显示 end-->
			</div>
			<!-- banner页面样式end -->
		</div>

	</div>
</body>
</html>