<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>注册-到喜啦</title>
	<meta name="keywords" content="注册-到喜啦" />
	<meta name="description" content="注册-到喜啦" />
	<link href="__PUBLIC__/css/e32204e06d824d4fa0b30fe0d4ce2c73.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/js/7b710d7555fb489eb4d9cc602df21db8.js"></script>
	<link href="__PUBLIC__/css/1501.css" rel="stylesheet" type="text/css"/>
	<script src="__PUBLIC__/js/1501.js"></script>
	<!--[if lt IE 9]><!--<script src="__PUBLIC__/js/html5.js"></script>--><![endif]-->
	
<base target="_blank"/>
</head>
<body>
	<header id="loginHeader">
    	<div class="tp">
        	<a target="_blank" href="//bj.daoxila.com/"><span id="logo">到喜啦</span></a>
        </div>
    </header>
	<section id="main">
    	<div id="loginBox">
            <div id="register" class="registerCon">
                <div class="bor">
                    <div class="top">
                    	<div class="flower leftPic"></div>
                        <div class="flower rightPic"></div>
                    </div>
                    <div class="mid">
                        <!-- 头部 -->
                        <div class="title clearfix">
                            <h2 class="tit">登录</h2>
                        </div>
                        <div class="line"></div>
                        <!--  主内容区   -->
                        <form action="{:url('initialize/register')}" method="post" target="_top">
                        <div class="con">
                            <div class="acc clearfix">
                                <span class="name">手机</span>
                                <input class="inp" type="text" name="acc" value="" maxlength="11"><label class="leb">请输入手机号码</label>
                                <span class="msg"></span>
                            </div>
                                                        <div class="imgCode clearfix">
                                <span class="name">验证码</span>
                                <input class="inp" type="text" name="imgCode" value="" onblur="yanzheng()" maxlength="4">
                                <img src="{:captcha_src()}" alt="captcha" id="code" width="120" height="50"  onclick="yun()" />
                            </div>
                                                        <div class="checkCode clearfix">
                                <span class="name">短信动态码</span>
                                <input class="inp" type="text" name="checkCode" value="" maxlength="6">
                                <div class="getCode0" >获取动态码</div>
                                <div class="getCode" style="background-color: red">获取动态码</div>
                            </div>
                            <div class="autoLogin">我已阅读并同意<a href="//www.daoxila.com/article-39">「到喜啦用户协议」</a><i class="cur"></i></div>
                            <div class="btnBox">
                            	<button class="btn">绑定</button>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="foot">
                    	<div class="flower leftPic"></div>
                        <div class="flower rightPic"></div>
                    </div>       
                </div>
                <div class="allTips">手机号错误</div>
            </div>
        </div>
    </section>
	<!--尾部-->
<footer id="footer">
	<strong class="loginCopy">CopyRight 2017 &nbsp;daoxila.com All Rights Reserved&nbsp;&nbsp;&nbsp;<a target="_blank" href="//www.miitbeian.gov.cn/">沪ICP备10039145号</a> <a class="gh" target="_blank" href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011002000670">沪公网安备 31011002000670号</a> </strong>
</footer><!--尾部结束-->

<!-- Google Code for Convertion -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1014092333;
var google_conversion_label = "7OqDCKOo5QQQraTH4wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="__PUBLIC__/js/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="picture/bbf63bde05bd4f698d8377d797d756c1.gif"/>
</div>
</noscript>

</body>
</html>
<!---验证码的切换-->
<script>
    function yun(){
        var ts = Date.parse(new Date())/1000;
        document.getElementById('code').src="__PUBLIC__/index.php/captcha?id="+ts;
    }
</script>
<!---检验图片验证码-->
<script>
    function yanzheng()
    {
        var yz = $("input[name='imgCode']").val();
        var getCode0 = $('.getCode0')
        var getCode = $('.getCode')
        $.ajax({
            type: "POST",
            url: "captcha",
            data: {yz:yz},
            success: function(msg){
                if(msg==1){
                    getCode.show()
                    getCode0.hide()
                }
            }
        });
    }
</script>
<!--发送验证码-->
<script>
    $('.getCode').click(function(){
        var phone = $("input[name='acc']").val()
        var getCode0 = $('.getCode0')
        var getCode = $('.getCode')
        getCode.hide()
        getCode0.show()
        $.ajax({
            type: "POST",
            url: "send_phone",
            data: {phone:phone},
        });
    })
</script>