
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>【韩国艺匠ARTIZ STUDIO怎么样,好不好?】婚纱点评-北京 - 到喜啦</title>
<meta name="keywords" content="韩国艺匠ARTIZ STUDIO婚纱点评,韩国艺匠ARTIZ STUDIO怎么样,韩国艺匠ARTIZ STUDIO好不好" />
<meta name="description" content="到喜啦(DaoXiLa.com),上海婚纱酒店预订知名品牌，提供韩国艺匠ARTIZ STUDIO的婚纱点评、评价，韩国艺匠ARTIZ STUDIO怎么样，好不好?通过查看网友的客观评价马上就知道啦！" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="full-screen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_hotel.png"/>
<link href="//s4.dxlfile.com/??public/css/m.css,m-www/css/m-www.css" rel="stylesheet" type="text/css"/>
<!-- <script src="//s4.dxlfile.com/??public/js/jquery-2.1.0.min.js,public/js/dxl2.js,public/js/m.js,m-www/js/m-www.js?v=14254570119"></script> -->

<link rel="stylesheet" type="text/css" href="//s4.dxlfile.com/m-www/css/mCommentList/1505.css?v=14254570119">
<script src="//s4.dxlfile.com/m-www/js/mCommentList/1505.js?v=14254570119"></script>
</head>

<body>

<header>
    <div class="secTitMain redSquare">
        <a href="/bj/HunShaSheYing/BeiJingHanGuoYiJiang-Info" class="prev"></a>点评
                <div class="riIcon clearfix">
            <a href="#" class="toWrite"></a>
        </div>
            </div>
</header>
<!-- 顶部 end -->

<section id="comment" data-shop-id="614" data-review-type="2"   >
    <ul>
    <li>
    <img src="//iq.dxlfile.com/user/avatar/original/2015-04/201504171348546914.jpg?imageView2/2/w/110/h/110" class="le">
    	<div class="ri">
    		<div class="info">
    			<h3>
	    			<span class="name">starry sky</span>
	    			<!-- <span class="star"><i class="s5"></i></span> -->
    			</h3>
    		</div>
    		<div class="content">朋友在他家拍过，三月末到店咨询当时就签单了，定在工作日拍摄，因为周末人确实多。选的韩国老师化妆，赴韩老师拍摄，VIP间。每次需要进行下一步之前都会接到贴心的电话，到店负责人都会迎接。拍摄前选衣服也要感谢杜玲老师，试了一个多小时，一点也没有不耐烦，最终选的都很喜欢，升级了三套。拍摄当天八点就到了，金老师给我画了两个小时的妆，非常自然。助理婷婷期间一直帮我拿鞋换鞋怕我累，他们超级贴心。摄影师简直是大师级别，张老师要求特别高，但是效率非常高，我五套衣服，不到六点就拍摄完了。精修师也是超级负责的，一个一个给我们看，有问题她就改。最后，三本相册，140张精修，一堆摆台挂件什么的，质量绝对好。要的就是这个服务和产品。以后生宝宝也也会选择这里，虽然可能会多花钱，但是值。</div>
    		<dl class="pictures clearfix">
    			<dd>
    				<img src="http://iq.dxlfile.com/comment/2016-07/20160725132410590.jpg">
    			</dd>
    			<dd>
    				<img src="http://iq.dxlfile.com/comment/2016-07/20160725132470196.jpg">
    			</dd>
    			<dd>
    				<img src="http://iq.dxlfile.com/comment/2016-07/20160725132471770.jpg">
    			</dd>
    		</dl>
    	</div>
    </li>
    </ul>
</section>
<!-- 评论列表 end -->

<!-- <section class="loadWrap">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</section> -->
<!--加载提示 end -->
<div class="writeComm"><a href="{:url('home/Shoot/comment')}">我要点评</a></div>
<!--我要评价 end-->


</body>
</html>
