<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>【中国甜蜜海岸国际摄影集团_6988北京套餐（活动套餐）】最高返现698.8元-北京</title>
    <meta name="keywords" content="6988北京套餐（活动套餐）}" />
    <meta name="description" content="中国甜蜜海岸国际摄影集团：6988北京套餐（活动套餐）市场最低价 6988元，订单返利 698.8元。【预订成功即送超值大礼包】点击查看中国甜蜜海岸国际摄影集团更多系列和优惠活动。" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="full-screen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_wedding.png"/>

<link href="//s4.dxlfile.com/??public/css/m.css,m-wedding/css/m-wedding.css?v=14254570119" rel="stylesheet" type="text/css"/>

<!-- <script src="//s4.dxlfile.com/??public/js/jquery-2.1.0.min.js,public/js/dxl2.js,public/js/m.js,m-wedding/js/m-wedding.js?v=14254570119"></script> -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//s4.dxlfile.com/m-wedding/css/txDetail/1505.css?v=14254570119">
<script src="//s4.dxlfile.com/m-wedding/js/txDetail/1505.js?v=14254570119"></script>
</head>
<body _bizid="8062" id="WeddingTag"  travelflag="">
<header><div class="secTitMain redSquare"><a href="{:url('home/Shoot/price')}?id={$id}" class="prev"></a><a href="/" class="home"></a>详情介绍</div></header>
<!-- 顶部 end -->

<section id="txDetail">
    <div class="txDImg">
        <img src="__PUBLIC__/{$price.ppriceImg}">
    </div>
    <div class="txDPrice clearfix">
        <div class="txPriceLe">
            <p class="price">￥<span>{$price.ppriceMoney}</span></p>
        </div>
                <div class="txPriceRi">领取优惠劵</div>
            </div>
    <div class="txDConter setWidth">
        <div class="txDName">{$price.ppriceTitle}</div>
        <div class="txDInfo">
            <h3>套系详情</h3>
            <ul>
                <li class="txDItem1">
                    <p><i>新娘造型</i><span>{$price.womanZao}套</span></p>
                    <p><i>新郎造型</i><span>{$price.manZao}套</span></p>
                    <p><i>服装选择</i><span>{$price.clothingOptions}</span></p>
                </li>
                <li class="txDItem2">
                    <p><i>拍摄</i><span>{$price.shoot}张</span></p>
                    <p><i>精修</i><span>{$price.truing}套</span></p>
                    <p><i>入盘</i><span>{$price.ruPan}套</span></p>
                </li>
            </ul>
        </div>
        <!-- <div class="more"><a>查看更多详情</a><i></i></div> -->
    </div>
</section>
<!-- 商家详情 end -->

<section id="shop" class="setWidth">
    <h3 class="taoxiTit">商铺信息</h3>
    <div class="shopName">
        <a href="{:url('home/Shoot/xiangQing')}?id={$price.pbusinessId}">
            <p class="name">中国甜蜜海岸国际摄影集团</p>
            <p class="star"><span class="s5" ></span><i>5</i></p>
            <i class="icon"></i>
        </a>
    </div>
    <div class="shopInfo">
        <span class="place">丰台区</span>
        <span class="sytle">个性</span>
        <span class="txNum">套系{$priceNum}个</span>
        <span class="zpNum">作品{$worksNum}个</span>
    </div>
</section>
<!-- 商铺信息 end -->

<section id="txTui" class="setWidth">
    
    <h3 class="taoxiTit">热门推荐</h3>
    <ul>
        {foreach $order as $vo}
        <li>
            <a href="{:url('home/Shoot/priceDetails')}?id={$vo.ppriceId}">
                <img class="txTuiLe" src="__PUBLIC__/{$vo.ppriceImg}" >
                <div class="txTuiRi">
                    <h3>{$vo.ppriceTitle}</h3>
                    <div class="returnCash">
                        <p class="oldPrice">￥<span>{$vo.ppriceMoney}</span></p>
                    </div>
                </div>
            </a>
        </li>
        {/foreach}
    </ul>
    <div class="more"><a href="{:url('home/Shoot/price')}?id={$price.pbusinessId}">查看全部{$priceNum}个套系</a><i></i></div>
</section>
<!--  热门推荐 end  -->
<section id="returnInfo">
    <div class="dialogWrap">
        <h1><span></span>领取优惠券</h1>
        <section id="guide">
            <p class="sec2ed">请留下您的联系方式，到喜啦专业的结婚顾问会联系您确认优惠券详情，请保持手机畅通哦</p>
            <div class="myPhoneDiv">
                <p><input type="tel" class="phoneNum" placeholder="请输入11位手机号" maxlength="11"><span class="closeIcon"></span></p>
            </div>
            <a href="#" class="sure">提交</a>
            <p class="botTips">*优惠券仅限在到喜啦预订婚纱摄影使用</p>
        </section>
    </div>
</section>
<!-- 领取返现 end -->

</body>
        
</html>
<script>
    // $(".txPriceRi").click(function(){
    //     $(".returnInfo",attr("style","display: block; width: 751px; height: 546px; left: 0px; opacity: 1;"));
    // })
</script>