<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>婚纱摄影商家套系</title>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="full-screen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_wedding.png"/>

<link href="//s4.dxlfile.com/??public/css/m.css,m-wedding/css/m-wedding.css?v=14254570119" rel="stylesheet" type="text/css"/>

<script src="//s4.dxlfile.com/??public/js/jquery-2.1.0.min.js,public/js/dxl2.js,public/js/m.js,m-wedding/js/m-wedding.js?v=14254570119"></script>
<link rel="stylesheet" type="text/css" href="//s4.dxlfile.com/m-wedding/css/txList/1501.css?v=14254570119">
<script src="//s4.dxlfile.com/m-wedding/js/txList/1501.js?v=14254570119"></script>
</head>
<body>

    <header>
		<div class="secTitMain redSquare">
			<a href="{:url('home/Shoot/xiangQing')}?id={$id}" class="prev"></a>商家套系
			<div class="riIcon clearfix">
				<a class="screen" comment="我在@到喜啦 上看中了 我期待已久的#梦幻婚纱照#  通过到喜啦预定还能参加消费满1000返100的活动， 你也来看看吧！"></a>
			</div>
		</div>
	</header>
    <!-- 顶部 end -->
	
	<section id="txList" class="clearfix">
		<ul>
			{foreach $price as $vo}	
            <li>
                <a href="{:url('home/Shoot/priceDetails')}?id={$vo.ppriceId}">
				<div class="smallImg">
					<img src="__PUBLIC__/{$vo.ppriceImg}">
				</div>
				<h3>{$vo.ppriceTitle}</h3>
				<div class="returnCash">
					<p class="oldPrice">￥<span>{$vo.ppriceMoney}</span></p>
				</div>
                </a>
			</li>
			{/foreach}
        </ul>
	</section>
	<!-- 优惠详情弹层 end -->

</body>
</html>
