<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;商家管理
			</div>
		</div>
		<div class="page ">
			<!-- 上传广告页面样式 -->
			<div class="banneradd bor">
				<div class="baTop">
					<span>添加商家</span>
				</div>
				<div class="baBody">
				<form action="{:url('admin/business/getAdd')}" enctype="multipart/form-data" method="post">
					<div class="bbD">
						商家名称：<input type="text" name="pbusinessTitle" class="input1" />
					</div>
					<div class="bbD">
						上传图片：<input type="file" name="image"/>
					</div>
					<div class="bbD">
						<p class="bbDP">
							<button type="submit" class="btn_ok btn_yes">提交</button>
							<a class="btn_ok btn_no" href="#">取消</a>
						</p>
					</div>
					<div class="bbD">
						类型：
						<select name="ptypeId" class="input1" id="">
						{foreach $type as $ve} 
							<option value="{$ve.ptypeId}">{$ve.ptypeName}</option>
							{/foreach}
						</select>
					</div>
				</form> 
				</div>
			</div>

			<!-- 上传广告页面样式end -->
		</div>
	</div>
</body>
</html>