<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="keywords" content="北京婚宴酒店,婚宴预订,婚宴价格" />
	<meta name="description" content="到喜啦免费为您提供北京婚宴预订，菜单、价格，以及最新优惠信息，预订婚宴即送超值大礼包。婚宴热线：400-820-1709" />

	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="full-screen" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon" href="//s4.dxlfile.com/public/img/logo/wap/256_hotel.png"/>
	<link href="__PUBLIC__/css/hunyanlist-w.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<div class="secTitMain redSquare">
			<a href="/" class="prev"></a>
			<h1 class="LogoName">
				<span>婚宴酒店</span>
			</h1>
			<div class="riIcon clearfix">
				<a class="search"></a>
			</div>
		</div>
	</header>
	<!-- 顶部 end -->

    <section id="sellerSort">
        <div class="allSeller sortNav">
            <div class="selectShow" data-type="1"><span>全部商区</span><i class="sortIconI"></i></div>
            <div class="popup">
                <ul>
                    <li data-url=""><a href="//m.daoxila.com/bj/HunYan-List">全部商区</a></li>

                    <li data-url="Region-ChaoYang"><a href="//m.daoxila.com/bj/HunYan-List/Region-ChaoYang" >朝阳区</a></li>

                    <li data-url="Region-HaiDian"><a href="//m.daoxila.com/bj/HunYan-List/Region-HaiDian" >海淀区</a></li>

                    <li data-url="Region-DongCheng"><a href="//m.daoxila.com/bj/HunYan-List/Region-DongCheng" >东城区</a></li>

                    <li data-url="Region-XiCheng"><a href="//m.daoxila.com/bj/HunYan-List/Region-XiCheng" >西城区</a></li>

                    <li data-url="Region-FengTai"><a href="//m.daoxila.com/bj/HunYan-List/Region-FengTai" >丰台区</a></li>

                    <li data-url="Region-ChangPing"><a href="//m.daoxila.com/bj/HunYan-List/Region-ChangPing" >昌平区</a></li>

                    <li data-url="Region-TongZhou"><a href="//m.daoxila.com/bj/HunYan-List/Region-TongZhou" >通州区</a></li>

                    <li data-url="Region-DaXing"><a href="//m.daoxila.com/bj/HunYan-List/Region-DaXing" >大兴区</a></li>

                    <li data-url="Region-ShiJingShan"><a href="//m.daoxila.com/bj/HunYan-List/Region-ShiJingShan" >石景山区</a></li>

                    <li data-url="Region-BeiJingJinJiao"><a href="//m.daoxila.com/bj/HunYan-List/Region-BeiJingJinJiao" >近郊</a></li>

                    <li data-url="Region-XuanWuQu"><a href="//m.daoxila.com/bj/HunYan-List/Region-XuanWuQu" >宣武区</a></li>

                    <li data-url="Region-ShunYi"><a href="//m.daoxila.com/bj/HunYan-List/Region-ShunYi" >顺义区</a></li>

                    <li data-url="Region-ChongWen"><a href="//m.daoxila.com/bj/HunYan-List/Region-ChongWen" >崇文区</a></li>

                    <li data-url="Region-FangShan"><a href="//m.daoxila.com/bj/HunYan-List/Region-FangShan" >房山区</a></li>

                    <li data-url="Region-HuaiRou"><a href="//m.daoxila.com/bj/HunYan-List/Region-HuaiRou" >怀柔区</a></li>

                </ul>
            </div>
        </div>
        <!--全部商区 end-->

        <div class="allStyle sortNav">
            <div class="selectShow" id ="con" data-type="2"><span>全部商户</span><i class="sortIconI"></i></div>
            <div class="popup">
                <div class="actived" >
                    <div class="selectTag">婚宴酒店</div>
                    <ul class="allStyleType">
                        <li data-url=""><a href="//m.daoxila.com/bj/HunYan-List">全部商户</a></li>

                        <li data-url="Type-CanTing"><a href="">特色餐厅</a></li>

                        <li data-url="Type-JiuDian"><a href="">星级酒店</a></li>

                        <li data-url="Type-HuiSuo"><a href="">婚礼会所</a></li>

                        <li data-url="Type-YangFang"><a href="">花园洋房</a></li>

                        <li data-url="Type-YouLun"><a href="">游轮婚礼</a></li>

                    </ul>
                </div>
                <div >
                    <div class="selectTag">婚纱摄影</div>
                    <ul>
                        <li><a href="">全部商家</a></li>
                        <li><a href="">欧式</a></li>
                        <li><a href="">韩式</a></li>
                        <li><a href="">个性</a></li>
                        <li><a href="">中式</a></li>
                        <li><a href="">旅拍</a></li>
                        <li><a href="">微电影</a></li>
                    </ul>
                </div>
                <div>
                    <div class="selectTag">婚礼策划</div>
                    <ul>
                        <li><a href="">全部风格</a></li>
                        <li><a href="">奢华</a></li>
                        <li><a href="">英伦</a></li>
                        <li><a href="">清新</a></li>
                        <li><a href="">童话</a></li>
                        <li><a href="">森系</a></li>
                        <li><a href="">中式</a></li>
                        <li><a href="">复古</a></li>
                        <li><a href="">户外</a></li>
                        <li><a href="">草坪</a></li>
                        <li><a href="">海洋</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--全部商户 end-->
        <div class="smartSort sortNav">
            <div class="selectShow" data-type="3"><span>智能排序</span><i class="sortIconI"></i></div>
            <div class="popup">
                <ul>


                    <li data-url="Sort-0"><a href="">智能排序</a></li>

                    <li data-url="Sort-1"><a href="">评分最高</a></li>

                    <li data-url="Sort-2"><a href="">环境最佳</a></li>

                    <li data-url="Sort-3"><a href="">菜品最佳</a></li>

                    <li data-url="Sort-4"><a href="">服务最佳</a></li>

                    <li data-url="Sort-5"><a href="">价格最低</a></li>

                    <li data-url="Sort-6"><a href="">价格最高</a></li>

                </ul>
            </div>
        </div>
        <!--智能排序 end-->
        <div class="defaultSort sortNav">
            <div class="selectShow" data-type="4"><span>筛选</span><i class="sortIconI"></i></div>
            <div class="popup popForFilter">
                <div class="group discounts">
                    <h3>折扣和优惠</h3>
                    <div class="clearfix">
                        <span>有礼包</span><span>有优惠</span>
                    </div>
                </div>
                <div class="group priceRange">
                    <h3>价格区间（元）</h3>
                    <div class="spanItem">
                        <p class="priceP1 clearfix">
                            <span data-url="Price-0,4000">4000元以下</span>
                            <span data-url="Price-4000,5000">4000-5000</span>
                            <span data-url="Price-5000,6000">5000-6000</span>
                            <span data-url="Price-6000">6000元以上</span>
                        </p>
                        <!-- <p class="priceP2 clearfix">
                            <span class="dSpanInput"><input type="text" placeholder=""></span>
                            <span class="dSpanInput"><input type="text" placeholder=""></span>
                        </p> -->
                    </div>
                </div>
                <div class="group tables">
                    <h3>桌数</h3>
                    <div class="spanItem clearfix">
                        <span data-url="Desk-0,10">10桌以下</span>
                        <span data-url="Desk-10,20">10-20桌</span>
                        <span data-url="Desk-20,30">20-30桌</span>
                        <span data-url="Desk-30">30桌以上</span>
                    </div>
                </div>
            </div>
            <div class="group submit"><span>确认</span></div>
        </div>
        <!--筛选 end-->
    </section>
	<!-- 排序 end -->
<div class="xx">
	<section>
        <ul style="display: block;clear: both;" >
            <?php foreach($list as $k=>$v){ ?>
              <li>
                  <a href="__PUBLIC__/index.php/home/hotel/hotel_xq?id={$v.id}">
                <div style="border-bottom: 1px solid #999;margin: 10px 0 10px 0 ;">
                    <img src="__PUBLIC__/img/user/{$v.hotel_img1}" style="width:130px;height:80px;float:left;margin-right:10px;">
                    <div class="title" style="margin: 0 0 10px 10px ;">
                        <h3>
                            <a href="__PUBLIC__/index.php/home/hotel/hotel_xq?id={$v.id}" >{$v.hotel_name}</a>
                        </h3>
                        <div>
                            <span class="fan"></span>
                            <span class="fu"></span>
                            <span class="gift"></span>
                        </div>
                    </div>
                    <div style="margin: 0 0 10px 10px ;">
                        <p >
                            <span class="big">￥<i>3888-6388</i>/桌</span>
                            <span class="spetial">桌数：<i>{$v.table_number}</i></span>
                        </p>
                        <p >
                            <span class="district">{$v.hotel_address}</span>
                            <span class="style">{$v.hotel_type}</span>
                        </p>
                    </div>
                </div>
                  </a>
        </li>
            <?php }?>
        </ul>
    </section>

</div>
	<!-- 商家列表 end -->

	<section class="loadWrap">
		<div class="spinner">
		</div>
		<div class="loadTips"></div>
	</section>
	<!-- 加载提示 end -->
    <div class="page">
        <a href="javascript:page(1)">首页</a>

        <a href="javascript:page({$page-1})">上一页</a>
        <span>{$page} / {$pagesum}</span>
        <a href="javascript:page({$page+1})">下一页</a>

        <a href="javascript:page({$pagesum})">末页</a>

    </div>


	<footer>
		<nav>
			<a href="#">电脑版</a>
			<a class="download" href="#">App下载</a>
			<a href="#">关于我们</a>
		</nav>
		<h3>@2017S.W 沪B2-20120047</h3>
	</footer>
	<!-- 底部 end -->


	<script src="__PUBLIC__/js/hunyanlist-w.js"></script>
    <script src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script>
    function page(a){
        //alert(a);
        var address =  $(".selectShow").find("span").html();
        var type  = $("#con").find("span").html();
        address = address=='全部商区'?'':address;
        type    = type=='全部商户'?'':type;
        Search(type,address,a);
    }

        $(".allStyle").find("li").click(function(){
            var type = $(this).text();
            var address =  $(".selectShow").find("span").html();
            address = address=='全部商区'?'':address;
            type    = type=='全部商户'?'':type;
            Search(type,address);
        });

        $(".popup > ul > li").click(function(){
            var address = $(this).text();
            var type  = $("#con").find("span").html();
            address = address=='全部商区'?'':address;
            type    = type=='全部商户'?'':type;
            Search(type,address);
        });


        //搜索
        function Search(type,address,a=1){
            var str="";
            $.ajax({
                type: "get",
                url: "{:url('hotel/hotel')}",
                data: {
                    address:address,
                    type:type,
                    page:a
                },
                dataType:'json',
                success: function(msg){
                    var str="";
                    $.each(msg.data,function(k,v){
                        str=str+'  <li><a href="__PUBLIC__/index.php/home/hotel/hotel_xq?id='+v.id+'">';
                        str=str+'<div style="border-bottom: 1px solid #999;margin: 10px 0 10px 0 ;">';
                        str=str+'<img src="__PUBLIC__/img/user/'+v.hotel_img1+'" style="width:130px;height:80px;float:left;margin-right:10px;">';
                        str=str+'<div class="title" style="margin: 0 0 10px 10px ;"><h3><a href="__PUBLIC__/index.php/home/hotel/hotel_xq?id='+v.id+'" >'+v.hotel_name+'</a> </h3>';
                        str=str+'<div><span class="fan"></span><span class="fu"></span><span class="gift"></span></div></div>';
                        str=str+'<div style="margin: 0 0 10px 10px ;"><p ><span class="big">￥<i>3888-6388</i>/桌</span><span class="spetial">桌数：<i>'+v.table_number+'</i></span></p><p ><span class="district">'+v.hotel_address+'</span><span class="style">'+v.hotel_type+'</span></p></div>';
                        str=str+'</div></a></li>';
                    });
                    var page = ' <a href="javascript:page(1)">首页</a>';
                    page = page + '<a href="javascript:page(' + (parseInt(msg.page)-1) + ')">上一页</a>';
                    page = page + '   <span>'+msg.page+' / '+ msg.pagesum+'</span>';
                    page = page + '<a href="javascript:page(' + (parseInt(msg.page)+1) + ')">下一页</a>';
                    page = page +'<a href="javascript:page('+msg.pagesum+')">末页</a>';
                    $(".page").html(page);
                    $(".xx").html(str);
                }
            });
        }
    </script>
</body>
</html>


