<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理员管理-有点</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/page.js" ></script> -->
    <style>
        .pagination li {
            float:left;
            padding-left: 25px;;
        }
    </style>
</head>

<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;-</span>&nbsp;管理员管理
        </div>
    </div>
        <div>
            <form action="__PUBLIC__/index.php/admin/hotel/hotel_search" method="get">
            名称：<input type="text"  name="hotel_name"/>
            地址：<input type="text"  name="hotel_address"/>
            <input type="submit" class="search" value="搜索"/>
            </form>
        </div>
    <div class="page">
        <!-- user页面样式 -->
        <div class="connoisseur">

            <!-- user 表格 显示 -->
            <div class="conShow">
                <table border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="66px" class="tdColor tdC">序号</td>
                        <td width="66px" class="tdColor tdC">酒店图片</td>
                        <td width="150px" class="tdColor tdC">酒店名称</td>
                        <td width="150px" class="tdColor tdC">酒店电话</td>
                        <td width="66px" class="tdColor tdC">酒店类型</td>

                        <td width="200px" class="tdColor tdC">酒店地址</td>
                        <td width="200px" class="tdColor tdC">酒店标签</td>
                        <td width="66px" class="tdColor tdC">用户评价数</td>
                        <td width="130px" class="tdColor">操作</td>
                    </tr>
                   <?php foreach($list as $k=>$v){ ?>
                    <tr height="40px">
                        <td>{$v.id}</td>
                        <td><img src="http://omr2ajk9i.bkt.clouddn.com/{$v.hotel_img1}" width="66px" height="66px"></td>
                        <td>{$v.hotel_name}</td>
                        <td>{$v.hotel_phone}</td>
                        <td>{$v.hotel_type}</td>
                        <td>{$v.hotel_address}</td>
                        <td>{$v.hotel_label}</td>
                        <td>{$v.evaluation_number}</td>
                        <td>
                            <a href="__PUBLIC__/index.php/admin/hotel/hotel_add">添加</a>
                            <a href="__PUBLIC__/index.php/admin/package/package?id={$v.id}">宴会</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <a href="__PUBLIC__/index.php/admin/hotel/hotel_update?id={$v.id}"><img class="operation" src="__PUBLIC__/img/update.png"></a>
                            <a href="__PUBLIC__/index.php/admin/hotel/hotel_del?id={$v.id}"><img class="operation delban" src="__PUBLIC__/img/delete.png"></a>
                        </td>
                    </tr>
                    <?php }?>
                </table>
                <div class="paging">{$page}</div>
            </div>
            <!-- user 表格 显示 end-->
        </div>
        <!-- user页面样式end -->
    </div>

</div>


</body>

<script type="text/javascript">
    // 广告弹出框

    $(".delban").click(function(){
        $(".banDel").show();
    });
    $(".close").click(function(){
        $(".banDel").hide();
    });
    $(".no").click(function(){
        $(".banDel").hide();
    });
    // 广告弹出框 end
</script>

</html>
