<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加用户-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">婚宴</a>&nbsp;-</span>&nbsp;酒店
			</div>
		</div>
		<div class="page ">
			<!-- 会员注册页面样式 -->
            <form action="__PUBLIC__/index.php/admin/hotel/hotel_add" method="post" enctype="multipart/form-data">
			<div class="banneradd bor">
				<div class="baBody">
					<div class="bbD">
						&nbsp;&nbsp;&nbsp;酒店名：<input type="text" class="input3" name="hotel_name"/>
					</div>
					<div class="bbD">
						酒店电话：<input type="text" class="input3" name="hotel_phone" />
					</div>
					<div class="bbD">
                        容纳桌数：<input type="text" class="input3" name="table_number"/>
					</div>
                    <div class="bbD">
                        酒店类型:&nbsp&nbsp&nbsp&nbsp&nbsp
                        <select name="hotel_type">
                            <option>酒店类型</option>
                            <option value="快捷酒店">快捷酒店</option>
                            <option value="二星级酒店">二星级酒店</option>
                            <option value="三星级酒店">三星级酒店</option>
                            <option value="四星级酒店">四星级酒店</option>
                            <option value="五星级酒店">五星级酒店</option>
                        </select>
                        <!--酒店类型：<input type="text" class="input3" name="hotel_type_id"/>-->
                    </div>
                    <div class="bbD">
                        酒店地址：<input type="text" class="input3" name="hotel_address"/>
                    </div>
                    <div class="bbD">
                        酒店标签：<input type="text" class="input3" name="hotel_label"/>
                    </div>
                    <div class="bbD">
                        酒店简介：<input type="text" class="input3" name="hotel_desc"/>
                    </div>
                    <div class="bbD">
                        酒店详细信息：<input type="text" class="input3" name="hotel_content"/>
                    </div>

                        <input type="file" class="input3" name="hotel_img1"/>
                        <input type="file" class="input3" name="hotel_img2"/>
                        <input type="file" class="input3" name="hotel_img3"/>
                        <input type="file" class="input3" name="hotel_img4"/>

					<div class="bbD">
						<p class="bbDP">
							<input type="submit" value="提交" class="btn_ok btn_no" >
						</p>
					</div>
				</div>
			</div>
            </form>

			<!-- 会员注册页面样式end -->
		</div>
	</div>
</body>
</html>