<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>头部-有点</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__PUBLIC__/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;商家套系
			</div>
		</div>
		<div class="page ">
			<!-- 上传广告页面样式 -->
			<div class="banneradd bor">
				<div class="baTop">
					<span>修改商家套系</span>
				</div>
				<div class="baBody">
				<form action="{:url('admin/BusinessPrice/getUpdate')}" enctype="multipart/form-data" method="post">
					<div class="bbD">
						类型名称：<input type="text" name="ppriceTitle" value="{$info.ppriceTitle}" class="input1" />
					</div>
					<div class="bbD">
						<img src="__PUBLIC__/{$info.ppriceImg}" alt="" />
						上传图片：<input type="file" name="image"/>
					</div>
					<div class="bbD">
						套系价格：<input type="text" name="ppriceMoney" value="{$info.ppriceMoney}" class="input1" />
					</div>
					<div class="bbD">
						新娘造型：<input type="text" name="womanZao" value="{$info.womanZao}" class="input1" />
					</div>
					<div class="bbD">
						新郎造型：<input type="text" name="manZao" value="{$info.manZao}" class="input1" />
					</div>
					<div class="bbD">
						服装选择：<input type="text" name="clothingOptions" value="{$info.clothingOptions}" class="input1" />
					</div>
					<div class="bbD">
						拍摄：<input type="text" name="shoot" value="{$info.shoot}" class="input1" />
					</div>
					<div class="bbD">
						精修：<input type="text" name="truing" value="{$info.truing}" class="input1" />
					</div>
					<div class="bbD">
						入盘：<input type="text" name="ruPan" value="{$info.ruPan}" class="input1" />
					</div>
					<div class="bbD">
						商家：
						<select name="pbusinessId" class="input1" id="">
						{foreach $data as $vo}
							{if condition="$info.pbusinessId eq $vo.pbusinessId"} 
							<option value="{$vo.pbusinessId}" selected="selected">{$vo.pbusinessTitle}</option>
							{else/}
							<option value="{$vo.pbusinessId}">{$vo.pbusinessTitle}</option>
							{/if}
							{/foreach}
						</select>
					</div>
					<div class="bbD">
						<p class="bbDP">
							<input type="hidden" name="ppriceId" value="{$info.ppriceId}" class="input1" />
							<button type="submit" class="btn_ok btn_yes">提交</button>
							<a class="btn_ok btn_no" href="#">取消</a>
						</p>
					</div>
				</form> 
				</div>
			</div>

			<!-- 上传广告页面样式end -->
		</div>
	</div>
</body>
</html>